{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une antenne{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-8 offset-md-2">
        
            <h1 class="my-h1">
                <a href="{{ path('admin_antennes_index') }}" class="btn btn-my-dark"><i class="uil uil-arrow-left"></i> Retour à la liste des antennes</a> <br>
                {{ antenne }}
            </h1>

            {{ form_start(form) }}

                <div class="row">

                    {# Titre #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.title) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.title) }}
                    </div>

                    {# Adresse #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.address) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.address) }}
                    </div>

                    {# Code postal #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.postcode) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.postcode) }}
                    </div>

                    {# Ville #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.city) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.city) }}
                    </div>

                    {# Téléphone #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.phoneNumber) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.phoneNumber) }}
                    </div>

                </div>

                <div class="mt-4 mb-4">
                    <button type="submit" class="btn btn-my-add-admin float-right"><i class="uil uil-plus"></i> Modifier l'antenne</button>
                    <a href="{{ path('admin_antennes_index') }}" class="btn btn-my-danger float-right"><i class="uil uil-times"></i> Annuler</a>
                </div>

            {{ form_end(form) }}

        </div>
    </div>


</div>
{% endblock %}

