{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une antenne{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box">

        
            <h1 class="my-h1">
                {# <a href="{{ path('admin_users_index') }}" class="btn btn-my-secondary small"><i class="uil uil-arrow-left"></i></a> #}
                {{ antenne.title }}
            </h1>

            {{ form_start(form) }}

                <div class="row">

                    {# Title #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.title, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                    {# Adresse #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.address, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                    {# Code postal #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.postcode, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                    {# Ville #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.city, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                    {# Numéro de téléphone #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.phoneNumber, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                </div>


                

                <div class="row mt-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-my-primary mr-2 mt-4">Modifier</button>
                        <a href="{{ path('admin_antennes_index') }}" class="btn mt-4 rouge">Annuler</a>  
                    </div>

                
                </div>

            {{ form_end(form) }}


</div>



{% endblock %}

{% block javascripts %}


{% endblock %}


{# {% extends 'admin/base.html.twig' %}

{% block title %}Création d'une antenne{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-8 offset-md-2">
        
            <h1 class="my-h1">
                <a href="{{ path('admin_antennes_index') }}" class="btn btn-my-dark"><i class="uil uil-arrow-left"></i> Retour à la liste des antennes</a> <br>
                Nouvelle antenne
            </h1>

            {{ form_start(form) }}

                <div class="row">

  
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.title) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.title) }}
                    </div>


                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.address) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.address) }}
                    </div>

     
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.postcode) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.postcode) }}
                    </div>


                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.city) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.city) }}
                    </div>

            
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.phoneNumber) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.phoneNumber) }}
                    </div>

                </div>

                <div class="mt-4 mb-4">
                    <button type="submit" class="btn btn-my-add-admin float-right"><i class="uil uil-plus"></i> Ajouter l'antenne</button>
                    <a href="{{ path('admin_antennes_index') }}" class="btn btn-my-danger float-right"><i class="uil uil-times"></i> Annuler</a>
                </div>

            {{ form_end(form) }}

        </div>
    </div>


</div>
{% endblock %} #}

