{% extends 'admin/base.html.twig' %}

{% block title %}Liste des antennes{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-h1">Liste des antennes <a href="{{ path('admin_antenne_create') }}" class="btn btn-my-add-admin"><i class="uil uil-plus"></i> Ajouter une antenne</a></h1>

    <table class="table my-table admin backoffice">
        <thead>
            <tr>
                <th class="text-left">Antenne</th>
                <th class="text-left">Adresse</th>
                <th>Téléphone</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>

        {% for antenne in antennes %}
            <tr>
                <td class="text-left main">
                    {{ antenne }}
                </td>
                <td class="text-left">
                    {{ antenne.address }} <br>
                    <span class="my-secondary">{{ antenne.postcode }} {{ antenne.city }}</span>
                </td>
                <td>{{ antenne.phoneNumber }}</th>
                <td class="pr-0">
                    <a href="{{ path('admin_antenne_edit', {'id':  antenne.id }) }}" class="btn btn-my-warning">
                        <i class="uil uil-pen"></i> Modifier
                    </a>
                </td>
                <td class="pl-0">
                    <a href="{{ path('admin_antenne_delete', {'id':  antenne.id }) }}" class="btn btn-my-danger">
                        <i class="uil uil-times"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>            
</div>



{% endblock %}


{% block javascripts %}

{% endblock %}