{% extends 'admin/base.html.twig' %}

{% block title %}Liste des antennes{% endblock %}

{% block body %}
<div class="container">

    <div class="card p-1">
        <div class="card-body">
            <h2 class="card-title mb-3">Liste des antennes <a href="{{ path('admin_antenne_create') }}" class="btn btn-primary float-right m-3">Ajouter une antenne</a></h2>
            <table class="table admin table-hover">
                <thead>
                    <tr>
                        <th>Antenne</th>
                        <th>Coordonnées</th>
                        <th class="text-center">Utilisateurs</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for antenne in antennes %}
                    <tr>
                        <td><strong>{{ antenne.title }}</strong></td>
                        <td>{{ antenne.address }}<br>
                            {{ antenne.postcode }} {{ antenne.city }} <br>
                            {{ antenne.phoneNumber }}
                        </td>
                        <td class="text-center">
                        <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="
                            {% if antenne.users|length > 0 %}

                                {% for user in antenne.users %}
                                    {{ user }} <br>
                                {% endfor %}

                            {% else %}

                                Aucun utilisateur

                            {% endif %}                                    
                        ">{{ antenne.users|length }}</span>
                        
                        </td>
                        <td class="text-center">
                            <a href="{{ path('admin_antenne_edit', {'id':  antenne.id }) }}" class="btn btn-link">Modifier</a>
                            <a href="{{ path('admin_antenne_delete', {'id':  antenne.id }) }}" class="btn btn-link">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>
{% endblock %}