{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un groupe{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box">

        
            <h1 class="my-h1">
                {# <a href="{{ path('admin_users_index') }}" class="btn btn-my-secondary small"><i class="uil uil-arrow-left"></i></a> #}
                {{ groupe.title }}
            </h1>

            {{ form_start(form) }}

                <div class="row">

                    {# Title #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.title, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                    {# Responsable #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.responsable, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-8 col-md-6"></div>

                </div>


                

                <div class="row mt-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-my-primary mr-2 mt-4">Modifier</button>
                        <a href="{{ path('admin_groupes_index') }}" class="btn mt-4 rouge">Annuler</a>  
                    </div>

                
                </div>

            {{ form_end(form) }}


</div>



{% endblock %}

{% block javascripts %}


{% endblock %}