{% extends 'admin/base.html.twig' %}

{% block title %}Liste des groupes{% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-h1">Liste des groupes <a href="{{ path('admin_groupe_create') }}" class="btn btn-my-add-admin"><i class="uil uil-plus"></i> Ajouter un groupe</a></h1>

    <table class="table my-table admin backoffice">
        <thead>
            <tr>
                <th class="text-left">Groupe</th>
                <th colspan="2" class="text-left">Responsable</th>
                {# <th>Date de création</th> #}
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>

        

        {% for groupe in groupes %}
            <tr>
                <td class="text-left main">
                    {{ groupe }}
                </td>
                <td class="pr-0">
                    {% include '_picture.html.twig' with {'user': groupe.responsable, 'class': 'medium'} %}
                </td>
                <td class="text-left pl-0">
                    <span class="main">{{ groupe.responsable.fullName }}</span><br>
                    <span class="my-secondary">{{ groupe.responsable.email }}</span>
                </td>
                {# <td>25 mars 2020</td> #}
                <td class="pr-0">
                    <a href="{{ path('admin_groupe_edit', {'id':  groupe.id }) }}" class="btn btn-my-warning">
                        <i class="uil uil-pen"></i> Modifier
                    </a>
                </td>
                <td class="pl-0">
                    <a href="{{ path('admin_groupe_delete', {'id':  groupe.id }) }}" class="btn btn-my-danger">
                        <i class="uil uil-times"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>            
</div>



{% endblock %}


{% block javascripts %}

{% endblock %}