{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'un compte utilisateur{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-8 offset-md-2">
        
            <h1 class="my-h1">
                <a href="{{ path('admin_users_index') }}" class="btn btn-my-dark"><i class="uil uil-arrow-left"></i> Retour à la liste des utilisateurs</a> <br>
                {{ user }}
            </h1>

            {{ form_start(form) }}

                <h4 class="my-h2">Général</h4>

                <div class="row">

                    {# Prénom #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.firstName) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.firstName) }}
                    </div>

                    {# Nom #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.lastName) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.lastName) }}
                    </div>

                    {# Email #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.email) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.email) }}
                    </div>

                </div>

                <h4 class="my-h2">Groupe et poste</h4>

                <div class="row">

                    {# Groupe #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.groupe) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.groupe) }}
                    </div>

                    {# Poste #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.poste) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.poste) }}
                    </div>

                    {# Domaine #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.introduction) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.introduction) }}
                    </div>

                </div>

                <h4 class="my-h2">Coordonnées</h4>

                <div class="row">

                    {# Antenne #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.antenne) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.antenne) }}
                    </div>

                    {# Téléphone #}
                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.phoneNumber) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.phoneNumber) }}
                    </div>

                    {# Ligne directe #}
                    {# <div class="col-3 text-right ">
                        <span class="align-middle">{{ form_label(form.directPhone) }}</span>
                    </div>

                    <div class="col-9">
                        {{ form_widget(form.directPhone) }}
                    </div> #}
                
                </div>

                <div class="mt-4 mb-4">
                    <button type="submit" class="btn btn-my-add-admin float-right"><i class="uil uil-plus"></i> Modifier l'utilisateur</button>
                    <a href="{{ path('admin_users_index') }}" class="btn btn-my-danger float-right"><i class="uil uil-times"></i> Annuler</a>
                </div>

            {{ form_end(form) }}

        </div>
    </div>


</div>
{% endblock %}