{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'un compte utilisateur{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box p-4">

        
            <h1 class="my-h1 p-4">
                {# <a href="{{ path('admin_users_index') }}" class="btn btn-my-secondary small"><i class="uil uil-arrow-left"></i></a> #}
                {{ user.fullName }}
            </h1>

            {{ form_start(form) }}

                {# <h4 class="my-h2">Général</h4> #}

                <div class="form-group-title pl-4">Général</div>

                <div class="row px-4">

                    {# Prénom #}
                    {# <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.firstName) }}</span>
                    </div> #}

                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.firstName, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.lastName, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-block"></div>

                    {# Email #}
                    <div class="col-lg-4 col-md-6">
                        <span class="align-middle">{{ form_row(form.email, { 'attr': {'autocomplete': 'new-password'} }) }}</span>
                    </div>

                </div>


                <div class="form-group-title pl-4">Groupe et poste</div>

                    <div class="row px-4">

                        {# Groupe #}
                        <div class="col-lg-4 col-md-6">
                            {{ form_row(form.groupe) }}
                        </div>

                        <div class="col-lg-8 col-md-6"></div>

                        {# Poste #}
                        <div class="col-lg-4 col-md-6">
                            {{ form_row(form.poste) }}
                        </div>

                        <div class="col-lg-8 col-md-6"></div>

                        {# Domaine #}
                        <div class="col-lg-8 col-md-12">
                            {{ form_row(form.introduction, { 'attr': {'autocomplete': 'new-password'} }) }}
                        </div>


                    </div>

                <div class="form-group-title pl-4">Coordonnées</div>

                <div class="row px-4">

                    {# Antenne #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.antenne) }}
                    </div>
                    <div class="col-8"></div>

                    {# Téléphone #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.phoneNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '14'} }) }}
                    </div>

                    <div class="col-8"></div>

                    {# Ligne directe #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.directNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '3'} }) }}
                    </div>

                    <div class="col-8"></div>

                    {# Téléphone professionnel #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.proNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '14'} }) }}
                    </div>

                    <div class="col-8"></div>

                </div>


                <div class="row pl-4 mt-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-my-primary mr-2 my-4">Modifier</button>
                        <a href="{{ path('admin_users_index') }}" class="btn rouge">Annuler</a>  
                    </div>

                
                </div>

            {{ form_end(form) }}


</div>
{% endblock %}

{% block javascripts %}


{% endblock %}