{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un compte utilisateur{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box">

        
            <h1 class="my-h1">
                {# <a href="{{ path('admin_users_index') }}" class="btn btn-my-secondary small"><i class="uil uil-arrow-left"></i></a> #}
                Nouvel utilisateur
            </h1>

            {{ form_start(form) }}

                {# <h4 class="my-h2">Général</h4> #}

                <div class="form-group-title">Général</div>

                <div class="row">

                    {# Prénom #}
                    {# <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.firstName) }}</span>
                    </div> #}

                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.firstName, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.lastName, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-block"></div>

                    {# Email #}
                    <div class="col-lg-4 col-md-6">
                        <span class="align-middle">{{ form_row(form.email, { 'attr': {'autocomplete': 'new-password'} }) }}</span>
                    </div>

                </div>


                <div class="form-group-title">Groupe et poste</div>

                    <div class="row">

                        {# Groupe #}
                        <div class="col-lg-4 col-md-6">
                            {{ form_row(form.groupe) }}
                        </div>

                        <div class="col-lg-8 col-md-6"></div>

                        {# Poste #}
                        <div class="col-lg-4 col-md-6">
                            {{ form_row(form.poste) }}
                        </div>

                        <div class="col-lg-8 col-md-6"></div>

                        {# Domaine #}
                        <div class="col-lg-8 col-md-12">
                            {{ form_row(form.introduction, { 'attr': {'autocomplete': 'new-password'} }) }}
                        </div>


                    </div>

                <div class="form-group-title">Coordonnées</div>

                <div class="row">

                    {# Antenne #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.antenne) }}
                    </div>
                    <div class="col-8"></div>

                    {# Téléphone #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.phoneNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '14'} }) }}
                    </div>

                    <div class="col-8"></div>


                    {# Ligne directe #}
                    {# <div class="col-3 text-right ">
                        <span class="align-middle">{{ form_label(form.directPhone) }}</span>
                    </div>

                    <div class="col-9">
                        {{ form_widget(form.directPhone) }}
                    </div> #}
                
                </div>

                <div class="form-group-title mb-0">Mot de passe initial</div>
                <p class="text mt-0 small">Il sera uniquement modifiable par l'utilisateur</p>

                <div class="row">

                    {# Mot de passe #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.hash, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>

                    <div class="col-8"></div>

                    {# Confirmez mot de passe #}
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.passwordConfirm, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>

                    <div class="col-8"></div>

                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-my-primary mr-2 mt-4">Créer l'utilisateur</button>
                        <a href="{{ path('admin_users_index') }}" class="btn mt-4 rouge">Annuler</a>  
                    </div>

                
                </div>

            {{ form_end(form) }}


</div>



{% endblock %}

{% block javascripts %}

    <script>

        $("#registration_introduction").prop('required',false);
        $("#registration_phoneNumber").prop('required',false);

    </script>

{% endblock %}