{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un compte utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Création d'un compte utilisateur</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phoneNumber) }}
                    {# {{ form_row(form.picture) }} #}
                    {{ form_row(form.antenne) }}
                    {{ form_row(form.groupe) }}
                    {{ form_row(form.poste) }}
                    {{ form_row(form.userRoles) }}

                    {# <div>
                        <input type="checkbox" id="is_admin" name="isAdmin" value="admin">
                        <label for="is_admin">Administrateur</label>
                    </div> #}


                </div>
                <div class="alert alert-light">
                    <h2 class="alert-heading">Mot de passe</h2>
                    <hr>
                    {{ form_row(form.hash) }}
                    {{ form_row(form.passwordConfirm) }}
                </div>
            </div>
            {# <div class="col">

            
                <div class="alert alert-light">
                    <h2>Détails</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}

                    <hr>
                    <p>Vous y êtes presque, confirmez votre inscription et rejoignez nous !</p>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i> Confirmez l'inscription
                    </button>
                </div>
            </div> #}
        </div>



        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Confirmez l'inscription</button>
        {{ form_end(form) }}
    </div>

{% endblock %}