{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un compte utilisateur{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box">

        
            <h1 class="my-h1">
                {# <a href="{{ path('admin_users_index') }}" class="btn btn-my-secondary small"><i class="uil uil-arrow-left"></i></a> #}
                Nouvel utilisateur
            </h1>

            {{ form_start(form) }}

                {# <h4 class="my-h2">Général</h4> #}

                <div class="form-group-title">Général</div>

                <div class="row">

                    {# Prénom #}
                    {# <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.firstName) }}</span>
                    </div> #}

                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.firstName.vars.id }}"
                            class="{{ form.firstName.vars.required ? 'required' }}">
                            {{ form.firstName.vars.label }}
                        </label>
                        {{ form_widget(form.firstName, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>

                    <div class="col-lg-4 col-md-6">

                        <label for="{{ form.lastName.vars.id }}"
                            class="{{ form.lastName.vars.required ? 'required' }}">
                            {{ form.lastName.vars.label }}
                        </label>
                        {{ form_widget(form.lastName, { 'attr': {'autocomplete': 'new-password'} }) }}

                    </div>
                    <div class="col-lg-4 d-md-none d-lg-block"></div>

                    {# Email #}
                    <div class="col-lg-4 col-md-6">

                        <label for="{{ form.email.vars.id }}"
                            class="{{ form.email.vars.required ? 'required' }}">
                            {{ form.email.vars.label }}
                        </label>
                        <span class="align-middle">{{ form_widget(form.email, { 'attr': {'autocomplete': 'new-password'} }) }}</span>
                    </div>

                </div>


                <div class="form-group-title">Groupe et poste</div>

                    <div class="row">

                        {# Groupe #}
                        <div class="col-lg-4 col-md-6">
                            <label for="{{ form.groupe.vars.id }}"
                                class="{{ form.groupe.vars.required ? 'required' }}">
                                {{ form.groupe.vars.label }}
                            </label>
                            {{ form_widget(form.groupe) }}
                        </div>

                        <div class="col-lg-8 col-md-6"></div>

                        {# Poste #}
                        <div class="col-lg-4 col-md-6">
                            <label for="{{ form.poste.vars.id }}"
                                class="{{ form.poste.vars.required ? 'required' }}">
                                {{ form.poste.vars.label }}
                            </label>
                            {{ form_widget(form.poste) }}
                        </div>

                        <div class="col-lg-8 col-md-6"></div>

                        {# Domaine #}
                        <div class="col-lg-8 col-md-12">
                            <label for="{{ form.introduction.vars.id }}"
                                class="{{ form.introduction.vars.required ? 'required' }}">
                                {{ form.introduction.vars.label }}
                            </label>
                            {{ form_widget(form.introduction, { 'attr': {'autocomplete': 'new-password'} }) }}
                        </div>


                    </div>

                <div class="form-group-title">Coordonnées</div>

                <div class="row">

                    {# Antenne #}
                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.antenne.vars.id }}"
                            class="{{ form.antenne.vars.required ? 'required' }}">
                            {{ form.antenne.vars.label }}
                        </label>
                        {{ form_widget(form.antenne) }}
                    </div>
                    <div class="col-8"></div>

                    {# Téléphone #}
                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.phoneNumber.vars.id }}"
                            class="{{ form.phoneNumber.vars.required ? 'required' }}">
                            {{ form.phoneNumber.vars.label }}
                        </label>
                        {{ form_widget(form.phoneNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '14'} }) }}
                    </div>

                    <div class="col-8"></div>

                    {# Ligne directe #}
                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.directNumber.vars.id }}"
                            class="{{ form.directNumber.vars.required ? 'required' }}">
                            {{ form.directNumber.vars.label }}
                        </label>
                        {{ form_widget(form.directNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '3'} }) }}
                    </div>

                    <div class="col-8"></div>

                    {# Téléphone professionnel #}
                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.proNumber.vars.id }}"
                            class="{{ form.proNumber.vars.required ? 'required' }}">
                            {{ form.proNumber.vars.label }}
                        </label>
                        {{ form_widget(form.proNumber, { 'attr': {'autocomplete': 'new-password', 'maxlength': '14'} }) }}
                    </div>

                    <div class="col-8"></div>


                    {# Ligne directe #}
                    {# <div class="col-3 text-right ">
                        <span class="align-middle">{{ form_label(form.directPhone) }}</span>
                    </div>

                    <div class="col-9">
                        {{ form_widget(form.directPhone) }}
                    </div> #}
                
                </div>

                <div class="form-group-title mb-0">Mot de passe initial</div>
                <p class="text mt-0 small">Il sera uniquement modifiable par l'utilisateur</p>

                <div class="row">

                    {# Mot de passe #}
                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.hash.vars.id }}"
                            class="{{ form.hash.vars.required ? 'required' }}">
                            {{ form.hash.vars.label }}
                        </label>
                        {{ form_widget(form.hash, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>

                    <div class="col-8"></div>

                    {# Confirmez mot de passe #}
                    <div class="col-lg-4 col-md-6">
                        <label for="{{ form.passwordConfirm.vars.id }}"
                            class="{{ form.passwordConfirm.vars.required ? 'required' }}">
                            {{ form.passwordConfirm.vars.label }}
                        </label>
                        {{ form_widget(form.passwordConfirm, { 'attr': {'autocomplete': 'new-password'} }) }}
                    </div>

                    <div class="col-8"></div>

                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-my-primary mr-2 mt-4">Créer l'utilisateur</button>
                        <a href="{{ path('admin_users_index') }}" class="btn mt-4 rouge">Annuler</a>  
                    </div>

                
                </div>

            {{ form_end(form) }}


</div>



{% endblock %}

{% block javascripts %}
    <script>

        {# $("#registration_introduction").prop('required',false);
        $("#registration_phoneNumber").prop('required',false); #}

    </script>

{% endblock %}