{% extends 'login-base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}

<div class="bg-white">
    <div class="container login mt-0">

    <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 offset-md-2 col-md-8 text-center">

            {# logo #}
            <img class="logo" src="{{ asset('images/logo_intramilo.png') }}" alt="Logo Intramilo">

            {# Description #}
            <div class="description">
                Bienvenue ! Vous êtes sur le site Intranet <br>
                de la Mission Locale de l’arrondissement de Dijon
            </div>

            {% for label, messages in app.flashes %}
                <div class="container">
                    <div class="alert alert-{{ label }} my-box">
                        {% for message in messages %}
                        <p class="mb-0">{{ message | raw}}</p>    
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="login-form text-left mt-4">
                <form action="{{ path('account_login') }}" method="post">

                    {% if hasError %}
                        <div class="alert alert-danger my-box">
                            <div>
                                <i class="fas fa-exclamation-circle rouge mr-2"></i>
                                L'email ou le mot de passe est invalide.
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {# <label for="email">Email</label> #}
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse mail" required value="{{ username }}">
                    </div>
                    <div class="form-group">
                        {# <label for="password">Mot de passe</label> #}
                        <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" required>
                        <span class="eye-icon float-right">
                            <i id="eye" class="uil uil-eye-slash"></i>
                        </span>
                        {# <div class="input-group mb-3">
                            
                            <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control password-input" required>
                            <div class="input-group-append">
                                <button class="btn btn-eye  no-focus" type="button" id="button-addon2"><i class="uil uil-eye"></i></button>
                            </div>
                        </div> #}

                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-login mt-0">Me connecter</button>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm">
                            <input class="mr-1" type="checkbox" id="remember_me" name="_remember_me" checked/>
                            <label for="remember_me">Se souvenir de moi</label>
                        </div>
                        <div class="col-md-6 col-sm">
                            <div class="text-right"><a href="{{ path('account_reset_password') }}">Mot de passe oublié ?</a></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="no-account op-70">
                Pas encore de compte ? Contactez un administrateur
            </div>
        
        </div>

    </div>
</div>


{# 
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
    
        <div class="py-3 px-3">
            

            <div class="card login">
                <div class="card-body">
                    <h3 mt-4 class="text-center mb-2">intramilo</h3>
                    <p class="text-center">Connexion</p>

                    {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, le nom de l'utilisateur ou alors le mot de passe est invalide</div>
                    {% endif %}

                    <div class="login-form">
                        <form action="{{ path('account_login') }}" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email" required value="{{ username }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" required>
                            </div>
                            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                            <label for="remember_me">Se souvenir de moi</label>
                            <div class="form-group text-center mt-4">
                                <button type="submit" class="btn btn-primary btn-pill mt-3">Se connecter</button>
                            </div>
                            <div class="text-center"><a href="{{ path('account_reset_password') }}">Mot de passe oublié</a></div>
                            
                        </form>
                    </div>
                </div>
            </div>


            
        </div>

    </div>
</div> #}
    
</div>
{% endblock %}

{%  block javascripts %}

    <script>

        $('#eye').click(function(){
        
            if($(this).hasClass('uil-eye-slash')){
            
                $(this).removeClass('uil-eye-slash');
                
                $(this).addClass('uil-eye');
                
                $('#password').attr('type','text');
                
            }else{
            
                $(this).removeClass('uil-eye');
                
                $(this).addClass('uil-eye-slash');  
                
                $('#password').attr('type','password');

            }
        });

    </script>

{% endblock %}
