{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Tableau de bord
{% endblock %}


{% block body %}


{# <div class="row dashboard"> #}

    {# Dashboard Sidebar #}
    
    {% include 'account/_dashboard_sidebar.html.twig' %}

    <div class="my-content">

        <div class="main-content">    
            <div class="my-h1">Organismes et interlocuteurs <a href="{{ path('organization_create') }}" class="btn btn-my-primary ml-3"><i class="uil uil-plus"></i> Créer un organisme</a></div>

            <table class="table my-table admin">
                <thead>
                    <tr>
                        <th></th>
                        <th>Organisme <span class="number"><span>{{ organizations|length }}</span></span></th>
                        <th class="text-center">Interlocuteurs</th>
                    </tr>
                </thead>
                <tbody>
                {% set prev_letter = "" %}

                    {% for organization in organizations %}

                        {% set cur_letter = organization.name|upper|slice(0, 1) %}
                        
                        <tr class="organization my-hover" data-organization="{{ organization.id }}">
                            <td class="letter bleu">
                            {# Si la première lettre est différente #}
                            {% if prev_letter != cur_letter %}

                                {{ cur_letter }}

                            {% endif %}
                            </td>
                            
                            <td>
                            <span class="mr-1">{% include '_organization_logo.html.twig' with {'organization': organization, 'class': 'small'} %}</span>
                            <span class="main">{{ organization }}</span></td>
                            <td class="text-center"><i class="uil uil-user"></i> <span class="main">{{ organization.interlocutors|length }}</span></td>
                        </tr>

                        {% set prev_letter = cur_letter %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="details">

        {% for organization in organizations %}
            <div data-organization="{{ organization.id }}" class="organization d-none">

                <div class="title mb-4">Détails de l'organisme</div>
                <div class="mb-2">
                    {% include '_organization_logo.html.twig' with {'organization': organization, 'class': 'large'} %}
                </div>
                {% if organization.sheets|length == 0 and organization.documents|length == 0 %}
                    <a href="{{ path('organization_delete', {'id': organization.id }) }}" class="my-secondary float-right"> <i class="uil uil-times"></i></a>
                {% endif %}
                    <a href="{{ path('organization_edit', {'id': organization.id }) }}" class="my-secondary float-right"> <i class="uil uil-pen"></i></a>
                <div class="my-secondary main">{{ organization }}</div>
                <div class="my-secondary px-1">{{ organization.fullAddress }}</div>
                <div class="contact mt-2">
                    <div class="my-secondary px-1"><i class="fas fa-sm mr-2 fa-phone-alt"></i> {{ organization.phoneNumber }}</div>
                    <div class="my-secondary px-1"><i class="fas fa-sm mr-2 fa-envelope"></i> {{ organization.email }}</div>
                    <div class="my-secondary px-1"><i class="fas fa-sm mr-2 fa-link"></i><a href="{{ organization.website }}" target="_blank">Voir le site</a></div>
                </div>

                

                {% if organization.interlocutors|length > 0 %}

                    <div class="title ml-1 my-4">Interlocuteurs</div>

                    {% for interlocutor in organization.interlocutors %}
                        <div class="transparent">
                            <a href="{{ path('interlocutor_delete', {'id': interlocutor.id }) }}" class="my-secondary float-right"> <i class="uil uil-times"></i></a>
                            <a href="{{ path('interlocutor_edit', {'id': interlocutor.id }) }}" class="my-secondary float-right"> <i class="uil uil-pen"></i></a>
                            {% include 'documentation/_user_function.html.twig' with {'user': interlocutor} %}
                        </div>
                        <div class="contact ml-3">
                            <div class="my-secondary"><i class="fas fa-sm mr-2 fa-phone-alt"></i> {{ interlocutor.phoneNumber }}</div>
                            <div class="my-secondary"><i class="fas fa-sm mr-2 fa-envelope"></i> {{ interlocutor.email }}</div>
                        </div>
                        <hr class="my-4">
                    {% endfor %}

                    <a href="{{ path('interlocutor_create', {'id': organization.id }) }}" class="btn btn-my-dark mt-2"><i class="uil uil-plus"></i> Ajouter un interlocuteur</a>

                {% else %}

                    <div class="my-secondary my-4"><i>Aucun interlocuteur</i></div>

                    <a href="{{ path('interlocutor_create', {'id': organization.id }) }}" class="btn btn-my-dark mt-2"><i class="uil uil-plus"></i> Ajouter un interlocuteur</a>

                {% endif %}

            </div>

        {% endfor %}
        </div>
        
    
    </div>


{% endblock %}
{% block javascripts %}
<script>

/* Quand l'organisme change, on change également les interlocuteurs */
$( "tr.organization" ).click(function() {
    
    var organization_id = $(this).data('organization');

    //alert(organization_id);

    $("div.organization").addClass("d-none");
    $("div.organization[data-organization='"+ organization_id +"'").removeClass("d-none");


    
});

</script>

{% endblock %}