 {% set counter = app.session.get('notification-counter') %}
 
 <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light my-navbar no-border my-box">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                {# <img src="/images/logo_milo.png" alt="Logo Mission Locale de l'arrondissment de Dijon">/ #}
                intramilo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link home {% if app.request.attributes.get('_route') starts with 'home'  %}active{% endif %}" href="{{ path('homepage') }}"><i class="uil uil-home-alt"></i> Accueil</a>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
                    </li> #}
                    <li class="nav-item px-2">
                        <a class="nav-link documentation {% if (app.request.attributes.get('_route') starts with 'doc') or (app.request.attributes.get('_route') starts with 'sheet')%}active{% endif %}" href="{{ path('doc_index') }}"><i class="uil uil-book-alt"></i> Documentation</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link antennes {% if app.request.attributes.get('_route') starts with 'antennes' %}active{% endif %}" href="{{ path('antennes_show') }}"><i class="uil uil-map"></i> Antennes</a>
                    </li>
                    
                </ul>   
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    
                        <a href=
                        {% if is_granted("ROLE_ADMIN") %}
                            {{ path('admin_documents') }}
                        {% else %}
                            {{ path('account_documents') }}
                        {% endif %}
                        
                         class="btn btn-my-primary intramilo">
                            <i class="uil uil-web-grid"></i> Tableau de bord
                        </a>
                        
                        <span id="notification-counter">
                            {% if counter %}
                        
                                <span id="notification-circle">
                                        <span id="counter">{{ counter }}</span>
                                </span>
                        
                            {% endif %}
                        </span>
                        
                        
                    </li>

                {% if app.user %}
                    <li class="nav-item dropdown mt-2 mr-4">
                        <a class="nav-link notification" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            <i class="fas fa-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="my-dropdown" aria-labelledby="accountDropdownLink">

                            <table class="table my-table">
                                <tr class="notifications">
                                    {# <td class="w-25 text-center notif-icon pl-4">
                                        <span class="icon"><i class="uil uil-book-alt"></i></span>
                                        <span class="state-icon"><i class='uil uil-times-circle'></i></span>
                                    </td>
                                    <td class="w-75 notif-content pl-1 text-left">
                                        La fiche <strong>Fiche</strong> est obsolète. <br>
                                        <span class="date">19 avril 2020</span>
                                    </td> #}
                                </tr>
                            
                            </table>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_documents') }}" class="dropdown-item text-center dropdown-footer">Voir plus</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            {% include '_picture.html.twig' with {'user': app.user, 'class': 'medium'} %}
                            
                            {# {{ app.user.fullName }} #}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">

                            <h6 class="dropdown-header">Compte</h6>
                            <a href="{{ path('account_index') }}" class="dropdown-item">Mon profil</a>
                            <a href="{{ path('account_picture_edit') }}" class="dropdown-item">Modifer ma photo de profil</a>
                            <a href="{{ path('account_password') }}" class="dropdown-item">Modifer mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Documentation</h6>
                            <a href="{{ path('organizations_index') }}" class="dropdown-item">Liste des organismes</a>
                            <a href="{{ path('account_documents') }}" class="dropdown-item">Tableau de bord</a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_documents') }}" class="dropdown-item">Suivi de la documentation</a>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Administration</h6>
                                <a href="{{ path('admin_users_index') }}" target="_blank" class="dropdown-item">BackOffice</a>
                            {% endif %}

                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout') }}" class="dropdown-item">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                    </li>
                {% endif %}
                    
                </ul>              
            </div>
        </nav>

    {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                <p>{{ message | raw}}</p>    
                {% endfor %}
            </div>
        </div>
    {% endfor %}


    {# <script>

        // On récupère toutes les fiches et documents (SAUF ceux qui sont à jour et en cours de validation)
        $( document ).ready(function() {

            var path = "{{ path('account_notification') }}";

                $.ajax({
                    type: 'POST',
                    url: path,
                    success: function(data) {
                        console.log(data);
                        
                    },
                    error: function(data) {
                        alert("Error !")
                    }

            });


        });

    </script> #}