 {% set counter = app.session.get('notification-counter') %}
 
 <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light my-navbar no-border my-box py-0 d-print-none">

            <a class="navbar-brand mb-1" href="{{ path('homepage') }}">
                {# <img src="/images/logo_milo.png" alt="Logo Mission Locale de l'arrondissment de Dijon">/ #}
                <img class="logo large" src="{{ asset('images/logo_intramilo.png') }}" alt="Logo Intramilo">
                <img class="logo small d-none" src="{{ asset('images/logo_intra.png') }}" alt="Logo Intramilo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link home {% if app.request.attributes.get('_route') starts with 'home'  %}active{% endif %}" href="{{ path('homepage') }}">
                        
                        {# <i class="uil uil-home-alt"></i> #}
                        Accueil
                        
                        </a>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
                    </li> #}
                    <li class="nav-item px-2">
                        

                        <a class="nav-link documentation {% if (app.request.attributes.get('_route') starts with 'doc') or (app.request.attributes.get('_route') starts with 'sheet')%}active{% endif %}" href="{{ path('doc_index') }}">
                        
                        {# <i class="uil uil-book-alt"></i> #}
                        Documentation
                        
                        </a>
                    </li>
                    {# <li class="nav-item px-2">
                        <a class="nav-link antennes {% if app.request.attributes.get('_route') starts with 'antennes' or app.request.attributes.get('_route') starts with 'organization' or app.request.attributes.get('_route') starts with 'users' %}active{% endif %}" href="{{ path('antennes_show') }}">
                        
                        Annuaire
                        
                        </a>
                    </li> #}
                     <li class="nav-item px-2 dropdown hover-li">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Annuaire</a>
                            <div class="dropdown-menu py-1">
                            <a class="dropdown-item px-3 py-2" href="{{ path('antennes_show') }}"><i class="uil uil-map-marker mr-2"></i>Antennes</a>
                            <a class="dropdown-item px-3 py-2" href="{{ path('organizations_index') }}"><i class="uil uil-building mr-2"></i>Organismes</a>
                            <a class="dropdown-item px-3 py-2" href="{{ path('users_show') }}"><i class="uil uil-users-alt mr-2"></i>Employés</a>
                        </div>
                    </li>
    

                    {# Search #}
                    {# <form class="search-form inline w-100">
                        <div class="input-group inline">

                                <span class="">

                                <form action="{{ path('search_index') }}" method="post" class="inline-block" onsubmit="return redirect()">
                                    <input id="search-bar" type="text" class="form-control" name="q" value="{% if query is defined %}{{ query }}{% endif %}" placeholder="Recherche">
                                </form>
                            </span>

                        </div>
                    </form> #}
                    
                </ul>   
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span id="notification-counter">
                            {% if counter %}
                        
                                <span id="notification-circle">
                                        <span id="counter">{{ counter }}</span>
                                </span>
                        
                            {% endif %}
                        </span>

                        {# Mes sous-catégories #}
                        <div class="dropdown nav-btn float-right mx-1">
                            <button class="btn nav-hover larger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-folder"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right my-dropdown no-border box" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header black pl-3">Mes sous-catégories</h6>
                                {% for sub in app.user.subCategories %}

                                    <a class="dropdown-item pl-3" href="{{ path('doc_show', {'slug': sub.category.slug, 'sub_slug': sub.slug, 'sub_id': sub.id }) }}"><span class="rounded"><i class="fas fa-folder my-rounded"></i></span> {{ sub }}</a>

                                {% endfor %}

                            </div>
                        </div>


                        {# Ajout rapide #}
                        <div class="dropdown nav-btn float-right mx-1">
                            <button class="btn nav-hover larger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="uil uil-plus"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right my-dropdown no-border box" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header black pl-3">Ajout rapide</h6>
                                <button class="dropdown-item pl-3" data-toggle="modal" data-target="#subModalSheet" data-title="Nouvelle fiche"><span class="rounded"><i class="far fa-file my-rounded"></i></span> Créer une fiche</button>
                                <button class="dropdown-item pl-3" data-toggle="modal" data-target="#subModalDocument" data-title="Nouveau document"><span class="rounded"><i class="fas fa-file-upload my-rounded"></i></span> Importer un document</button>
                                {# <a class="dropdown-item pl-3" href="{{ path('sheet_create') }}"><span class="rounded"><i class="far fa-file my-rounded"></i></span> Créer une fiche</a> #}
                                {# <a class="dropdown-item pl-3" href="{{ path('document_create') }}"><span class="rounded"><i class="fas fa-file-upload my-rounded"></i></span> Importer un document</a> #}
                            </div>
                        </div>

                        {# Tableau de bord #}
                        <span class="float-right mx-4">
                            {# <a href=
                            {% if is_granted("ROLE_ADMIN") %}
                                {{ path('admin_documents') }}
                            {% else %}
                                {{ path('account_documents') }}
                            {% endif %}
                            
                            class="btn btn-my-primary mx-1">
                                <i class="uil uil-web-grid"></i>
                            </a> #}

                            <a href="{{ path('account_index') }}" class="btn profile-btn {% if app.request.attributes.get('_route') starts with 'account' %} active {% endif %}">
                                {% include '_picture.html.twig' with {'user': app.user, 'class': 'small'} %}
                                
                                <span class="ml-2 mr-3" id="user-name">{{ app.user.firstName }}</span>
                            
                            </a>

                        </span>

                        {# Search #}
                        <div class="dropdown nav-btn float-right mx-1">
                            <a href="{{ path('search_index') }}">
                                <button class="btn nav-hover larger" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </a>
                        </div>
                        
                        
                       
                        
                    </li>

                {% if app.user %}

                    {# Notifications #}
                    <li class="dropdown nav-btn float-right mx-1">
                        <a class="btn nav-hover py-1 px-2" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            <i class="fas fa-bell fa-lg mb-4"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right box no-border" id="my-dropdown" aria-labelledby="accountDropdownLink">
                            <h6 class="dropdown-header black pl-3">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <div class="notif-title mb-2 pl-3 op-50">
                                En attente de validation
                            </div>
                            <table class="table my-table" id="table-to-validate">
                                <tr class="notifications">
                                    {# <td class="w-25 text-center notif-icon pl-4">
                                        <span class="icon"><i class="uil uil-book-alt"></i></span>
                                        <span class="state-icon"><i class='uil uil-times-circle'></i></span>
                                    </td>
                                    <td class="w-75 notif-content pl-1 text-left">
                                        La fiche <strong>Fiche</strong> est obsolète. <br>
                                        <span class="date">19 avril 2020</span>
                                    </td> #}
                                </tr>
                            
                            </table>

                            <div class="dropdown-divider"></div>
                            <div class="notif-title mb-2 pl-3 op-50">
                                A corriger
                            </div>
                            <table class="table my-table" id="table-to-correct">
                                <tr class="notifications">

                                </tr>
                            
                            </table>

                            <div class="dropdown-divider"></div>
                            <div class="notif-title mb-2 pl-3 op-50">
                                Obsolètes
                            </div>
                            <table class="table my-table" id="table-obsolete">
                                <tr class="notifications">

                                </tr>
                            
                            </table>

                            <div class="dropdown-divider"></div>
                            <div class="notif-title mb-2 pl-3 op-50">
                                Bientôt obsolètes
                            </div>
                            <table class="table my-table" id="table-well-obsolete">
                                <tr class="notifications">

                                </tr>
                            
                            </table>
                            {# <div class="dropdown-divider"></div> #}
                            {# <a href="{{ path('account_documents') }}" class="dropdown-item text-center dropdown-footer my-line-h">Voir plus</a> #}
                        </div>
                    </li>
                    
                    <li class="nav-item nav-btn dropdown ml-4">
                        {# <a class="nav-link" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            {% include '_picture.html.twig' with {'user': app.user, 'class': 'medium'} %}
                        
                            
                            
                        </a> #}
                            <a class="btn nav-dropdown nav-hover py-1 px-2" href="#" data-toggle="dropdown" id="accountDropdownLink">
                                <i class="fas fa-sort-down fa-lg"></i>
                            </a>
                        <div class="dropdown-menu my-dropdown dropdown-menu-right account-dropdown box no-border" aria-labelledby="accountDropdownLink">

                            {# <h6 class="dropdown-header">Compte</h6>
                            <div class="p-2 text-center">
                                <div class="pr-2 mt-2 mb-2">
                                    {% include '_picture.html.twig' with {'user': app.user, 'class': 'large'} %}
                                </div>
                                <div class="align-middle mt-3">
                                    <div class="main">{{ app.user.fullName }}</div>
                                    <div class="my-secondary small text-center mt-0">{{ app.user.email }}</div>
                                </div>
                            </div> #}

                            {# <div class="mx-4 text-center">
                                <a href="{{ path('account_index') }}" class="btn btn-my-secondary my-2">Gérer mon compte</a>
                            </div> #}

                            {% if is_granted('ROLE_ADMIN') %}
                                {# <div class="dropdown-divider"></div> #}
                                {# <h6 class="dropdown-header">Administration</h6> #}
                                <a href="{{ path('admin_users_index') }}" class="dropdown-item text-center py-2">BackOffice</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}

                            
                            <a href="{{ path('account_logout') }}" class="dropdown-item text-center py-2">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    {# <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                    </li> #}
                {% endif %}
                    
                </ul>              
            </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} my-box">
            {% for message in messages %}
            <p class="mb-0">{{ message | raw}}</p>    
            {% endfor %}
        </div>
    </div>
{% endfor %}

{# <script>

    // On récupère toutes les fiches et documents (SAUF ceux qui sont à jour et en cours de validation)
    $( document ).ready(function() {

        var path = "{{ path('account_notification') }}";

            $.ajax({
                type: 'POST',
                url: path,
                success: function(data) {
                    console.log(data);
                    
                },
                error: function(data) {
                    alert("Error !")
                }

        });


    });

</script> #}

{# <a class="dropdown-item pl-3" href="{{ path('sheet_create') }}"><span class="rounded"><i class="far fa-file my-rounded"></i></span> Créer une fiche</a> #}
{# <a class="dropdown-item pl-3" href="{{ path('document_create') }}"><span class="rounded"><i class="fas fa-file-upload my-rounded"></i></span> Importer un document</a> #}




<!-- Modal -->
<!-- Sheet Modal -->
<div class="modal fade bd-example-modal-lg" id="subModalSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header no-border pb-0">
        <h4 class="modal-title m-0" id="exampleModalLabel">Nouvelle fiche<span class="font-weight-light"> - Dans quelle sous-catégorie ?</span></h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      {# <p class="px-3 text">Si la sous-catégorie où vous voulez ajouter la fiche n'apparaît pas, contactez votre responsable.</p> #}
      {# <p class="px-3 op-70">Voici les sous-catégories où vous êtes autorisés à ajouter une nouvelle fiche</p> #}

      <div class="modal-body">

            
        {% if is_granted('ROLE_ADMIN') %}
        
            <ul class="nav nav-tabs mt-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="my-subs-tab" data-toggle="tab" href="#my-subs" role="tab" aria-controls="my-subs" aria-selected="true">Mes sous-catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="all-subs-tab" data-toggle="tab" href="#all-subs" role="tab" aria-controls="all-subs" aria-selected="false">Toutes les sous-catégories</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="my-subs" role="tabpanel" aria-labelledby="my-subs-tab">

                    {% set prev_pole = "" %}
                    {% for sub in app.user.subCategories|sort((a, b) => a.category.pole.title <=> b.category.pole.title) %}

                        {% set pole = sub.category.pole %}

                        {% if pole != prev_pole %}
                            <h5 class="mt-3 mb-2">{{ pole }}</h5>
                        {% endif %}

                            <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                                {{ sub.category }} - {{ sub }}
                            </div>

                        {% set prev_pole = pole %}

                    {% endfor %}
                
                </div>
                <div class="tab-pane fade" id="all-subs" role="tabpanel" aria-labelledby="all-subs-tab">

                    {% for pole in allsubs.poles %}

                        <h5 class="mt-3 mb-2">{{ pole }}</h5>

                        {% for cat in pole.category %}

                            {% for sub in cat.subcategories %}
                                <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                                    {{ cat }} - {{ sub }}
                                </div>
                            {% endfor %}

                        {% endfor %}


                    {% endfor %}
                
                </div>

            </div>
        {% else %}

            {% set prev_pole = "" %}
            {% for sub in app.user.subCategories|sort((a, b) => a.category.pole.title <=> b.category.pole.title) %}

                {% set pole = sub.category.pole %}

                {% if pole != prev_pole %}
                    <h5 class="mt-3 mb-2">{{ pole }}</h5>
                {% endif %}

                    <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                        {{ sub.category }} - {{ sub }}
                    </div>

                {% set prev_pole = pole %}

            {% endfor %}

        {% endif %}

      </div>


      <div class="modal-footer no-border">
        
        <button type="button" class="btn rouge" data-dismiss="modal">Annuler</button>
        <a type="button" href="" class="btn btn-my-primary add disabled">C'est parti !</a>
      </div>
    </div>
  </div>
</div>

<!-- Document Modal -->
<div class="modal fade bd-example-modal-lg" id="subModalDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header no-border pb-0">
        <h4 class="modal-title m-0" id="exampleModalLabel">Nouveau document<span class="font-weight-light"> - Dans quelle sous-catégorie ?</span></h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      {# <p class="px-3 op-70">Voici les sous-catégories où vous êtes autorisés à ajouter une nouvelle fiche</p> #}
      <div class="modal-body">

            {% if is_granted('ROLE_ADMIN') %}
        
            <ul class="nav nav-tabs mt-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="my-subs-tab-2" data-toggle="tab" href="#my-subs" role="tab" aria-controls="my-subs-2" aria-selected="true">Mes sous-catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="all-subs-tab-2" data-toggle="tab" href="#all-subs-2" role="tab" aria-controls="all-subs-2" aria-selected="false">Toutes les sous-catégories</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="my-subs-2" role="tabpanel" aria-labelledby="my-subs-tab">

                    {% set prev_pole = "" %}
                    {% for sub in app.user.subCategories|sort((a, b) => a.category.pole.title <=> b.category.pole.title) %}

                        {% set pole = sub.category.pole %}

                        {% if pole != prev_pole %}
                            <h5 class="mt-3 mb-2">{{ pole }}</h5>
                        {% endif %}

                            <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                                {{ sub.category }} - {{ sub }}
                            </div>

                        {% set prev_pole = pole %}

                    {% endfor %}
                
                </div>
                <div class="tab-pane fade" id="all-subs-2" role="tabpanel" aria-labelledby="all-subs-tab">

                    {% for pole in allsubs.poles %}

                        <h5 class="mt-3 mb-2">{{ pole }}</h5>

                        {% for cat in pole.category %}

                            {% for sub in cat.subcategories %}
                                <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                                    {{ cat }} - {{ sub }}
                                </div>
                            {% endfor %}

                        {% endfor %}


                    {% endfor %}
                
                </div>

            </div>
        {% else %}

            {% set prev_pole = "" %}
            {% for sub in app.user.subCategories|sort((a, b) => a.category.pole.title <=> b.category.pole.title) %}

                {% set pole = sub.category.pole %}

                {% if pole != prev_pole %}
                    <h5 class="mt-3 mb-2">{{ pole }}</h5>
                {% endif %}

                    <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                        {{ sub.category }} - {{ sub }}
                    </div>

                {% set prev_pole = pole %}

            {% endfor %}

        {% endif %}

      </div>
      <div class="modal-footer no-border">
        <button type="button" class="btn rouge" data-dismiss="modal">Annuler</button>
        <a type="button" href="" class="btn btn-my-primary add disabled">C'est parti !</a>
      </div>
    </div>
  </div>
</div>


{# Search #}
<script>

    var search_query = "{{ app.request.query.get('q') }}";

    if(search_query != null){

        var search_path = "{{ path('search_index') }}";

        // Redirection
        //window.location.href = search_path;

    }


</script>
