 {% set counter = app.session.get('notification-counter') %}
 
 <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light my-navbar no-border my-box">

            <a class="navbar-brand mb-1" href="{{ path('homepage') }}">
                {# <img src="/images/logo_milo.png" alt="Logo Mission Locale de l'arrondissment de Dijon">/ #}
                <img class="logo large" src="{{ asset('images/logo_intramilo.png') }}" alt="Logo Intramilo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link home {% if app.request.attributes.get('_route') starts with 'home'  %}active{% endif %}" href="{{ path('homepage') }}">
                        
                        {# <i class="uil uil-home-alt"></i> #}
                        Accueil
                        
                        </a>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('ads_index') }}">Annonces</a>
                    </li> #}
                    <li class="nav-item px-2">
                        <a class="nav-link documentation {% if (app.request.attributes.get('_route') starts with 'doc') or (app.request.attributes.get('_route') starts with 'sheet')%}active{% endif %}" href="{{ path('doc_index') }}">
                        
                        {# <i class="uil uil-book-alt"></i> #}
                        Documentation
                        
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link antennes {% if app.request.attributes.get('_route') starts with 'antennes' %}active{% endif %}" href="{{ path('antennes_show') }}">
                        
                        {# <i class="uil uil-map"></i> #}
                        Antennes
                        
                        </a>
                    </li>
                    
                </ul>   
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span id="notification-counter">
                            {% if counter %}
                        
                                <span id="notification-circle">
                                        <span id="counter">{{ counter }}</span>
                                </span>
                        
                            {% endif %}
                        </span>

                        {# Mes sous-catégories #}
                        <div class="dropdown nav-btn float-right mx-1">
                            <button class="btn nav-hover larger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-folder"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right my-dropdown no-border box" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header black pl-3">Mes sous-catégories</h6>
                                {% for sub in app.user.subCategories %}

                                    <a class="dropdown-item pl-3" href="{{ path('doc_show', {'slug': sub.category.slug, 'sub_slug': sub.slug }) }}"><span class="rounded"><i class="fas fa-folder my-rounded"></i></span> {{ sub }}</a>

                                {% endfor %}

                                {# <a class="dropdown-item pl-3" href="{{ path('sheet_create') }}"><span class="rounded"><i class="far fa-file my-rounded"></i></span> Créer une fiche</a> #}
                                {# <a class="dropdown-item pl-3" href="{{ path('document_create') }}"><span class="rounded"><i class="fas fa-file-upload my-rounded"></i></span> Importer un document</a> #}
                            </div>
                        </div>

                        {# Ajout rapide #}
                        <div class="dropdown nav-btn float-right mx-1">
                            <button class="btn nav-hover larger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="uil uil-plus"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right my-dropdown no-border box" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header black pl-3">Ajout rapide</h6>
                                <a class="dropdown-item pl-3" href="{{ path('sheet_create') }}"><span class="rounded"><i class="far fa-file my-rounded"></i></span> Créer une fiche</a>
                                <a class="dropdown-item pl-3" href="{{ path('document_create') }}"><span class="rounded"><i class="fas fa-file-upload my-rounded"></i></span> Importer un document</a>
                            </div>
                        </div>

                        {# Tableau de bord #}
                        <span class="nav-btn float-right mx-4">
                            <a href=
                            {% if is_granted("ROLE_ADMIN") %}
                                {{ path('admin_documents') }}
                            {% else %}
                                {{ path('account_documents') }}
                            {% endif %}
                            
                            class="btn btn-my-primary intramilo mx-1">
                                <i class="uil uil-web-grid"></i>
                            </a>
                        </span>
                        
                           
                        
                        {# Search #}
                        <form class="search-form inline w-100">
                            <div class="input-group inline">

                                <span class="float-right">
                                    {# <div class="nav-btn inline float-left"><i class="uil uil-search"></i></div> #}
                                    {# <div class="input-group-prepend float-left">
                                        <span class="input-group-text bg-white px-2" id="basic-addon1"><i class="uil uil-search"></i></span>
                                    </div> #}
                                    <form action="{{ path('search_index') }}" method="get" class="inline-block">
                                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Recherche" name="q" required
                                        value="{% if query is defined %}{{ query }}{% endif %}">
                                    </form>
                                </span>

                            </div>
                        </form>
                        
                    </li>

                {% if app.user %}

                    {# Notifications #}
                    <li class="dropdown nav-btn float-right mx-1">
                        <a class="btn nav-hover py-1 px-2" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            <i class="fas fa-bell fa-lg mb-4"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right box no-border" id="my-dropdown" aria-labelledby="accountDropdownLink">
                            <h6 class="dropdown-header black pl-3">Notifications</h6>
                            <table class="table my-table">
                                <tr class="notifications">
                                    {# <td class="w-25 text-center notif-icon pl-4">
                                        <span class="icon"><i class="uil uil-book-alt"></i></span>
                                        <span class="state-icon"><i class='uil uil-times-circle'></i></span>
                                    </td>
                                    <td class="w-75 notif-content pl-1 text-left">
                                        La fiche <strong>Fiche</strong> est obsolète. <br>
                                        <span class="date">19 avril 2020</span>
                                    </td> #}
                                </tr>
                            
                            </table>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_documents') }}" class="dropdown-item text-center dropdown-footer my-line-h">Voir plus</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            {% include '_picture.html.twig' with {'user': app.user, 'class': 'medium'} %}
                            
                            {# {{ app.user.fullName }} #}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right account-dropdown box no-border" aria-labelledby="accountDropdownLink">

                            {# <h6 class="dropdown-header">Compte</h6> #}
                            <div class="p-2 text-center">
                                <div class="pr-2 mt-2 mb-2">
                                    {% include '_picture.html.twig' with {'user': app.user, 'class': 'large'} %}
                                </div>
                                <div class="align-middle mt-3">
                                    <div class="main">{{ app.user.fullName }}</div>
                                    <div class="my-secondary small text-center mt-0">{{ app.user.email }}</div>
                                </div>
                            </div>

                            <div class="mx-4 text-center">
                                <a href="{{ path('account_index') }}" class="btn btn-my-secondary my-2">Gérer mon compte</a>
                            </div>
                            

                            {# <a href="{{ path('account_index') }}" class="dropdown-item">Mon profil</a>
                            <a href="{{ path('account_picture_edit') }}" class="dropdown-item">Modifer ma photo de profil</a>
                            <a href="{{ path('account_password') }}" class="dropdown-item">Modifier mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Documentation</h6>
                            <a href="{{ path('organizations_index') }}" class="dropdown-item">Liste des organismes</a>
                            <a href="{{ path('account_documents') }}" class="dropdown-item">Tableau de bord</a> #}

                            {# {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_documents') }}" class="dropdown-item">Suivi de la documentation</a>
                            {% endif %} #}

                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                {# <h6 class="dropdown-header">Administration</h6> #}
                                <a href="{{ path('admin_users_index') }}" target="_blank" class="dropdown-item text-center">BackOffice</a>
                            {% endif %}

                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout') }}" class="dropdown-item text-center">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                    </li>
                {% endif %}
                    
                </ul>              
            </div>
</nav>

    {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                <p>{{ message | raw}}</p>    
                {% endfor %}
            </div>
        </div>
    {% endfor %}


    {# <script>

        // On récupère toutes les fiches et documents (SAUF ceux qui sont à jour et en cours de validation)
        $( document ).ready(function() {

            var path = "{{ path('account_notification') }}";

                $.ajax({
                    type: 'POST',
                    url: path,
                    success: function(data) {
                        console.log(data);
                        
                    },
                    error: function(data) {
                        alert("Error !")
                    }

            });


        });

    </script> #}