 <nav class="navbar navbar-expand-lg navbar-admin">
            <a class="navbar-brand mb-1" href="{{ path('homepage') }}">
                <img class="logo large" src="{{ asset('images/logo_backoffice.png') }}" alt="Logo BackOffice">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin_user'  %}active{% endif %}" href="{{ path('admin_users_index') }}">
                        {# <i class="uil uil-home-alt"></i> #}
                        Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin_groupe'  %}active{% endif %}" href="{{ path('admin_groupes_index') }}">
                        {# <i class="uil uil-users-alt"></i> #}
                        Groupes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin_poste'  %}active{% endif %}" href="{{ path('admin_postes_index') }}">
                        {# <i class="uil uil-briefcase-alt"></i> #}
                        Postes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin_antenne'  %}active{% endif %}" href="{{ path('admin_antennes_index') }}">
                        {# <i class="uil uil-map"></i> #}
                        Antennes</a>
                    </li>     
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin_documentation'  %}active{% endif %}" href="{{ path('admin_documentation_index') }}">
                        {# <i class="uil uil-book-alt"></i> #}
                        Documentation</a>
                    </li>   
                                   
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_poles_index') }}">
                        <i class="fas fa-stream"></i> Pôles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_category_index') }}">
                        <i class="fas fa-stream"></i> Catégories / Sous-Catégories</a>
                    </li> #}
                    {# <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_category_index') }}">
                        <i class="fas fa-stream"></i> Documentation</a>
                    </li> #}
                    
                    
                </ul>   
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('homepage') }}" class="btn btn-my-light intramilo">
                        <i class="uil uil-arrow-up-right"></i> Retour Intramilo</a>
                </li>
                {% if app.user %}

                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link" href="#" data-toggle="dropdown" id="accountDropdownLink">
                            {% include '_picture.html.twig' with {'user': app.user, 'class': 'medium'} %}
                            
                            {# {{ app.user.fullName }} #}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right account-dropdown box no-border" aria-labelledby="accountDropdownLink">

                            {# <h6 class="dropdown-header">Compte</h6> #}
                            <div class="p-2 text-center">
                                <div class="pr-2 mt-2 mb-2">
                                    {% include '_picture.html.twig' with {'user': app.user, 'class': 'large'} %}
                                </div>
                                <div class="align-middle mt-3">
                                    <div class="main">{{ app.user.fullName }}</div>
                                    <div class="my-secondary small text-center mt-0">{{ app.user.email }}</div>
                                </div>
                            </div>

                            <div class="mx-4 text-center">
                                <a href="{{ path('account_index') }}" class="btn btn-my-secondary my-2">Gérer mon compte</a>
                            </div>

                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                {# <h6 class="dropdown-header">Administration</h6> #}
                                <a href="{{ path('homepage') }}" target="_blank" class="dropdown-item text-center">Retour Intramilo</a>
                            {% endif %}

                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout') }}" class="dropdown-item text-center">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                    </li>
                {% endif %}
                    
                </ul>              
            </div>
        </nav>
<div class="backoffice-background"></div>

    {# {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                <p>{{ message | raw}}</p>    
                {% endfor %}
            </div>
        </div>
    {% endfor %} #}