{% extends 'base.html.twig' %}

{% block title %}
    Antennes
{% endblock %}

{% block body %}

<div class="container my-container mt-2">
    <div class="row">

        <div class="col-12 col-md-auto profile-sidebar pl-0">
            <div style="width: 420px;" class="sticky">

            <div class="col-12 px-0 mb-3">

                <div class="row mb-2">
                    <div class="col-md-4 pr-1"><a href="{{ path('antennes_show') }}" class="btn btn-my-primary small w-100 mr-1"> <i class="uil uil-map-marker"></i> Antennes</a></div>
                    <div class="col-md-4 px-1"><a href="{{ path('organizations_index') }}" class="btn btn-my-secondary small w-100 mr-1"> <i class="uil uil-building"></i> Organismes</a></div>
                    <div class="col-md-4 pl-1 pr-3"><a href="{{ path('users_show') }}" class="btn btn-my-secondary small w-100 mr-1"> <i class="uil uil-users-alt"></i> Employés</a></div>
                </div>
            
            </div>

            <div class="card my-card no-border my-box mt-0 p-3">
                {% for antenne in antennes %}
                
                    <div class="col-12 px-0">
                        <div class="card my-card contact-card no-border no-br mt-0 mb-1 p-3 {% if app.request.get('id') == antenne.id %} active {% endif %}" data-id="{{ antenne.id }}" data-latitude={{ antenne.latitude }} data-longitude={{ antenne.longitude }}>

                            <table class="my-table no-border w-100">
                                <tr>
                                    <td class="pr-3">
                                        <div class="contact-icon text-center">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                    </td>
                                    <td class="w-100">
                                        <div class="contact-title m-0 {% if app.request.get('id') == antenne.id %} active {% endif %}">{{ antenne }}</div>
                                        <div class="contact-secondary">
                                            
                                            {{ antenne.phoneNumber }}
                                            
                                        </div>
                                    </td>
                                    {# <td class="w-50p contact-secondary pl-4">
                                        <i class="uil uil-user"></i>
                                        <span class="">{{ antenne.users|length }}</span>
                                        
                                        
                                    </td> #}
                                </tr>
                            </table>

                        </div>
                    </div>

                {% endfor %}
            </div>



            </div>
        </div>
        <div class="col-12 col-md bg-purple-transparent home-content pl-4">

            <div class="row sticky">

                    <div class="col-md-12 pl-0">

                            <div class="card my-card no-border contact-infos no-select no-br mt-0 {% if app.request.get('id') %} d-none {% endif %}">
                                <div class="card-body">
                                    <p class="text">Sélectionnez un contact pour afficher ses informations</p>
                                </div>
                            </div>

                            {% for antenne in antennes %}
                                <div class="card my-card no-border contact-infos contact my-box no-br mt-0 {% if app.request.get('id') != antenne.id %} d-none {% endif %}" data-contact="{{ antenne.id }}">
                                    <div class="contact-map" id="map_{{ antenne.id }}"></div>
                                    <div class="card-body">

                                        <div class="contact-title">
                                            {{ antenne.title }}
                                        </div>
                                        <hr>
                                        <div class="contact-info mt-2">
                                            <i class="uil uil-map-marker"></i> {{ antenne.address }}, {{ antenne.postCode }} {{ antenne.city }}
                                        </div>
                                        <div class="contact-info mt-1">
                                            <i class="uil uil-phone"></i> {{ antenne.phoneNumber }}
                                        </div>

                                        <div class="contact-info mt-1">
                                            <table class="my-table hours-table no-border">
                                                <tr class="{% if "now"|date('w') == 1 %}today{% endif %}">
                                                    <td><i class="uil uil-clock-five"></i></td>
                                                    <td class="pr-4">lundi</td>
                                                    <td class="pr-3">
                                                    {% if antenne.MondayAmOpen is null and antenne.MondayAmClose is null and antenne.MondayPmOpen is null and antenne.MondayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.MondayAmOpen is not null and antenne.MondayAmClose is not null %}
                                                            {{ antenne.MondayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.MondayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.MondayPmOpen is not null and antenne.MondayPmClose is not null %}
                                                            {{ antenne.MondayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.MondayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="{% if "now"|date('w') == 2 %}today{% endif %}">
                                                    <td></td>
                                                    <td class="pr-4">mardi</td>
                                                    <td class="pr-3">
                                                    {% if antenne.TuesdayAmOpen is null and antenne.TuesdayAmClose is null and antenne.TuesdayPmOpen is null and antenne.TuesdayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.TuesdayAmOpen is not null and antenne.TuesdayAmClose is not null %}
                                                            {{ antenne.TuesdayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.TuesdayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.TuesdayPmOpen is not null and antenne.TuesdayPmClose is not null %}
                                                            {{ antenne.TuesdayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.TuesdayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="{% if "now"|date('w') == 3 %}today{% endif %}">
                                                    <td></td>
                                                    <td class="pr-4">mercredi</td>
                                                    <td class="pr-3">
                                                    {% if antenne.WednesdayAmOpen is null and antenne.WednesdayAmClose is null and antenne.WednesdayPmOpen is null and antenne.WednesdayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.WednesdayAmOpen is not null and antenne.WednesdayAmClose is not null %}
                                                            {{ antenne.WednesdayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.WednesdayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.WednesdayPmOpen is not null and antenne.WednesdayPmClose is not null %}
                                                            {{ antenne.WednesdayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.WednesdayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="{% if "now"|date('w') == 4 %}today{% endif %}">
                                                    <td></td>
                                                    <td class="pr-4">jeudi</td>
                                                    <td class="pr-3">
                                                    {% if antenne.ThursdayAmOpen is null and antenne.ThursdayAmClose is null and antenne.ThursdayPmOpen is null and antenne.ThursdayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.ThursdayAmOpen is not null and antenne.ThursdayAmClose is not null %}
                                                            {{ antenne.ThursdayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.ThursdayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.ThursdayPmOpen is not null and antenne.ThursdayPmClose is not null %}
                                                            {{ antenne.ThursdayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.ThursdayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="{% if "now"|date('w') == 5 %}today{% endif %}">
                                                    <td></td>
                                                    <td class="pr-4">vendredi</td>
                                                    <td class="pr-3">
                                                    {% if antenne.FridayAmOpen is null and antenne.FridayAmClose is null and antenne.FridayPmOpen is null and antenne.FridayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.FridayAmOpen is not null and antenne.FridayAmClose is not null %}
                                                            {{ antenne.FridayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.FridayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.FridayPmOpen is not null and antenne.FridayPmClose is not null %}
                                                            {{ antenne.FridayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.FridayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="{% if "now"|date('w') == 6 %}today{% endif %}">
                                                    <td></td>
                                                    <td class="pr-4">samedi</td>
                                                    <td class="pr-3">
                                                    {% if antenne.SaturdayAmOpen is null and antenne.SaturdayAmClose is null and antenne.SaturdayPmOpen is null and antenne.SaturdayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.SaturdayAmOpen is not null and antenne.SaturdayAmClose is not null %}
                                                            {{ antenne.SaturdayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.SaturdayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.SaturdayPmOpen is not null and antenne.SaturdayPmClose is not null %}
                                                            {{ antenne.SaturdayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.SaturdayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr class="{% if "now"|date('w') == 0 %}today{% endif %}">
                                                    <td></td>
                                                    <td class="pr-4">dimanche</td>
                                                    <td class="pr-3">
                                                    {% if antenne.SundayAmOpen is null and antenne.SundayAmClose is null and antenne.SundayPmOpen is null and antenne.SundayPmClose is null %}

                                                        Fermé

                                                    {% else %}
                                                        
                                                        {# Matin #}
                                                        {% if antenne.SundayAmOpen is not null and antenne.SundayAmClose is not null %}
                                                            {{ antenne.SundayAmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.SundayAmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm')}}
                                                        {% endif %}

                                                                                                         
                                                    
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                        {# Après-midi #}
                                                        {% if antenne.SundayPmOpen is not null and antenne.SundayPmClose is not null %}
                                                            {{ antenne.SundayPmOpen|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}–{{ antenne.SundayPmClose|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <hr>
                                        <div class="row px-3 pt-3">
                                        {% for user in antenne.users %}

                                            {# <div class="mr-1">
                                                {% include '_picture.html.twig' with {'user': user, 'class': 'medium'} %}
                                            </div> #}

                                             <a href="{{ path('user_show', {'slug': user.slug })}}" class="mr-2 mb-1" data-toggle="user-tooltip" data-placement="bottom" data-type="info"
                                                title="{{ user.fullName }}">{% include '_picture.html.twig' with {'user': user, 'class': 'medium'} %}</a>

                                        {% endfor %}
                                        </div>
                                            {# <div class="col-md-4 px-1">
                                                <div class="card my-card my-1 contact-user text-center no-border ">
                                                    <div class="mb-2">{% include '_picture.html.twig' with {'user': user, 'class': 'small'} %}</div>
                                                    <div class="black main small">{{ user }}</div>
                                                    <div class="my-secondary small text-center">{{ user.poste }}</div>
                                                </div>
                                            </div> #}
                                        
                                    </div>
                                </div>
                            {% endfor %}
                        
                    </div>
                       

                    </div>
                
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsQWJbFJU0a-P_ELoC8RgXQsNgL-mgmEU">
    </script>


    <script>

        // Initialize and add the map
        function initMap() {
            // The location of Uluru

            var id = $(".contact-card.active").data('id');
            var latitude = $(".contact-card.active").data('latitude');
            var longitude = $(".contact-card.active").data('longitude');

            console.log(id);
            console.log(latitude);
            console.log(longitude);

            var location = {lat: latitude, lng: longitude};

            var target = document.getElementById("map_" + id);

            console.log(target);



            // The map, centered at Uluru
            var map = new google.maps.Map(target, {
                zoom: 17, 
                center: location,
                styles :
                [
                    {
                        "stylers": [
                            {
                                "saturation": -100
                            },
                            {
                                "gamma": 0.8
                            },
                            {
                                "lightness": 4
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.natural",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#f3f5f5"
                            },
                            {
                                "gamma": 0
                            },
                            {
                                "lightness": 1
                            },
                            {
                                "saturation": 0
                            }
                        ]
                    }
                ]
               

            });

            var image =
            "/images/map-marker.png";

            console.log(location);

            // The marker, positioned at Location
            var marker = new google.maps.Marker(
                {
                    position: location,
                    map: map,
                    icon: image
                }
            );

        }

    </script>


    <script>

    /* Quand le contact change, on change également les interlocuteurs */
    $( "div.contact-card" ).click(function() {
        
        var contact_id = $(this).data('id');

        //alert(organization_id);

        $("div.no-select").addClass("d-none");
        $("div.contact").addClass("d-none");

        $(".contact-title").removeClass('active');
        $(this).find(".contact-title").addClass('active');

        $("div.contact[data-contact='"+ contact_id +"'").removeClass("d-none");


        // Gestion de la Map
        $(".contact-card").removeClass('active');
        $(this).addClass('active');

        initMap();


        
    });

  


    $( document ).ready(function() {
        
        var url = new URL(window.location.href);
        var id = url.searchParams.get("id");

        if(id){

            
            initMap();

        }
    
    });
        
   
    

    </script>


{% endblock %}