{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Ajout d'une fiche
{% endblock %}

{% block body %}

{% form_theme form 'documentation/sheet/_collection.html.twig' %}

{% include 'documentation/sheet/_form_base.html.twig' %}


<!-- Modal d'ajout d'un organisme -->
{{ form_start(orgForm) }}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content validation">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouveau organisme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {{ form_row(orgForm) }}
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(orgForm) }}


{% endblock %}

{% block javascripts %}

{# Pour le chargement des interlocuteurs #}
<script>
    var path = "{{ path('interlocutor_load') }}";

</script>
<script src="{{ asset('/js/interlocutors.js') }}"></script>



{# Script de validation du formulaire de la fiche #}
<script src="{{ asset('/js/validation.js') }}"></script>
<script src="{{ asset('/js/sheet.js') }}"></script>


{% endblock %}