{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Modification d'une fiche
{% endblock %}

{% block body %}

{% form_theme form 'documentation/sheet/_collection.html.twig' %}
{{ form_start(form) }}

<div class="container sheet-form">
    <h1 class="my-h1">Modification d'une fiche</h1>
    <div class="row">
        <div class="col-12 col-md">
            <div class="sheet_id d-none">{{ sheet.id }}</div>
            <div class="form-title">
                {{ form_widget(form.title) }}
            </div>

             <ul class="nav nav-pills mt-4 mb-1" id="pills-tab" role="tablist">
                 <li class="nav-item">
                    <a class="nav-link my-pill" id="pills-header-tab" data-toggle="pill" href="#pills-header" role="tab" aria-controls="pills-header" aria-selected="true">Entête {{ sheet.headers|length }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-pill active" id="pills-content-tab" data-toggle="pill" href="#pills-content" role="tab" aria-controls="pills-content" aria-selected="true">Contenu</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link my-pill " id="pills-tools-tab" data-toggle="pill" href="#pills-tools" role="tab" aria-controls="pills-tools" aria-selected="false">Outils {{ sheet.tool|length + sheet.sheetDocuments|length }}</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">

                {# Entete #}
                <div class="tab-pane fade show" id="pills-header" role="tabpanel" aria-labelledby="pills-header-tab">

                    <div class="form-headers">    
                        {{ form_widget(form.headers) }}
                    </div>
                
                </div>

                {# Content #}
                <div class="tab-pane fade show active" id="pills-content" role="tabpanel" aria-labelledby="pills-content-tab">

                    <div class="form-content mt-4">
                        {{ form_widget(form.content) }}
                    </div>
                
                </div>

                {# Outils #}
                <div class="tab-pane fade" id="pills-tools" role="tabpanel" aria-labelledby="pills-tools-tab">
                    <div class="row">
                        <div class="col-6">
                            <div class="card my-card">
                                <div class="card-body p-3">
                                    {# <div class="card-title mt-0 mb-4">
                                        Pièces jointes
                                    </div> #}
                                    <label for="">Pièces jointes</label>
                                    <p class="text">Prochainement</p>
                                    
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-6">
                            <div class="card my-card">
                                <div class="card-body p-3">
                                    {# <div class="card-title mt-0 mb-4">
                                        Fiches existantes
                                    </div> #}
                                     {{ form_row(form.tool, { 'attr': {'size': 10} }) }}

                                    
                                    
                                </div>
                            </div>
                            <div class="card my-card">
                                <div class="card-body p-3">
                                    {# <div class="card-title mt-0 mb-4">
                                        Documents existants
                                    </div> #}
                                    {{ form_row(form.sheetDocuments, { 'attr': {'size': 10} }) }}
                                    
                                </div>
                            </div>
                        
                        
                        </div>
                    
                    </div>
                </div>

        </div>



        </div>
        <div class="col-12 col-md-auto">

            <div class="form-header">
                
                <div class="card my-card mt-0">
                    <div class="card-body p-3">
                        <div class="card-title mt-0 mb-4">
                            Informations
                        </div>

                        <table class="table my-table">
                            <tr>
                                <td class="my-secondary no-border">Etat</td>
                                <td class="main no-border">Modification</td>
                            </tr>
                            {# <tr>
                                <td class="my-secondary no-border">Catégorie</td>
                                <td id="categorie" class="main no-border">-</td>
                            </tr> #}
                            <tr>
                                <td class="my-secondary no-border">Sous-catégorie</td>
                                <td class="main no-border">{{ form_widget(form.subCategory) }}</td>
                            </tr>
                            <tr>
                                <td class="my-secondary no-border">Responsable de validation</td>
                                <td class="main no-border">{{ app.user.groupe.responsable }}</td>
                            </tr>
                        </table>
                        {# <i class="fas fa-check white"></i> #}
                        <button type="submit" class="btn btn-success success float-right white">
                            <i class="uil uil-check-circle"></i> Valider les changements
                        </button>
                    </div>
                </div>

                <div class="card my-card">
                    <div class="card-body p-3">
                        <div class="card-title mt-0 mb-4">
                            Organisme et Interlocuteurs
                        </div>
                        
                        {{ form_widget(form.organization) }}
                        
                        <div id="interlocutors-message" class="mb-0">
                            <p class="text mb-0">Sélectionnez un organisme pour voir la liste des interlocuteurs disponibles.
                            </p>
                        </div>

                        <div class="row" id="interlocutors">
                        
                        </div>
                    </div>
                </div>


                
            </div>

        </div>

    </div>
</div>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

<script>

$('#add-header').click(function(){

    // Je récupère le numéro des futurs champs que je vais créer
    const index = +$('#widgets-counter').val(); // + transforme la chaine de caractère en nombre

    // Je récupère le prototype des entrées
    const tmpl = $('#sheet_headers').data('prototype').replace(/__h__/g, index); // g = "pour chaque"

    // J'injecte ce code au sein de la div
    $('#sheet_headers').append(tmpl);

    $('#widgets-counter').val(index + 1);

    // Je gère le bouton supprimer
    handleDeleteButtons();

});


function handleDeleteButtons(){
    $('button[data-action="delete"]').click(function(){
        const target = this.dataset.target;

        $(target).remove();

    });

}

function updateCounter(){
    const count = +$('#sheet_headers div.form-group.header').length;

    /* Headers */
    $('#widgets-counter').val(count);

    /* Sections */
    $('#sheet_headers div.form-group.header').each(function( index ) {

        var count_section = +$('#sheet_headers_'+ index +'_sections div.form-group.section').length;

        $('#widgets-section-counter-sheet_headers_'+ index +'_sections').val(count_section);

    });



}

updateCounter();
handleDeleteButtons();



$(document).on('click', '.add-section', function(event){ 

    // Je récupère l'id du header pour savoir dans lequel faut ajouter une ligne
    var id = $(this).attr('id'); // sheet_headers_0_sections
    // id = id.split("_")[2]; // 0

    var header_id = '#' + $(this).attr('id');

    // Je récupère le numéro des futurs champs que je vais créer
    var counter = $('#widgets-section-counter-'+ id).val();

    const index = +counter; // + transforme la chaine de caractère en nombre


    // Je récupère le prototype des entrées
    const tmpl = $(header_id).data('prototype').replace(/__s__/g, index); // g = "pour chaque"

    // J'injecte ce code au sein de la div
    $(header_id).append(tmpl);

    $('#widgets-section-counter-' + id).val(index + 1);

    // Je gère le bouton supprimer
    handleDeleteButtons();
    
});


{# // Fonction permettant de charger les interlocuteurs (quand l'organisme est sélectionné)
function loadInterlocutors() {

    $("#interlocutors-message").html("<p class='text'>Chargement des interlocuteurs en cours... </p>");

    // Si un organisme est selectionné
    var organization_id = $("select#sheet_organization").find("option:selected").val();

    if(organization_id){
        

        var path = "{{ path('interlocutor_load') }}";

        $.ajax({
            type: 'POST',
            url: path,
            data: { id: organization_id},
            success: function(interlocutors) {
                
                // On récupère la liste de tous les interlocuteurs
                var cards = "";
                
                // Pour chaque interlocuteur, on récupère la liste des fiches où ils sont présents.
                for (var item in interlocutors) {

                    // Récupération de l'ID de la fiche
                    var sheet_id = $('.sheet_id').text();

        

                    var checked = "";
                    var label = "Non sélectionné";

                    var sheets = interlocutors[item]['sheets'];

                    // Pour chaque interlocuteur, on vérifie s'il y la fiche correspondante dans sa liste de fiches associées dans $interlocutor->getSheets()
                    if(typeof sheets !== 'undefined'){
                        for (var item2 in sheets){

                            
                            if(sheet_id == sheets[item2]['id']){

                                checked = "checked";
                                label = "Sélectionné"

                            }

                        }
                    }


                    cards += " <div class='col-4'><div class='card'><div class='card-body'><div class='form-group'><label class='interlocutor_label'><input name='interlocutor-" + interlocutors[item]['id'] + "' type='checkbox' value='" + interlocutors[item]['id'] + "' class='interlocutor_checkbox'" + checked + "><span> " + label + " </span></label> <br>" + interlocutors[item]['function'] + "</div><div class='mt-2'><strong>" + interlocutors[item]['firstName'] + " "+ interlocutors[item]['lastName'] + "</strong></div>" + interlocutors[item]['phoneNumber'] + " <br>" + interlocutors[item]['email'] + " <br> </div></div></div>";
                    
                }

                $("#interlocutors").html(cards);
                $("#interlocutors-message").html("<p class='text'>Sélectionnez les interlocuteurs que vous souhaitez joindre à votre fiche.</p>");

                // Gestion des checkbox
                $('.interlocutor_label').click(function () {

                    var checked = $('input', this).is(':checked');

                    $('span', this).text(checked ? ' Sélectionné' : ' Non sélectionné');
                });
                
            },
            error: function(data) {
                console.log(data);
                console.log(data.responseText);
            }


        });

    // Si aucun organisme sélectionné
    }else{
        
        $("#interlocutors-message").html("<p class='text'>Aucun organisme sélectionné. Sélectionnez un organisme pour voir la liste des interlocuteurs disponibles. </p>");
        $("#interlocutors").html("");
    }

} #}

{# // Quand le document a fini de se charger, on charge les interlocuteurs
$(document).ready(function() {
    loadInterlocutors();
});



/* Quand l'organisme change, on change également les interlocuteurs */
$("select#sheet_organization").change(function() {
    loadInterlocutors();
}); #}

// Fonction permettant de charger les interlocuteurs (quand l'organisme est sélectionné)
function loadInterlocutors() {

    $("#interlocutors-message").html("<p class='text'>Chargement des interlocuteurs en cours... </p>");

    // Si un organisme est selectionné
    var organization_id = $("select#sheet_organization").find("option:selected").val();

    if(organization_id){
        
        

        var path = "{{ path('interlocutor_load') }}";

        $.ajax({
            type: 'POST',
            url: path,
            data: { id: organization_id},
            success: function(interlocutors) {


                var cards = "";

                for (var item in interlocutors) {

                    // Récupération de l'ID de la fiche
                    var sheet_id = $('.sheet_id').text();

                    var checked = "";
                    var active = "";

                    var sheets = interlocutors[item]['sheets'];

                    

                    // Pour chaque interlocuteur, on vérifie s'il y la fiche correspondante dans sa liste de fiches associées dans $interlocutor->getSheets()
                    if(typeof sheets !== 'undefined'){
                        for (var item2 in sheets){

                            if(sheet_id == sheets[item2]['id']){

                                checked = "checked='checked'";
                                active = "active";

                            }else{

                                checked = "";
                                active = "";

                            }

                        }
                    }
                    
                    var id = interlocutors[item]['id'];
                    var fonction = interlocutors[item]['function'];
                    var fullName = interlocutors[item]['firstName'] + " " + interlocutors[item]['lastName'];
                    var initiales = interlocutors[item]['firstName'].slice(0,1) + interlocutors[item]['lastName'].slice(0,1);

                    var email = interlocutors[item]['email'];
                    var phoneNumber = interlocutors[item]['phoneNumber'];

                    // cards += " <div class='col-12'><div class='card'><div class='card-body'><div class='form-group'><label class='interlocutor_label'><input name='interlocutor-" + interlocutors[item]['id'] + "' type='checkbox' value='" + interlocutors[item]['id'] + "' class='interlocutor_checkbox'><span> Non sélectionné </span></label> <br>" + interlocutors[item]['function'] + "</div><div class='mt-2'><strong>" + interlocutors[item]['firstName'] + " "+ interlocutors[item]['lastName'] + "</strong></div>" + interlocutors[item]['phoneNumber'] + " <br>" + interlocutors[item]['email'] + " <br> </div></div></div>";
                        cards += "<div class='col-12'>" +
                                    "<div class='card my-card user interlocutor " + active +  "'>" +
                                        "<div class='card-body p-0'>" +

                                            "<table class='my-table'>" +
                                                "<tbody>" +
                                                    "<tr>" +
                                                        "<td class='p-2'>" +
                                                            "<div class='init-circle medium'>" +
                                                                "<span class='init'>" + initiales + "</span>" +
                                                            "</div>" +
                                                        "</td>" +
                                                        "<td class='text-left pl-2'>" +
                                                            "<input type='checkbox' name='interlocutor-" + id + "' value=" + id + " class='my-checkbox d-none' " + checked + ">" +
                                                            "<div class='text my-secondary main'>" + fullName +  "</div>" +
                                                            "<div class='text my-secondary'>" + fonction + "</div>" +
                                                        "</td>" +
                                                    "</tr>" +
                                                "</tbody>" +
                                            "</table>" +
                                            
                                        "</div>" +
                                    "</div>" +
                                "</div>";
                }

                $("#interlocutors").html(cards);
                $("#interlocutors-message").html("<p class='text'>Sélectionnez les interlocuteurs que vous souhaitez joindre à votre fiche.</p>");

                // Gestion des checkbox
                /*$('.interlocutor_label').click(function () {

                    var checked = $('input', this).is(':checked');

                    $('span', this).text(checked ? ' Sélectionné' : ' Non sélectionné');
                });*/

                 $(".interlocutor").click(function() {
                    if($(this).hasClass('active'))
                    {
                        $(this).removeClass('active');
                        $(this).find('.my-checkbox').attr('checked', false);

                    }else{
                        $(this).addClass('active');
                        $(this).find('.my-checkbox').attr('checked', true);
                    }
                });
                
            },
            error: function(data) {
                alert("Error !")
            }


        });

    // Si aucun organisme sélectionné
    }else{
        
        $("#interlocutors-message").html("<p class='text'>Aucun organisme sélectionné. Sélectionnez un organisme pour voir la liste des interlocuteurs disponibles. </p>");
        $("#interlocutors").html("");
    }

}

// Quand le document a fini de se charger, on charge les interlocuteurs
$(document).ready(function() {
    loadInterlocutors();
});



/* Quand l'organisme change, on change également les interlocuteurs */
$("select#sheet_organization").change(function() {
    loadInterlocutors();
});



</script>

{% endblock %}