{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Modification d'une fiche
{% endblock %}

{% block body %}

    <div class="container">
 
        

        {% form_theme form 'documentation/sheet/_collection.html.twig' %}

        {{ form_start(form) }}
        
            <div class="row">
                <div class="col-md-10 offset-md-1">

                    <h1 class="my-5">Modification d'une fiche</h1>

                    <div class="card p-4">
                        <div class="card-body">
                        <h6 class="card-title mb-3"><span class="doc-step">Etape 1 :</span> Titre et entête</h6>
                            {{ form_row(form.title) }}
                            {{ form_row(form.organization) }}
   
                            {{ form_row(form.headers) }}
                        </div>
                    </div>

                    <div class="card p-4">
                        <div class="card-body">
                        <h6 class="card-title mb-3"><span class="doc-step">Etape 2 :</span> Contenu</h6>
                            {{ form_row(form.content) }}
                        </div>
                    </div>

                    <div class="card p-4">
                        <div class="card-body">
                        <h6 class="card-title mb-3"><span class="doc-step">Etape 3 :</span> Pièces jointes</h6>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(form.tool, { 'attr': {'size': 10} }) }}
                                </div>
                                <div class="col">
                                    {{ form_row(form.sheetDocuments, { 'attr': {'size': 10} }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                     {{ form_widget(form.subCategory, { 'attr': {'class': 'd-none'} }) }}

                      <div class="card p-4">
                        <div class="card-body">
                        <h6 class="card-title mb-3">Vous y êtes presque !</h6>
                            <p class="text">Vérifiez bien toutes les informations que vous avez renseigné avant de valider. <br>
                            Cette fiche sera envoyée à corriger auprès de votre responsable <strong> {{ app.user.groupe.responsable.fullName }} </strong></p>
                            
                            <button type="submit" class="btn btn-success success float-right">
                                <i class="fas fa-check"></i> Modifier la fiche
                            </button>
                        </div>
                    </div>
        
                    

                   

                    

                    


                    

                    

                    
                    
                </div>
            </div>



            
        {{ form_end(form) }}



    </div>

{% endblock %}


{% block javascripts %}

<script>

$('#add-header').click(function(){

    // Je récupère le numéro des futurs champs que je vais créer
    const index = +$('#widgets-counter').val(); // + transforme la chaine de caractère en nombre

    console.log('header_index'+ index);

    // Je récupère le prototype des entrées
    const tmpl = $('#sheet_headers').data('prototype').replace(/__h__/g, index); // g = "pour chaque"

    // J'injecte ce code au sein de la div
    $('#sheet_headers').append(tmpl);

    $('#widgets-counter').val(index + 1);

    // Je gère le bouton supprimer
    handleDeleteButtons();

});


function handleDeleteButtons(){
    $('button[data-action="delete"]').click(function(){
        const target = this.dataset.target;

        $(target).remove();

    });

}

function updateCounter(){
    const count = +$('#sheet_headers div.form-group.header').length;

    /* Headers */
    $('#widgets-counter').val(count);

    console.log()

    /* Sections */
    $('#sheet_headers div.form-group.header').each(function( index ) {

        var count_section = +$('#sheet_headers_'+ index +'_sections div.form-group.section').length;
        $('#widgets-section-counter-' + index).val(count_section);
        console.log(count_section);
    });

}

updateCounter();
handleDeleteButtons();



$(document).on('click', '.add-section', function(event){ 

    // Je récupère l'id du header pour savoir dans lequel faut ajouter une ligne
    var id = $(this).attr('id'); // sheet_headers_0_sections
    // id = id.split("_")[2]; // 0

    var header_id = '#' + $(this).attr('id');

    // Je récupère le numéro des futurs champs que je vais créer
    var counter = $('#widgets-section-counter-'+ id).val();
    const index = +counter; // + transforme la chaine de caractère en nombre

    

    console.log('index ' + '#widgets-section-counter-'+ id);

    // Je récupère le prototype des entrées
    const tmpl = $(header_id).data('prototype').replace(/__s__/g, index); // g = "pour chaque"

    // J'injecte ce code au sein de la div
    $(header_id).append(tmpl);

    $('#widgets-section-counter-' + id).val(index + 1);

    // Je gère le bouton supprimer
    handleDeleteButtons();
    
});



</script>

{% endblock %}