{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ sheet.title }} - {{ sheet.organization }}
{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row justify-content-center mt-5">
            <div class="col-lg-2 bg-light">
                Menu
            </div>
            <div class="col-lg-7">
                <p>{{ category.title }} - <a href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': subCategory.slug }) }}">{{ subCategory.title }}</a></p>
                <h1>{{ sheet.title }}</h1>
                <p>
                    par Géraldine Thomas -
                    {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'MMMM Y') }} -
                    à jour
                </p>

                <a href="{{ path('sheet_edit', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': sheet.slug }) }}" class="btn btn-primary">
                Modifier la fiche           
                </a>
                <a href="{{ path('sheet_delete', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': sheet.slug }) }}" class="btn btn-danger">
                Supprimer la fiche           
                </a>

                <div class="content mt-5">
                    {{ sheet.content|raw }}
                </div>
            </div>

            <div class="col-lg-3 bg-light">
                <div class="row header-menu p-4">
                    <div class="col-6 text-center">Infos</div>
                    <div class="col-6 text-center">Outils</div>
                </div>
                <div class="row header-image d-flex align-items-center mx-1" 
                    style="
                        color: white;
                        background-image: url(http://placeimg.com/300/200/any);
                        height: 200px;
                        background-color: rgba(0, 0, 0, 0.5);
                        background-blend-mode: multiply">

                    <div class="col-12 text-center" style="">

                            <h4>{{ sheet.title }}</h4><br>
                            <h6>{{ sheet.organization }}</h6>

                        
                    </div>
                </div>
                <div class="row header-table mx-1">

                {% for header in sheet.headers %}

                    <table class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">{{ header.title|upper }}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for section in header.sections %}
                            <tr>
                                <td>{{ section.title }}</td>
                                <td><strong>{{ section.content }}</strong></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% endfor %}
                   
                </div>
            </div>
        </div>

        
    </div>

{% endblock %}