{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ sheet.title }} (fiche)
{% endblock %}

{% block body %}


{# Si c'est l'utilisateur a les droits #}
{% set admin = false %}

{% if (sheet.author is same as(app.user)) or (is_granted("ROLE_ADMIN")) %}
    {% set admin = true %}
{% endif %}

<div class="container-fluid sheet-container bg-white">
    <div class="row">

        {# Summary #}
        <div class="col-xl-2 d-lg-none d-md-none d-sm-none d-xs-none d-xl-block bg-marine sidebar">
            {# <a href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': subCategory.slug }) }}" class="btn btn-my-secondary"><i class="uil uil-angle-left-b"></i> Retour</a> #}

        </div>

        <div class="col-12 d-none d-print-block">
            <div class="row">
                <div class="col-3">
                    <img src="/images/logo_mission_locale.png" class="px-4" style="height: 100px;" alt="Logo Mission Locale de l'arrondissment de Dijon">
                </div>
                <div class="col-6 text-center">
                    <p class="fil-ariane mt-2 mb-0 black d-none d-print-block text-center black">
                        {# <span href="" class="my-badge mt-1 bg-{{ category.pole.labelColor }} white px-2 py-1">{{ category.pole |slice(0, 1) }}</span> #}
                        <a href="{{ path('doc_pole', { 'id': category.pole.id }) }}" class="black"><span class="mx-1 doc-secondary">{{ category.pole }}</span></a>
                        <span class="">></span>
                        <span class="mx-1 doc-secondary">{{ category }}</span>
                        <span class="">></span>
                        <a href="{{ path('doc_show', { 'slug': category.slug, 'sub_slug': subCategory.slug, 'sub_id': subCategory.id  }) }}" class="black"><span class="mx-1 doc-secondary">{{ subCategory }}</span></a>
                    </p>
                </div>
            </div>
            
            
        </div>

        {# Content #}
        <div class="col-xl-7 col-lg-8 col-md-8 content bg-white">

            <div class="row">

                

                <div class="col-xl-7 col-lg-6">
                    {# Titre et infos #}
                    <p class="fil-ariane mt-2 mb-0 black op-70 d-print-none">
                        {# <span href="" class="my-badge mt-1 bg-{{ category.pole.labelColor }} white px-2 py-1">{{ category.pole |slice(0, 1) }}</span> #}
                        <a href="{{ path('doc_pole', { 'id': category.pole.id }) }}" class="black"><span class="mx-1 doc-secondary">{{ category.pole }}</span></a>
                        <span class="">></span>
                        <span class="mx-1 doc-secondary">{{ category }}</span>
                        <span class="">></span>
                        <a href="{{ path('doc_show', { 'slug': category.slug, 'sub_slug': subCategory.slug, 'sub_id': subCategory.id  }) }}" class="black"><span class="mx-1 doc-secondary">{{ subCategory }}</span></a>
                    </p>
                </div>
                <div class="col-xl-5 col-lg-6 float-right">
                    

                    <div class="dropdown float-right ml-2 d-print-none">
                        <button class="btn btn-my-secondary small" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil uil-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right my-dropdown " aria-labelledby="dropdownMenuButton">

                            {% if app.user == sheet.author or is_granted("ROLE_ADMIN") %}
                                
                                <a class="dropdown-item pl-3" href="{{ path('sheet_edit', {'id': sheet.id }) }}"><span class="rounded"><i class="fas fa-pen fa-xs my-rounded"></i></span> Modifier</a>
                            {% endif %}

                            {% if sheet.status is null %}
                                {% if app.user.favorites.contains(sheet) %}
                                    <a class="dropdown-item pl-3" href="{{ path('favorites_remove', {'id': sheet.id }) }}"><span class="rounded"><i class="fas fa-star my-rounded"></i></span> Enlever le favori</a>
                                {% else %}
                                    <a class="dropdown-item pl-3" href="{{ path('favorites_add', {'id': sheet.id }) }}"><span class="rounded"><i class="far fa-star my-rounded"></i></span> Ajouter en favori</a>
                                {% endif %}
                            
                            {% endif %}

                            
                            <a class="dropdown-item pl-3" href="{{ path('sheet_create_model', {'id_model': sheet.id }) }}">
                                <span class="rounded"><i class="far fa-copy my-rounded"></i></span>
                                Dupliquer
                            </a>

                            {# <a class="dropdown-item pl-3" data-toggle="modal" data-target="#printModal">
                                <span class="rounded"><i class="fas fa-print my-rounded"></i></span>
                                Imprimer
                            </a> #}
                            


                            {% if is_granted("ROLE_ADMIN") and sheet.status != 'DRAFT' %}
                                <a class="dropdown-item pl-3" href="{{ path('sheet_change_author', {'id': sheet.id }) }}"><span class="rounded"><i class="far fa-user my-rounded"></i></span> Changer d'auteur</a>
                            {% endif %}

                            {% if app.user == sheet.author %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item pl-3" data-toggle="modal" data-target="#deleteModal"><span class="rounded"><i class="fas fa-times my-rounded"></i></span> Supprimer</a>
                            {% endif %}
                        </div>
                    </div>

                    <a class="btn btn-my-outline small float-right ml-2 d-print-none" data-toggle="modal" data-target="#printModal">
                        <i class="fas fa-print"></i>
                    </a>

                    {% if is_granted("ROLE_ADMIN") and sheet.status is null %}

                        <a href="{{ path('sheet_front', {'id': sheet.id }) }}" class="btn btn-my-primary small {% if sheet.front %}active{% endif %} float-right d-print-none">
                        {% if sheet.front and (sheet.publishedAt is not null and date(sheet.publishedAt) > date('-2weeks', 'Europe/Paris')) %}
                            <i class="uil uil-fire"></i> Enlever de la Une
                        {% else %}
                            <i class="uil uil-fire"></i> Mettre à la Une
                        {% endif %}
                        </a>
                    {% endif %}


                    

                    {# {% if sheet.organization and sheet.status == "DRAFT" %}

                        <a href="{{ path('sheet_front', {'id': sheet.id }) }}" class="btn btn-my-primary small {% if sheet.front %}active{% endif %} float-right">
                        {% if is_granted("ROLE_ADMIN") %}
                            <i class="far fa-paper-plane mr-1"></i> Mettre en ligne
                        {% else %}
                            <i class="far fa-paper-plane mr-1"></i> Envoyer à valider
                        {% endif %}
                        </a>
                    {% endif %} #}

                </div>

                    
         
            </div>



            {# {% if sheet.publishedAt is not null %}



                {% if  date(sheet.publishedAt) > date('-2weeks', 'Europe/Paris') and is_granted("ROLE_ADMIN") %}
                    <p class="mt-1 float-right text">Publié le {{ sheet.publishedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM') }}, à {{ sheet.publishedAt|localizeddate('none', 'none', 'fr', null, 'H:mm') }}</p>
                {% endif %}

            {% endif %} #}

            {# Title #}
            <div class="sheet-title black">{{ sheet.title }} {% include 'documentation/_file_icon.html.twig' with {'file': sheet} %}</div>

            {# Subtitle #}
            <div class="sheet-subtitle op-70">{{ sheet.subtitle }}</div>

            {% if  sheet.front and date(sheet.publishedAt) > date('-2weeks', 'Europe/Paris') and is_granted("ROLE_ADMIN") %}
                <p class="mt-1 text d-print-none">Publié à la Une le {{ sheet.publishedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM') }}, à {{ sheet.publishedAt|localizeddate('none', 'none', 'fr', null, 'H:mm') }}</p>
            {% endif %}

            <div class="row" id="print-author">
                <div class="col-12 sheet-author">

                    {% include 'documentation/_user_file.html.twig' with {'user': sheet.author, 'file': sheet} %}
                </div>
            </div>

            {# Notification #}
            <div class="row d-print-none">
                <div class="col-12">
                    {% if (sheet.author == app.user or admin) and ((sheet.status is not null) or (date(sheet.updatedAt) < date('-5months', 'Europe/Paris'))) %}
                        {% include 'documentation/_sheet_notification.html.twig' with {'file': sheet} %}
                    {% endif %}    
                </div>
            
            </div>

            {# Pièces jointes #}
            {% if sheet.attachments|length > 0 %}
            
                <div class="mt-4 d-print-none">
                    {% for file in sheet.attachments %}

                        <span class="inline-block pr-1">
                            {% include 'documentation/_attachment.html.twig' %}
                        </span>

                    {% endfor %}
                </div>

            {% endif %}

            {# Introduction #}
            <div class="row">
                <div class="col-12 sheet-content paragraph-body sheet-introduction mt-4 mb-0 black">
                    {{ sheet.introduction|raw }}
                
                </div>
            </div>

            {# Contenu #}
            <div class="d-none" id="sheetId">{{ sheet.id }}</div>

            <div class="row">
                <div class="col-12 sheet-content">

                    {% for h in sheet.headers %}
                    <div id="accordion-h">
                        <div class="card my-card paragraph-card header bg-purple no-border mt-4 pt-2 px-0 pb-1" id="print-header-{{h.id}}">
                            <button class="btn btn-paragraph purple text-left no-focus show"
                            {# data-toggle="collapse" data-target="#collapse-h-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}" #}
                            >
                                <div class="card-header bg-transparent pl-3 py-0" id="heading-h-{{ loop.index }}">
                                    <h5 class="my-0 purple">
                                            {# <i class="uil uil-bookmark"></i> #}
                                            {{ h.title }} 
                                            {# <i class="uil uil-angle-down float-right"></i> #}
                                    </h5>
                                </div>
                            </button>

                            <div id="collapse-h-{{ loop.index }}" class="collapse show" aria-labelledby="heading-h-{{ loop.index }}" data-parent="#accordion-h">
                            <div class="card-body px-4 pt-0 pb-4">
                                <table class="table my-table mx-1 bg-transparent">
                                    {% for section in h.sections %}
                                        <tr>
                                            <th class="no-border">{{ section.title }}</th>
                                            <td class="no-border">{{ section.content }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}

                    <div class="row mt-4 d-print-none">
                        <div class="col-12">
                            <button id="toggle-c" class="btn btn-my-secondary small bg-marine marine float-right mb-2 {% if sheet.paragraphs|length < 1 %} d-none {% endif %}">Tout déplier <i class="uil uil-angle-down"></i></button>
                            {# <button id="hide-c" class="btn btn-my-secondary small bg-marine marine float-right mr-2 mb-2 px-3 py-2">Tout replier <i class="uil uil-angle-up"></i></button> #}
                        </div>
                    </div>

                    {% for p in sheet.paragraphs %}
                    <div id="accordion">
                        <div class="card my-card paragraph-card mt-2 p-0" id="print-paragraph-{{p.id}}">
                            <button class="btn btn-paragraph marine text-left no-focus pt-4 pb-4 px-4" data-toggle="collapse" data-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                                <div class="card-header pl-0 py-0" id="heading-{{ loop.index }}">
                                    <h5 class="my-0 marine">
                                            {{ p.title }} <i class="uil uil-angle-down float-right d-print-none"></i>
                                    </h5>
                                </div>
                            </button>

                            <div id="collapse-{{ loop.index }}" class="collapse" aria-labelledby="heading-{{ loop.index }}" data-parent="#accordion">
                            
                            <div class="card-body paragraph-body px-4 pt-0 mx-1">
                                {# <hr class="mt-0 px-4"> #}
                                {{ p.content|raw }}
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="col-12 sheet-tools">
                    {% if sheet.tool|length == 0 and sheet.sheetDocuments|length == 0 %}

                        {# <div class="text-center">
                            <p class="text">Pas de pièces jointes associées à cette fiche</p>
                            <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-sm btn-outline-dark">Ajouter des pièces jointes</a>
                        </div> #}

                    {% else %}

                    
                        <h5 class="my-italic">A voir aussi</h5>
                        <div class="front ">              
                            <div class="row">

                                {% for file in sheet.tool %}
                                    <div class="col-6 p-2">
                                        {% include 'documentation/_file.html.twig' %}
                                    </div>

                                {% endfor %}

                                {% for file in sheet.sheetDocuments %}

                                    <div class="col-6 p-2">
                                        {% include 'documentation/_file.html.twig' %}
                                    </div>

                                {% endfor %}
                            </div>
                        </div>

                    {% endif %}
                </div>
            </div>

            
        </div>

        {# Header #}
        <div class="col-md-auto bg-white header pr-0">

            <div style="width: 300px;" class="">

                <div class="card my-card header-card my-box no-border my-0">

                        {% include '_sheet_picture.html.twig' with {'sheet': sheet} %}
                </div>

                <div class="organization-logo">
                    {% if sheet.organization %} {% include '_organization_logo.html.twig' with {'organization': sheet.organization, 'class': 'medium'} %} {% endif %} 
                </div>
                <div class="card my-card organization-card my-0">
                    <div class="card-body">

                        <div class="organization-title black">{% if sheet.organization %} {{ sheet.organization }} {% else %} <p class="text mb-0"> Organisme non renseigné</p>{% endif %}  </div>
                        {% if sheet.organization %}
                            <div class="organization-address small my-secondary black op-70 mt-1">{% if sheet.organization.address %} {{ sheet.organization.address }} <br> {{ sheet.organization.postCode }} {{ sheet.organization.city }}{% endif %}</div>
                            <div class="organization-phone small my-secondary black  op-70 mt-2 ">
                                {% if sheet.organization.phoneNumber %} <i class="uil uil-phone-alt"></i> {{ sheet.organization.phoneNumber }} {% endif %}
                            </div>
                            <div class="organization-email small my-secondary black">
                                {% if sheet.organization.email %} <a class="mail-link" href="mailto:{{ sheet.organization.email }}"><i class="uil uil-envelope-alt"></i> {{ sheet.organization.email }}</a> {% endif %}
                            </div>
                            <div class="organization-email small my-secondary">
                                {% if sheet.organization.website %} <a class="violet" href="{{ sheet.organization.website }}" target="_blank"><i class="uil uil-external-link-alt"></i> Voir le site web</a> {% endif %}      
                                
                            </div>
                        {% endif %}

                        

                    </div>
                </div>

                {% if sheet.interlocutors|length > 0 %}
                    <div class="interlocutors-container" id="print-interlocutors">
                        {% for interlocutor in sheet.interlocutors %}

                            {% include 'documentation/_user_interlocutor.html.twig' with {'user': interlocutor} %}

                        {% endfor %}
                    </div>

                {% endif %}

                

            </div>
            

        
        </div>
    </div>

</div>

<div class="modal fade bd-example-modal-lg" id="printModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-3">
        <div class="modal-header no-border pb-0">
            <h4 class="modal-title m-0" id="exampleModalLabel">Impression<span class="font-weight-light"> - Options</span></h4>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            
        </div>

        <div class="modal-body px-4">

            

            {# Contacts #}
            <h5 class="my-3">Contact(s)</h5>
            <div class="form-check">
                <input type="checkbox" id="author-check" class="form-check-input" checked>
                <label class="form-check-label" for="author-check">L'auteur de la fiche</label>
            </div>

            {% if sheet.interlocutors|length > 0 %}
            <div class="form-check">
                <input type="checkbox" id="interlocutors-check" class="form-check-input" checked>
                <label class="form-check-label" for="interlocutors-check">Interlocuteurs</label>
            </div>
            {% endif %}

            {# Entete #}
            {% if sheet.headers|length > 0 %}

                <h5 class="my-3">Entête(s)</h5>

                {% for head in sheet.headers %}

                    <div class="form-check" id="header-check-{{head.id}}">
                        <input type="checkbox" id="h-check-{{head.id}}" data-id="{{head.id}}" class="form-check-input header-check" checked>
                        <label class="form-check-label" for="h-check-{{head.id}}">{{ head.title }}</label>
                    </div>

                {% endfor %}

            {% endif %}

            {# Paragraphs #}
            <h5 class="my-3">Section(s)</h5>
            {% for para in sheet.paragraphs %}

                <div class="form-check" id="paragraph-check-{{para.id}}">
                    <input type="checkbox" id="p-check-{{para.id}}" data-id="{{para.id}}" class="form-check-input paragraph-check" checked>
                    <label class="form-check-label" for="p-check-{{para.id}}">{{ para.title }}</label>
                </div>

            {% endfor %}

        


        </div>
        <div class="modal-footer no-border">
        
            <button type="button" class="btn rouge" data-dismiss="modal">Annuler</button>
            <a type="button" href="" class="btn btn-my-primary" id="print"><i class="fas fa-print mr-2"></i>Imprimer</a>
        </div>
    </div>
  </div>
</div>

{# Delete Modal #}
<div class="modal fade bd-example-modal-lg" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header no-border pb-0">
        <h4 class="modal-title m-0 text-center" id="exampleModalLabel">Suppression de la fiche<span class="font-weight-light"> - Êtes-vous sûr ?</span></h4>
      </div>
      <div class="modal-footer no-border">
        <button type="button" class="btn" data-dismiss="modal">Non</button>
        <a type="button" href="{{ path('sheet_delete', {'id': sheet.id}) }}" class="btn btn-my-danger">Oui, je supprime</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    
    <script>

        function convertToSlug(Text)
        {
            return Text
                .toLowerCase()
                .replace(/ /g,'-')
                .replace(/[^\w-]+/g,'')
                ;
        }

        // Génération du menu de la fiche (Sheet)

        $( ".content h1, .content h2" ).each(function() {

            var text = $(this).text();
            var anchor = convertToSlug(text);

            /* var subtitle = "px-4";*/

            var subtitle = "";
            
            if($(this).is("h2")){

                /* subtitle = "px-5 subtitle"; */
                subtitle = "subtitle";

            }

        
            // Menu
            $("ul.sheet-menu").append(
                '<a href="#'+ anchor +'"><li class="'+ subtitle +'">'+ text +'</li></a>'
            );

            // Ancre h1
            $(this).attr('id', anchor);
        });




        $("#validation").click(function() {    

            // Permet d'enlever les span (couleur) du contenu
            $("div.paragraph-body span").contents().unwrap();

            var paragraphs = [];
            $( "div.paragraph-body" ).each(function() {
                //console.log($(this).html());
                paragraphs.push($(this).html());
            });

            console.log(paragraphs);

            // Récupération des données
            var id = $("#sheetId").text();
            var content = $("div.sheet-content").html();

            // $("#validation").attr('href').text().replace("_uniformized", content);

            var path = "{{ path('sheet_validate') }}";


            $.ajax({

                type: 'POST',
                url: path,
                data: { id: id, paragraphs: paragraphs},
                success: function(data) {

                    location.reload();
                    
                },
                error: function(data) {
                    /*console.log(data);
                    alert("Error !")*/
                }

            });
    
            //location.reload();
        
        });

        

$(".btn-paragraph").click(function() { 

        
        if($(this).hasClass('show')){
            
            $(this).removeClass('show');


        }else{

            $(this).addClass('show');

        }

});

$('#toggle-c').on('click', function(e) {



    if(!$(this).hasClass('show')){


        /*$('#accordion-h .collapse').removeAttr("data-parent");
        $('#accordion-h .collapse').collapse('show');*/

        $('#accordion .collapse').removeAttr("data-parent");
        $('#accordion .collapse').collapse('show');

        $('.btn-paragraph').addClass('show');

        $(this).html('Tout replier <i class="uil uil-angle-up d-print-none"></i>');
        $(this).addClass('show');

    }else{


        /*$('#accordion-h .collapse').attr("data-parent","#accordion");
        $('#accordion-h .collapse').collapse('hide');*/

        $('#accordion .collapse').attr("data-parent","#accordion");
        $('#accordion .collapse').collapse('hide');

        $('.btn-paragraph').removeClass('show');


        
        $(this).html('Tout déplier <i class="uil uil-angle-down d-print-none"></i>');
        $(this).removeClass('show');

    }


})

// Impression
$("#print").click(function() {   

    $('#printModal').modal('toggle');
    $(".modal-backdrop").remove();

    if(!$('#author-check').is(':checked')) {
        $('#print-author').addClass("d-print-none");
    }else{
        $('#print-author').removeClass("d-print-none");
    }

    if(!$('#interlocutors-check').is(':checked')) {
        $('#print-interlocutors').addClass("d-print-none");
    }else{
        $('#print-interlocutors').removeClass("d-print-none");
    }

    if(!$('#header-check').is(':checked')) {
        $('#print-interlocutors').addClass("d-print-none");
    }else{
        $('#print-interlocutors').removeClass("d-print-none");
    }

    $(".header-check").each(function() {
        var header_id = $(this).data('id');
        
        if(!$(this).is(':checked')) {
            $('#print-header-' + header_id).addClass("d-print-none");
        }else{
            $('#print-header-' + header_id).removeClass("d-print-none");
        }

    });

    $(".paragraph-check").each(function() {
        
        var paragraph_id = $(this).data('id');
        
        if(!$(this).is(':checked')) {
            $('#print-paragraph-' + paragraph_id).addClass("d-print-none");
        }else{
            $('#print-paragraph-' + paragraph_id).removeClass("d-print-none");
        }

    });

    $('.collapse').addClass('show');



     /*{# Contacts #}
     
            <h5 class="my-3">Contacts</h5>
            <div class="form-check">
                <input type="checkbox" id="author-check" class="form-check-input" checked>
                <label class="form-check-label" for="author-check">L'auteur de la fiche</label>
            </div>

            <div class="form-check">
                <input type="checkbox" id="interlocutors-check" class="form-check-input" checked>
                <label class="form-check-label" for="interlocutors-check">Interlocuteurs</label>
            </div>

            {# Entete #}
            {% if sheet.headers|length > 0 %}

                <h5 class="my-3">Entête</h5>

                {% for head in sheet.headers %}

                    <div class="form-check">
                        <input type="checkbox" id="header-check-{{head.id}}" data-id="{{head.id}}" class="form-check-input header-check" checked>
                        <label class="form-check-label" for="header-check-{{head.id}}">{{ head.title }}</label>
                    </div>

                {% endfor %}

            {% endif %}

            {# Paragraphs #}
            <h5 class="my-3">Sections</h5>
            {% for para in sheet.paragraphs %}

                <div class="form-check">
                    <input type="checkbox" id="paragraph-check-{{para.id}}" class="form-check-input" checked>
                    <label class="form-check-label" for="paragraph-check-{{para.id}}">{{ para.title }}</label>
                </div>

            {% endfor %}/*/
     

    window.print();

}); 


    
    
    </script>

 

{% endblock %}