{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ sheet.title }} - {{ sheet.organization }}
{% endblock %}

{% block body %}

    <div class="container-fluid main-sheet-container">

        <div class="row justify-content-center mt-5">
            <div class="col-lg-2 bg-light sheet-menu-container">
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': subCategory.slug }) }}" class="btn btn-light return mt-4"><i class="fas fa-caret-left mr-2"></i>Retour</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center p-4 header-title">Contenu</div> 
                </div>
                <div class="row">
                    <div class="col sheet-menu">
                        <ul class="menu"></ul>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-7 px-5">
            
                <p class="fil-ariane">
                    <a class="btn btn-light btn-sm">
                        {{ category.title }}
                    </a>
                    <a class="btn btn-primary btn-sm" href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': subCategory.slug }) }}">
                        {{ subCategory.title }}
                    </a>
                    {% if (sheet.status is null) %}
                    <div class="dropdown float-right">
                            <button class="btn btn-link options" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h options"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('sheet_edit', {'id': sheet.id }) }}">Modifer</a>
                                <a class="dropdown-item" href="{{ path('sheet_delete', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': sheet.slug, 'sheet_id': sheet.id}) }}">Supprimer</a>
                            </div>
                    </div>
                    {% endif %}
                </p>

                {% if sheet.status == "TO_VALIDATE" %}

                    {% set state = "En cours de validation" %}
                    {% set state_class = "light" %}

                {% elseif sheet.status == "TO_CORRECT" %}

                    {% set state = "À corriger" %}
                    {% set state_class = "primary" %}

                {% else %}

                    {% if date(sheet.updatedAt) <= date('-6months', 'Europe/Paris') %}

                        {% set state = "Obsolète" %}
                        {% set state_class = "danger" %}

                    {% elseif date(sheet.updatedAt) < date('-5months', 'Europe/Paris') %}

                        {% set state = "Bientôt obsolète" %}
                        {% set state_class = "warning" %}

                    {% else %}

                        {% set state = "À jour" %}
                        {% set state_class = "success" %}

                    {% endif %}

                {% endif %}

                <h1 class="sheet-title mt-4">{{ sheet.title }}</h1>
                <p class="sheet-infos">
                <span class="badge badge-pill badge-{{state_class}}">
                    {{ state }}
                </span>
                <span class="badge badge-pill badge-secondary">
                    {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'MMMM Y') }}
                </span>
                <a href="{{ path('user_show', {'slug': subCategory.author.slug }) }}">
                    <span class="badge badge-pill badge-light">
                        {{ sheet.subCategory.author.fullName }}
                    </span>
                </a>
                    
                </p>
                <div class="d-none" id="sheetId">{{ sheet.id }}</div>

                {% if is_granted("ROLE_ADMIN") and sheet.status is null %}
                    <a href="{{ path('sheet_front', {'id': sheet.id }) }}" class="btn btn-sm btn-outline-dark">
                    {% if sheet.front %}
                        Enlever à la Une
                    {% else %}
                        Mettre à la Une
                    {% endif %}
                    </a>
                {% endif %}

                

                {% if sheet.status == "TO_CORRECT" %}

                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Fiche à corriger</h4>
                        <p>{{ sheet.comment }}</p>
                        <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-danger">Corriger</a>
                    </div>

                {% endif %}


                <div class="content text-justify mt-5 mb-4">
                    {{ sheet.content|raw }}
                </div>

                {# <div class="uniformized">
                    {{ sheet.content|raw }}
                </div> #}

                
                        {% if is_granted('ROLE_ADMIN') and sheet.status == "TO_VALIDATE" %}
                        <div class="card p-4 mt-4">
                            <div class="card-body">
                            <h6>Validation de la fiche</h6>
                            {{ form_start(form) }}

                                {{ form_row(form.comment) }}

                                <button type="submit" id="correction" class="btn btn-warning m-2 float-right">
                                    Envoyer à corriger
                                </button>

                            {{ form_end(form) }}
                            
                            <button id="validation" class="btn btn-success m-2 float-right">Valider la fiche</button>
                            </div>
                        </div>
                        {% endif %}
                    
            </div>

            <div class="col-lg-3 bg-light">
                <div class="row header-menu p-4">
                    <div class="col-12 text-center menu active">INFOS</div>
                    {# <div class="col-6 text-center menu">Outils</div> #}
                </div>
                <div class="row header-image d-flex align-items-center mx-1">

                    <div class="col-12 text-center" style="">

                            <h4>{{ sheet.title }}</h4><br>
                            <h6>{{ sheet.organization }}</h6>

                        
                    </div>
                </div>
                <div class="row header-table mx-1">

                {% for header in sheet.headers %}

                    <table class="table table-hover table-header mt-3">
                        <thead>
                            <tr>
                                <th class="text-center header-title" colspan="2">{{ header.title }}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for section in header.sections %}
                            <tr>
                                <td>{{ section.title }}</td>
                                <td><strong>{{ section.content }}</strong></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% endfor %}
                   
                </div>
                <div class="tools mt-3">
                    <div class="title p-3">Outils</div>

                    {% if sheet.tool|length == 0 and sheet.sheetDocuments|length == 0 %}

                        <div class="text-center">
                            <p class="text">Pas de pièces jointes associées à cette fiche</p>
                            <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-sm btn-outline-dark">Ajouter des pièces jointes</a>
                        </div>

                    {% else %}

                        {% for tool in sheet.tool %}
                            <div>
                                <a target="_blank" href="{{ path('sheet_show', {'slug': tool.subCategory.category.slug, 'sub_slug': tool.subCategory.slug, 'sheet_slug': tool.slug, 'sheet_id': tool.id}) }}" class="btn btn-primary tool m-1 text-left">{{ tool.title }}</a>
                            </div>
                        {% endfor %}
                        {% for sheetDocument in sheet.sheetDocuments %}
                            <div>
                                <a target="_blank" href="{{ path('document_show', {'slug': sheetDocument.subCategory.category.slug, 'sub_slug': sheetDocument.subCategory.slug, 'id': sheetDocument.id }) }}" class="btn btn-primary tool m-1 text-left">{{ sheetDocument.title }}</a>
                            </div>
                        {% endfor %}

                    {% endif %}
                    
                
                {# <a href="{{ path('sheet_tools', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': sheet.slug }) }}" class="btn btn-primary mt-3">Gestion des outils</a> #}
                
                </div>
            </div>
        </div>

        
    </div>

{% endblock %}

{% block javascripts %}
    
    <script>

        function convertToSlug(Text)
        {
            return Text
                .toLowerCase()
                .replace(/ /g,'-')
                .replace(/[^\w-]+/g,'')
                ;
        }

        // Génération du menu de la fiche (Sheet)

        $( ".content h1, .content h2" ).each(function() {

            var text = $(this).text();
            var anchor = convertToSlug(text);

            var subtitle = "px-4";
            
            if($(this).is("h2")){

                subtitle = "px-5 subtitle";

            }


        
            // Menu
            $("ul.menu").append(
                '<a href="#'+ anchor +'"><li class="'+ subtitle +' py-2 ">'+ text +'</li></a>'
            );

            // Ancre h1
            $(this).attr('id', anchor);
        });




        $("#validation").click(function() {    

            

            // Permet d'enlever les span (couleur) du contenu
            $("div.content span").contents().unwrap();

            // Récupération des données
            var id = $("#sheetId").text();
            var content = $("div.content").html();

            // $("#validation").attr('href').text().replace("_uniformized", content);

            var path = "{{ path('sheet_validate') }}";

            $.ajax({
                type: 'POST',
                url: path,
                data: { id: id, content: content},
                success: function(data) {
                    location.reload();
                    
                },
                error: function(data) {
                    alert("Error !")
                }


            });
    
            //location.reload();
        
        }); 
        


    
    
    </script>    

{% endblock %}