{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ sheet.title }} (fiche)
{% endblock %}

{% block body %}


{# Si c'est l'utilisateur a les droits #}
{% set admin = false %}

    {% if (sheet.author is same as(app.user)) or (is_granted("ROLE_ADMIN")) %}
        {% set admin = true %}
    {% endif %}

<div class="container-fluid sheet-container">
    <div class="row">

        {# Summary #}
        <div class="col-2 summary">
            <a class="btn btn-my-return text-left" href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': subCategory.slug }) }}">
                <i class="uil uil-arrow-left"></i> {{ category }} - {{ subCategory }} 
            </a>

            <h2>Sommaire</h2>
            <ul class="sheet-menu"></ul>

        </div>

        {# Content #}
        <div class="col-7 content">

            {# Titre et infoss #}
            <span href="" class="my-badge mt-4 pole {{ category.pole.labelColor }}"> • {{ category.pole }}</span>
            <div class="sheet-title">{{ sheet.title }} {% include 'documentation/_file_icon.html.twig' with {'file': sheet} %}</div>

            <div class="row">
                <div class="col-5 sheet-author">

                    {% include 'documentation/_user.html.twig' with {'user': sheet.author} %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                {# Notification #}
                {% if admin  %}
                    {% include 'documentation/_sheet_notification.html.twig' with {'user': sheet.author} %}

                {% endif %}

                    {% if app.user == sheet.author and sheet.status is null and sheet.updatedAt > date('-5months', 'Europe/Paris') %}
                        <a href="{{ path('sheet_delete', {'id': sheet.id}) }}" class="btn btn-my-primary float-right">
                            <i class="uil uil-times"></i> Supprimer
                                    
                        </a>
                        <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class= "btn btn-my-primary mr-3 float-right">
                            <i class="uil uil-pen"></i> Modifier           
                        </a>
                    {% endif %}

                    {% if is_granted("ROLE_ADMIN") and sheet.status is null %}
                        <a href="{{ path('sheet_front', {'id': sheet.id }) }}" class="btn btn-my-secondary {% if sheet.front %}active{% endif %} mr-3 float-right">
                        {% if sheet.front %}
                            <i class="fas fa-star"></i> A la Une
                        {% else %}
                            <i class="far fa-star"></i> A la Une
                        {% endif %}
                        </a>
                    {% endif %}
                </div>
            </div>
            <hr>
            {# Contenu #}
            <div class="d-none" id="sheetId">{{ sheet.id }}</div>

            <div class="row">
                <div class="col-12 sheet-headers">
                    {# Sections #}
                    {% if sheet.headers %}
                        {% for header in sheet.headers %}

                            <h1 class="headers">{{ header.title }}</h1>
                            <div class="card my-card header">
                                <div class="card-body pb-0">
                                    <table class="table my-table">
                                        {% for section in header.sections %}
                                            <tr>
                                                <td class="main no-border w-50">{{ section.title }}</td>
                                                <td class="no-border">{{ section.content }}</td>
                                            </tr>

                                        {% endfor %}
                                    </table>
                                </div>
                            </div>

                        {% endfor %}

                    {% endif %}
                
                </div>
            
            </div>

            <div class="row">
                <div class="col-12 sheet-content">
                    {{ sheet.content|raw }}

                    
                </div>
                <div class="col-12 sheet-tools">
                    {% if sheet.tool|length == 0 and sheet.sheetDocuments|length == 0 and sheet.attachments|length == 0%}

                        {# <div class="text-center">
                            <p class="text">Pas de pièces jointes associées à cette fiche</p>
                            <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-sm btn-outline-dark">Ajouter des pièces jointes</a>
                        </div> #}

                    {% else %}

                    
                        <h1>Outils</h1>
                    
                        <div class="row">
                            {% for file in sheet.tool %}
                                <div class="col-6">
                                    {% include 'documentation/_file.html.twig' %}
                                </div>

                            {% endfor %}

                            {% for file in sheet.sheetDocuments %}

                                <div class="col-6">
                                    {% include 'documentation/_file.html.twig' %}
                                </div>

                            {% endfor %}
                            {% for file in sheet.attachments %}

                                <div class="col-6">
                                    {% include 'documentation/_file.html.twig' %}
                                </div>

                            {% endfor %}

                        </div>

                    {% endif %}
                </div>
            </div>

            
        </div>

        {# Header #}
        <div class="col-3 header">

            {# Card #}
            <div class="card my-card header-card">
                <div class="card-body">
                    <div class="col-12">
                        <div class="sheet-folder">{{ sheet.subcategory.category|upper }} - {{ sheet.subcategory|upper }}</div>
                        <div class="sheet-title">{{ sheet.title }}</div>
                        <div class="sheet-organization">{{ sheet.organization }}</div>
                    </div>
                </div>
            </div>

            {# Organization #}
            <h2>Organisme</h2>
            <div class="card my-card organization-card no-border">
                <div class="card-body">
                    <div class="organization-title">{{ sheet.organization }}</div>
                    <div class="organization-address my-secondary">{{ sheet.organization.address }}</div>
                    <div class="organization-phone mt-2 "><i class="uil uil-envelope-alt"></i> {{ sheet.organization.phoneNumber }}</div>
                    <div class="organization-email "><i class="uil uil-phone-alt"></i> {{ sheet.organization.email }}</div>

                </div>
            </div>

            {# Interlocutors #}
            {% if sheet.interlocutors|length > 0 %}
                <h2>Interlocuteurs</h2>
                <div class="interlocutor">
                    {% for interlocutor in sheet.interlocutors %}

                        {% include 'documentation/_user_email.html.twig' with {'user': interlocutor} %}

                    {% endfor %}
                </div>

            {% endif %}
            

        
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    
    <script>

        function convertToSlug(Text)
        {
            return Text
                .toLowerCase()
                .replace(/ /g,'-')
                .replace(/[^\w-]+/g,'')
                ;
        }

        // Génération du menu de la fiche (Sheet)

        $( ".content h1, .content h2" ).each(function() {

            var text = $(this).text();
            var anchor = convertToSlug(text);

            /* var subtitle = "px-4";*/

            var subtitle = "";
            
            if($(this).is("h2")){

                /* subtitle = "px-5 subtitle"; */
                subtitle = "subtitle";

            }

        
            // Menu
            $("ul.sheet-menu").append(
                '<a href="#'+ anchor +'"><li class="'+ subtitle +'">'+ text +'</li></a>'
            );

            // Ancre h1
            $(this).attr('id', anchor);
        });




        $("#validation").click(function() {    

            // Permet d'enlever les span (couleur) du contenu
            $("div.sheet-content span").contents().unwrap();

            // Récupération des données
            var id = $("#sheetId").text();
            var content = $("div.sheet-content").html();

            // $("#validation").attr('href').text().replace("_uniformized", content);

            var path = "{{ path('sheet_validate') }}";


            $.ajax({

                type: 'POST',
                url: path,
                data: { id: id, content: content},
                success: function(data) {

                    location.reload();
                    
                },
                error: function(data) {
                    alert("Error !")
                }

            });
    
            //location.reload();
        
        }); 
        


    
    
    </script>    

{% endblock %}