{% extends 'admin/base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box">

    <div class="row">
        
        {# <div class="col-3">

            <div class="card pole-admin-card">
                <div class="card-body">
                    <h4>Pôles <a href="{{ path('admin_pole_create') }}" class="btn btn-my-light float-right"><i class="uil uil-plus"></i> Ajouter</a></h4>

                    <table class="table my-table">
                        <tbody>
                            {% for pole in poles %}

                                <tr>
                                    <td class="text-left pl-0">
                                        {{ pole }}
                                    </td>
                                    <td class="pr-0">
                                        <a href="{{ path('admin_pole_edit', {'id':  pole.id }) }}" class="btn btn-my-transparent">
                                            <i class="uil uil-pen"></i>
                                        </a>
                                    </td>
                                    <td class="pl-0">
                                        <a href="{{ path('admin_pole_delete', {'id':  pole.id }) }}" class="btn btn-my-transparent">
                                            <i class="uil uil-times"></i>
                                        </a>
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
            </div>
        
        </div> #}
        
        {# <div class="col-8 offset-md-1"> #}
        <div class="col-12">

            
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="my-h1">Documentation</h1>
                    </div>
                    <div class="col-md-8">
                        <a href="{{ path('admin_pole_create') }}" class="btn btn-my-primary float-right">
                            <i class="uil uil-plus"></i>
                            Ajouter un pôle
                        </a>

                        <a href="{{ path('admin_pole_sort') }}" class="btn btn-my-secondary float-right mr-2">
                            {# <i class="uil uil-plus"></i> #}
                            Changer l'ordre
                        </a>                        
                    </div>
                
                
                
                </div>
                
              

            <ul class="nav nav-tabs admin-poles" id="myTab" role="tablist">

                {% for pole in poles %}

                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %} active {% endif %}" id="tab_{{ pole.id }}" data-toggle="tab" href="#pole_{{ pole.id }}" role="tab" aria-controls="home" aria-selected="true">{{ pole }}</a>
                    </li>

                {% endfor %}

            </ul>
            <div class="tab-content" id="myTabContent">

                {% for pole in poles %}

                    <div class="tab-pane fade {% if loop.first %} show active {% endif %}" id="pole_{{ pole.id }}" role="tabpanel" aria-labelledby="home-tab">
                        
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('admin_pole_edit', {'id':  pole.id }) }}" class="btn small btn-my-secondary mt-4">
                                <i class="uil uil-pen"></i>
                                Modifier ce pôle
                            </a>
                            <a href="{{ path('admin_pole_delete', {'id':  pole.id }) }}" class="btn small rouge mt-4">
                                <i class="uil uil-times"></i>
                                Supprimer ce pôle
                            </a>

                            <a href="{{ path('admin_category_create', {'id': pole.id }) }}" class="btn btn-my-primary small float-right mt-4 mr-2">
                                <i class="uil uil-plus"></i>
                                Ajouter une catégorie
                            </a>
                        </div>
                    </div>

                    <div class="row">

                        {% for category in pole.category %}

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card my-card">
                                    <div class="card-body p-2">

                                        {# <span href="" class="my-badge pole {{ category.pole.labelColor }}"> • {{ category.pole }}</span> #}
                                        <a href="{{ path('admin_category_index', {'id': category.id }) }}" class="btn btn-my-secondary small float-right"><i class="uil uil-cog"></i> Gérer</a>
                                        <h5 class="mt-2">{{ category.title }}</h5>

                                            <table class="table my-table">
                                                <tbody>

                                                    {% if category.subCategories|length > 0 %}

                                                        {% for sub in category.subCategories %}
                                                            <tr>
                                                                <td class="text-left pl-0 w-75 py-2">

                                                                    <span class="my-secondary">
                                                                        {{ sub.title }}
                                                                    </span>

                                                                </td>
                                                                <td class="text-right w-25">
                                                                
                                                                    {% for author in sub.authors %}
                                                                        <div class="mb-2">
                                                                    
                                                                        </div>
                                                                    {% endfor %}
                                                                
                                                                </td>
                                                            </tr>
                                                        {% endfor %}

                                                    {% else %}

                                                        <p class="text rouge">Aucune sous-catégorie</p>

                                                    {% endif %}
                                                </tbody>
                                            
                                            </table>

                                    </div>
                                
                                </div>
                            </div>

                        {% endfor %}

                    </div>




                    </div>

                {% endfor %}
            </div>
            
             

            
{# 
                <h3 class="my-h3">{{ pole.title }} <a href="{{ path('admin_category_create', {'id': pole.id}) }}" class="btn btn-my-add-admin"><i class="uil uil-plus"></i> Ajouter une catégorie</a></h3>

                <div class="row">

                    {% for category in pole.category %}
                        <div class="col-4">
                            <div class="card my-card">
                                <div class="card-body">

                                    <span href="" class="my-badge pole {{ category.pole.labelColor }}"> • {{ category.pole }}</span> <a href="{{ path('admin_category_index', {'id': category.id }) }}" class="btn btn-my-dark small float-right"><i class="uil uil-cog"></i> Gérer</a>
                                    <h5>{{ category.title }}</h5>
                                    
                                        

                                            <table class="table my-table">
                                                <tbody>
                                                    {% for sub in category.subCategories %}
                                                        <tr>
                                                            <td class="text-left pl-0 w-75">

                                                                <span class="my-secondary">
                                                                    {{ sub.title }}
                                                                </span>

                                                            </td>
                                                            <td class="text-right w-25">
                                                            
                                                                {% for author in sub.authors %}
                                                                    <div class="mb-2">
                                                                
                                                                    </div>
                                                                {% endfor %}
                                                            
                                                            </td>
                                                        </tr>
                                                    {% endfor %}  
                                                </tbody>
                                            
                                            </table>

                                            

                                                              

                                </div>
                            
                            </div>
                        </div>
                        
                        

                    {% endfor %}

                </div> #}

            {# {% endfor %} #}

        </div>
    
    
    </div>

{% endblock %}


{% block javascripts %}

{% endblock %}