{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un pôle{% endblock %}

{% block body %}

<div class="container backoffice-container bg-white my-box">

        
        <h1 class="my-h1">
            {# <a href="{{ path('admin_users_index') }}" class="btn btn-my-secondary small"><i class="uil uil-arrow-left"></i></a> #}
            Nouveau pôle
        </h1>

        {{ form_start(form) }}

            <div class="row">

                {# Title #}
                <div class="col-lg-4 col-md-6">
                    {{ form_row(form.title, { 'attr': {'autocomplete': 'new-password'} }) }}
                </div>
                <div class="col-lg-8 col-md-6"></div>

                {# Pic #}
                <div class="col-lg-4 col-md-6">
                    {{ form_row(form.pic, { 'attr': {'autocomplete': 'new-password'} }) }}
                </div>
                <div class="col-lg-8 col-md-6"></div>

            </div>


            

            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-my-primary mr-2 mt-4">Créer le pôle</button>
                    <a href="{{ path('admin_documentation_index') }}" class="btn mt-4 rouge">Annuler</a>
                </div>

            
            </div>

        {{ form_end(form) }}


</div>


{% endblock %}

{% block javascripts %}

<script>

    $('#pole_pic').next().html('<i class="fas fa-upload mr-3"></i> Aucune image sélectionnée');

    $('input.custom-file-input').on('change',function(){

        $(this,'#sheet_pic').next().html('<i class="fas fa-check-circle success mr-3"></i> Image chargée');

    });

</script>


{% endblock %}







{# 

{% extends 'admin/base.html.twig' %}

{% block title %}Création d'un pôle{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-8 offset-md-2">
        
            <h1 class="my-h1">
                <a href="{{ path('admin_documentation_index') }}" class="btn btn-my-dark"><i class="uil uil-arrow-left"></i> Retour à la liste des catégories</a> <br>
                Nouveau pôle
            </h1>

            {{ form_start(form) }}

                <div class="row">


                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.title) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.title) }}
                    </div>

                    <div class="col-2 text-right my-auto">
                        <span class="align-middle">{{ form_label(form.pic) }}</span>
                    </div>

                    <div class="col-10">
                        {{ form_widget(form.pic) }}
                    </div>

                </div>

                <div class="mt-4 mb-4">
                    <button type="submit" class="btn btn-my-add-admin float-right"><i class="uil uil-plus"></i> Ajouter le pôle</button>
                    <a href="{{ path('admin_documentation_index') }}" class="btn btn-my-danger float-right"><i class="uil uil-times"></i> Annuler</a>
                </div>

            {{ form_end(form) }}

        </div>
    </div>


</div>
{% endblock %} #}