{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ document.title }} - {{ document.organization }}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6">
 
                <div class="card" >
                    <div class="card-body">

                        
                                <h5 class="card-title">{{ document.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ document.organization }}</h6>
                                <span class="badge badge-pill badge-secondary">
                                    <i class="far fa-eye"></i> {{ document.views }}
                                </span>
                                <div class="mt-2">

                                {% if is_granted("ROLE_ADMIN") %}

                                    {# Attachment #}
                                    {% if document.status is not defined %}

                                        <a href="{{ path('document_front', {'id': document.id }) }}" class="btn btn-sm btn-outline-dark">
                                            {% if document.front %}
                                                Enlever à la Une
                                            {% else %}
                                                Mettre à la Une
                                            {% endif %}
                                        </a>


                                    {# Document #}
                                    {% else %}

                                        {% if document.status == "" %}

                                            <a href="{{ path('document_front', {'id': document.id }) }}" class="btn btn-sm btn-outline-dark">
                                                {% if document.front %}
                                                    Enlever à la Une
                                                {% else %}
                                                    Mettre à la Une
                                                {% endif %}
                                            </a>


                                        {% endif %}

                                    {% endif %}

                                {% endif %}
                                </div>

                                <hr>
                                    <table>
                                    <tbody>
                                        <tr>
                                            <td><strong>Date mise à jour</strong></td>
                                            <td>{{ document.updatedAt|localizeddate('none', 'none', 'fr', null, 'MMMM Y') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Taille</strong></td>
                                            <td>

                                            {# gigabyte #}
                                            {% if document.size > 1073741824 %}

                                                {% set size = document.size / 1000000000 %}
                                                {{ size|number_format(2, ',', ' ') }} <span>Mo</span>
                                            
                                            {# megabyte #}
                                            {% elseif document.size > 1048576 %}

                                                {% set size = document.size / 1000000 %}
                                                {{ size|number_format(1, ',', ' ') }} <span>Mo</span>

                                            {% else %}

                                                {% set size = document.size / 1000 %}
                                                {{ size|number_format(0, ',', ' ') }} <span>Ko</span>

                                            {% endif %}

                                            
                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Type</strong></td>
                                            <td>{{ document.mimeType }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Nom original</strong></td>
                                            <td>{{ document.originalName }}</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                
                                <hr>
                                <div class="d-none" id="docType" data-type="

                                    {% if document.status is not defined %}
                                            
                                            attachment

                                    {% else %}

                                            document

                                    {% endif %}
                                
                                
                                "></div>
                                <div class="d-none" id="docId" >{{ document.id }}</div>
                                <a href="{{ vich_uploader_asset(document, 'genericFile')}}" target="_blank" id="opendoc" class="btn btn-success">Télécharger</a>
                                {% if document.author == app.user %}
                                <a href="{{ path('document_edit', {'id': document.id }) }}" class="btn btn-primary">Modifier</a>
                                <a href="{{ path('document_delete', {'id': document.id }) }}" class="btn btn-danger">Supprimer</a>
                                {% endif %}
                                <a href="{{ path('doc_show', {'slug': document.subCategory.category.slug, 'sub_slug': document.subCategory.slug, 'sub_id': document.subCategory.id }) }}" class="btn btn-light">Retour</a>
                            


                        
                        
                        
                    </div>
                </div>

            </div>
    
        </div>
    
    </div>

{% endblock %}

{% block javascripts %}

<script>

$("#opendoc").click(function() {    

        // Récupération des données
        var id = $("#docId").text();
        
        var type = $("#docType").data('type');

        if(type == 'attachment'){

            var path = "{{ path('attachment_views') }}";

        }else{

            var path = "{{ path('document_views') }}";
            
        }
       

        $.ajax({
            type: 'POST',
            url: path,
            data: { type: type, id: id },
            success: function(data) {
                
            },
            error: function(data) {
                /* alert("Error !")*/
            }


        });

        //location.reload();
    
    });

</script>

{% endblock %}