{% extends 'admin/base.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block body %}


<div class="container">
        
    <h1 class="my-h1">
        <a href="{{ path('admin_documentation_index') }}" class="btn btn-my-dark"><i class="uil uil-arrow-left"></i> Retour à la liste des catégories</a> <br>
        {{ category }}
        <a href="{{ path('admin_category_delete', {'id': category.id }) }}" class="btn btn-my-danger float-right mr-4"><i class="uil uil-times"></i> Supprimer</a>
        <a href="{{ path('admin_category_edit', {'id': category.id }) }}" class="btn btn-my-warning float-right mr-4"><i class="uil uil-pen"></i> Modifier</a>
         <br>
        <a href="" class="btn btn-my-primary">{{ category.pole }}</a>
    </h1>


    <h5>Sous-catégories <a href="{{ path('admin_sub_category_create', {'id': category.id }) }}" class="btn btn-my-add-admin"><i class="uil uil-plus"></i> Ajouter une sous-catégorie</a></h5>

    <table class="table my-table">
        <thead>
            <tr>
                <th>Sous-catégorie</th>
                <th class="text-left">Responsable de la mise à jour</th>
                <th>Fiches</th>
                <th>Documents</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>

        {% for sub in category.subcategories %}

            <tr>
                <td>{{ sub.title }}</td>
                <td>
                    {% for author in sub.authors %}
                        {% include 'documentation/_user_email.html.twig' with {'user':author} %}
                    {% endfor %}
                </td>
                <td>
                    {{ sub.sheets|length }}
                </td>
                <td>
                    {{ sub.documents|length }}
                </td>
                <td class="pr-0">
                    <a href="{{ path('admin_sub_category_edit', {'id':  sub.id }) }}" class="btn btn-my-warning">
                        <i class="uil uil-pen"></i> Modifier
                    </a>
                </td>
                <td class="pl-0">
                    <a href="{{ path('admin_sub_category_delete', {'id':  sub.id }) }}" class="btn btn-my-danger">
                        <i class="uil uil-times"></i> Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>            

</div>


{% endblock %}