{% extends 'admin/base.html.twig' %}

{% block title %}
    Administration des pôles
{% endblock %}

{% block body %}

    <div class="container">

    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-3">Gestion des catégories / sous-catégories</h2>
            
                {% for pole in poles %}
                    
                    {% if pole.category|length == 0 %}

                        <div>
                            Le pôle <span class="badge badge-pill badge-primary pole align-middle" style="background-color: {{ pole.color }}">{{ pole.title }}</span> ne contient aucun catégorie.
                            <a href="{{ path('admin_category_create', { 'id': pole.id }) }}" class="btn btn-link">Ajouter une catégorie à ce pôle</a>
                            <a href="{{ path('admin_pole_delete', { 'id': pole.id }) }}" class="btn btn-link">Supprimer ce pôle</a>
                        </div>

                    {% endif %}
                {% endfor %}
            
            
        </div>
    </div>
        <div class="row">
            
            <div class="col-12 text-center mt-4">
                <div id="filters">    
                    <button type="button" class="btn btn-outline-dark btn-pill mx-1 mb-4 filter active" data-filter="">Tous</button>
                    {% for pole in poles %}
                        
                        {% if pole.category|length > 0 %}
                            
                            <button type="button" class="btn btn-outline-dark btn-pill mx-1 mb-4 filter" data-filter="{{ pole.id }}">{{ pole.title }}</button>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>

                {% for pole in poles %}

                    {% for category in pole.category %}
                
                    <div class="col-md-4 filterCard" data-pole="{{ pole.id }}">
                        <div class="container">
                            <div class="card bg-white mb-3 documentation-card card-item">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">
                                    {{ category.title }}
                                    <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="btn btn-sm"><i class="fas fa-pen"></i></a>
                                    <a href="{{ path('admin_category_delete', { 'id': category.id }) }}" class="btn btn-sm"><i class="fas fa-trash"></i></a>

                                    <span class="badge badge-pill badge-primary pole float-right" style="background-color: {{ pole.color }}">{{ pole.title }}</span>    
                                    </h4>

                                    {% if category.subCategories|length > 0 %}

                                        {% for sub in category.subCategories %}
                                            <p class="card-text">
                                                <a href="{{ path('doc_show', {'slug': category.slug, 'sub_slug': sub.slug }) }}">
                                                    
                                                    {% if sub.author is same as(app.user) %}
                                                        <i class="mr-1 fas fa-folder" style="color: Mediumslateblue;"></i>
                                                    {% else %}
                                                        <i class="mr-1 far fa-folder" style="color: #adb5bd;"></i>
                                                    {% endif %}
                                                    {{ sub.title }} <span class="badge badge-pill badge-dark ml-1">{{ sub.sheets|length }}</span><span class="badge badge-pill badge-secondary ml-1">{{ sub.documents|length }}</span>
                                                    <a href="{{ path('admin_sub_category_edit', { 'id': sub.id }) }}" class="btn btn-sm"><i class="fas fa-pen fa-xs"></i></a>
                                                    <a href="{{ path('admin_sub_category_delete', { 'id': sub.id }) }}" class="btn btn-sm"><i class="fas fa-trash fa-xs"></i></a>
                                                
                                                    
                                                </a>                        
                                            </p>
                                        {% endfor %}

                                    {% else %}

                                    <p class="text">Aucun dossier</p>

                                    {% endif %}

                                    <hr>
                                    <a href="{{ path('admin_sub_category_create', {'id': category.id}) }}" class="btn btn-primary btn-sm mt-1">Ajouter une sous-catégorie</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                {% endfor %}

 
    </div>

    

{% endblock %}


{% block javascripts %}

    <script>

    $( ".filter" ).click(function() {

        $('.filter').removeClass('active');
        $(this).addClass('active');

        var id = $(this).data('filter');

        if(id){

            $('.filterCard').addClass('d-none');
            $('.filterCard[data-pole="'+ id +'"]').removeClass('d-none');

        }else{

            $('.filterCard').removeClass('d-none');

        }

    });


    </script>

{% endblock %}