<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Intramilo - {% block title %}Bienvenue !{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        {# Filter JS #}      

        {# <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" integrity="sha256-KcCcakqMaamBrTFaxb9tkrP2iq1X8vUnsm86W8pRcgI=" crossorigin="anonymous" />
        {# <link rel="stylesheet" href="/css/app.css"> #}
        <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">


        <!-- Bootstrap core JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        {# <script src="{{ asset('build/js/bootstrap.bundle.min.js') }}"></script> #}

        {# Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans300,800&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">

        <!-- Shards -->
        <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>

        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>


            {{ encore_entry_link_tags('css/app') }}
            {{ encore_entry_link_tags('css/documentation') }}
            {{ encore_entry_link_tags('css/files') }}
            {{ encore_entry_link_tags('css/header') }}
            {{ encore_entry_link_tags('css/main') }}
            {{ encore_entry_link_tags('css/sheet') }}

<link rel="stylesheet" href="{{ asset('/css/main.css') }}" />
<link rel="stylesheet" href="{{ asset('/css/header.css') }}" />
<link rel="stylesheet" href="{{ asset('/css/buttons.css') }}" />
<link rel="stylesheet" href="{{ asset('/css/documentation.css') }}" />



<script src="{{ asset('/js/notifications.js') }}"></script>
<script src="{{ asset('/js/autosize.min.js') }}"></script>

        {% block stylesheets %}
            {# CSS #}
            
            
        {% endblock %}
    </head>
    <body>


   {% include 'partials/header.html.twig'  %}
    
    {% block body %}{% endblock %}

    {% include 'partials/footer.html.twig'  %}

        
        

        {{ encore_entry_script_tags('js/app') }}

        {# Conflit avec les Tooltips #}
        {# <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> #}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.4-beta.33/jquery.inputmask.min.js" integrity="sha256-L4kpZP1BsqygY+/b55A6N3o7zGWuRQcJGZaVomcwKD4=" crossorigin="anonymous"></script>


        {% block javascripts %}    
        {% endblock %}


        <script>

            $(document).ready(function(){

                // Masques
                //$('input[type="tel"]').inputmask("99 99 99 99 99");
                $('#registration_directNumber, #admin_account_directNumber').inputmask("999");  //static mask

                $('#antenne_postcode, #organization_postcode').inputmask("99999");  //static mask

                $('#antenne_city, #registration_lastName, #admin_account_lastName, #organization_city, #interlocutor_lastName').keyup(function(){
                    $(this).val($(this).val().toUpperCase());
                });

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip({html : true, trigger: 'focus'})
                });

                $(function () {
                    $('[data-toggle="user-tooltip"]').tooltip({html : true, trigger: 'hover'})
                });
                                

            });


        </script>


        
    </body>
</html>


