<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Intramilo - {% block title %}Bienvenue !{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        {# Filter JS #}
         

        

        {# <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" integrity="sha256-KcCcakqMaamBrTFaxb9tkrP2iq1X8vUnsm86W8pRcgI=" crossorigin="anonymous" />
        {# <link rel="stylesheet" href="/css/app.css"> #}
        <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">


        <!-- Bootstrap core JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        {# <script src="{{ asset('build/js/bootstrap.bundle.min.js') }}"></script> #}
              

        {# Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans300,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono&display=swap" rel="stylesheet">

        <!-- Shards -->
        <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script> 

            {{ encore_entry_link_tags('css/app') }}
            {{ encore_entry_link_tags('css/documentation') }}
            {{ encore_entry_link_tags('css/files') }}
            {{ encore_entry_link_tags('css/header') }}
            {{ encore_entry_link_tags('css/main') }}
            {{ encore_entry_link_tags('css/sheet') }}

        {% block stylesheets %}
            {# CSS #}
            
            
        {% endblock %}
    </head>
    <body>


    {% include 'partials/header.html.twig'  %}

    
    {% block body %}{% endblock %}


    {% include 'partials/footer.html.twig'  %}

        
        

        {{ encore_entry_script_tags('js/app') }}
        {% block javascripts %}    
        

                  
        
        
        {% endblock %}
    </body>
</html>
