{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le site Intranet de Dijon !
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}


    <div class="container">

        <div class="row justify-content-around">

            <div class="col-3">


                {# Profile #}
                <div class="card profile-card text-center py-3">
                    <div class="card-body text-center">

                        {% include '_picture.html.twig' with {'user': app.user, 'class': 'large'} %}

                        <div class="card-title mt-4 mb-2">{{ app.user.firstName }} {{ app.user.lastName|upper }} </div>
                        <div class="card-text">{{ app.user.poste.title }}</div>
                        <a href="{{ path('account_index') }}" class="btn btn-outline-light">Voir mon profil</a>
                        
                    </div>
                </div>

                {# Favorite Websites #}
                <div class="card website-card p-1">
                    <div class="card-body">
                        <h6 class="card-title mb-3">Mes sites favoris
                            <a href="{{ path('website_index') }}"><i class="mt-1 float-right fas fa-cog fa-xs modify"></i></a>
                        </h6>

                        {% if websites|length > 0 %}

                            {% for website in websites %}

                                <div class="card-text mb-1">
                                    <i class="fas fa-star fa-sm mr-2"></i>
                                    <a class="website" href="{{ website.url }}" target="_blank">

                                        {% if website.title|length > 20 %}
                                            {{ website.title|slice(0, 20) }}...
                                        {% else %}
                                            {{ website.title }}
                                        {% endif %}
                                    </a>
                                </div>

                            {% endfor %}

                        {% else %}

                            <p class="text">Vous n'avez pas encore ajouté de sites favoris.</p>

                            <a href="{{ path('website_index') }}" class="btn btn-outline-dark">Ajouter</a>

                        {% endif %}


                        
                    </div>
                </div>

            </div>

            <div class="col-6">

                <div class="row justify-content-around align-items-center">
                    <div class="col-4">
                    <a class="link" href="http://intramilo21000.fr/intranet/agenda/admin/agendaAdmin.php" target="_blank">
                        <div class="card home-link">
                            <div class="card-body text-center agenda">
                                <i class="fas fa-calendar-alt fa-6x"></i>
                                <span>AGENDA</span>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-4">
                    <a class="link" href="http://intramilo21000.fr/intranet/epaflux/calendrier.php" target="_blank">
                        <div class="card home-link">
                            <div class="card-body text-center flux">
                                <i class="fas fa-bookmark fa-6x"></i>
                                <span>FLUX</span>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="col-4">
                    <a class="link" href="https://app.manatime.com/connexion" target="_blank">
                        <div class="card home-link">
                            <div class="card-body text-center options">
                                <i class="fas fa-chart-pie fa-6x"></i>
                                <span>MANATIME</span>
                            </div>
                        </div>
                    </a>
                    </div>

                    <div class="col-12">
                        <div class="card best-doc-card">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Documentations à la Une</h6>
                                <table class="table last-doc">
                                    <tbody>

                                    {% if fronts|length > 0 %}

                                        {% for file in fronts %}

                                        {% set subtitle = "organization" %}

                                        {% include 'documentation/_home_list.html.twig' %}

                                        {% endfor %}
                                    
                                    {% else %}

                                        <p class="text text-center pt-4">Aucune documentation à la Une</p>

                                    {% endif %}

                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card last-doc-card">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Dernières activités</h6>
                                <table class="table last-doc">
                                    <tbody>
                                    
                                    {% if files|length > 0 %}

                                         {% for file in files %}

                                        
                                        {% set subtitle = "date" %}

                                        {% include 'documentation/_home_list.html.twig' %}

                                        {% endfor %}

                                    {% else %}

                                        <p class="text text-center pt-4">Aucune activité enregistrée</p>

                                    {% endif %}

                                        
                            
                                    </tbody>
                                </table>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-3">
                <div class="card">
                    <div class="card-body weather-card">
                        <div class="temp">
                            <span id="temperature"></span>
                            <i class="wi"></i>
                        </div> 
                        <div class="date">{{ "now"|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</div>
                    </div>
                </div>

                 <div class="card next-events-card">
                    <div class="card-body">
                        <h6 class="card-title mb-4">Prochains événements</h6>

                        <div class="card event-card today">
                            <div class="card-body">
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                                <div class="title mt-2">Atelier COG'IDEES</div>
                            </div>
                        </div>

                        <div class="card event-card">
                            <div class="card-body">
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                                <div class="title mt-2">Atelier COG'IDEES</div>
                            </div>
                        </div>

                        <div class="card event-card">
                            <div class="card-body">
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                                <div class="title mt-2">Atelier COG'IDEES</div>
                            </div>
                        </div>

                        <div class="card event-card">
                            <div class="card-body">
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                                <div class="title mt-2">Atelier COG'IDEES</div>
                            </div>
                        </div>

                        <div class="card event-card">
                            <div class="card-body">
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                                <div class="title mt-2">Atelier COG'IDEES</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card next-events-card">
                    <div class="card-body">
                        <h6 class="card-title mb-3">Réunions</h6>
                        <div class="card event-card">
                            <div class="card-body">
                                <div class="title mb-2">Equipe</div>
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                            </div>
                        </div>
                        <div class="card event-card">
                            <div class="card-body">
                                <div class="title mb-2">Pôle Emploi</div>
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                            </div>
                        </div>
                        <div class="card event-card">
                            <div class="card-body">
                                <div class="title mb-2">Pôle Formation</div>
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                            </div>
                        </div>
                        <div class="card event-card">
                            <div class="card-body">
                                <div class="title mb-2">Pôle Vie Sociale</div>
                                <div class="date">mercredi 26 juin</div>
                                <div class="hour">9:00 - 12:00</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
       
        
        
    </div>

{% endblock %}

{% block javascripts %}

<script>

const weatherIcons = {

    "Rain": "wi wi-day-rain",
    "Clouds": "wi wi-day-cloudy",
    "Clear": "wi wi-day-sunny",
    "Snow": "wi wi-day-snow",
    "mist": "wi wi-day-fog",
    "Drizzle": "wi wi-day-sleet"

}

async function main(){

    // Récupérer la position du PC

    const ip = await fetch('https://api.ipify.org?format=json')
        .then(resultat => resultat.json())
        .then(json => json.ip)

    console.log(ip);

    // Charger la ville grâce à l'IP
    const ville = await fetch('https://ipapi.co/' + ip + '/json/')
        .then(resultat => resultat.json())
        .then(json => json.city)

    console.log(ville);


    // Appeler OpenWeatherMap
    // api key = 67485703371f20b1d8486a1bb4501d32
    const meteo = await fetch('http://api.openweathermap.org/data/2.5/weather?q=' + ville + ',fr&APPID=67485703371f20b1d8486a1bb4501d32&units=metric')
        .then(resultat => resultat.json())
        .then(json => json)
           
    // Afficher les informations sur le page
    displayWeatherInfos(meteo)


}

function displayWeatherInfos(data){

    const name = data.name;
    const temperature = data.main.temp;
    const condition = data.weather[0].main;
    const description = data.weather[0].description;

    console.log(data);

    $('#temperature').html(Math.round(temperature) + "<sup> °C</sup>");
    $('i.wi').addClass(weatherIcons[condition]);
}
    




main();




</script>

{% endblock %}