{# Définition des variables #}
{% set type = constant('TYPE', file) %}
{% set icon = constant('ICON', file) %}

{# Lien pour une fiche  #}
{% if type == 'sheet' %}
    {% set path = path('sheet_show', {'id': file.id,}) %}
{% endif %}

{# Lien pour un document ou une pièce jointe #}
{% if type == 'document' or type == 'attachment' %}
    {% set path = path('document_show', {'id': file.subCategory.category.slug, 'sub_slug': file.subCategory.slug, 'id': file.id }) %}
{% endif %}

{# Icône d'Etat #}
{% if type == "sheet" and file.status == "DRAFT" %}

    {% set state = "Brouillon" %}
    {% set icon = "hourglass-half" %}
    {% set state_class = "marine" %}


{% elseif type == 'sheet' and file.status == "TO_VALIDATE" %}

    {% set state = "En cours de validation" %}
    {% set icon = "pause-circle" %}
    {% set state_class = "light" %}

{% elseif type == 'sheet' and file.status == "TO_CORRECT" %}

    {% set state = "À corriger" %}
    {% set icon = "exclamation-circle" %}
    {% set state_class = "danger" %}

{% else %}

    {% if date(file.updatedAt) <= date('-6months', 'Europe/Paris') %}

        {% set state = "Obsolète" %}
        {% set icon = "times-circle" %}
        {% set state_class = "danger" %}

    {% elseif date(file.updatedAt) < date('-5months', 'Europe/Paris') %}

        {% set state = "Bientôt obsolète" %}
        {% set icon = "minus-circle" %}
        {% set state_class = "warning" %}

    {% else %}

        {% set state = "À jour" %}
        {% set icon = "check-circle" %}
        {% set state_class = "success" %}

    {% endif %}

{% endif %}




<a href="{{ path }}">

    <div class="card my-card mt-0 mb-4 file-card no-border my-box">
        <div class="card-body p-0">

        {# <div class="file-organization">
            <span class="mr-1">
                {% include '_organization_logo.html.twig' with {'organization': file.organization, 'class': 'small'} %}
            </span>
            {{ file.organization }}

            {% if type == 'document' %}
                <span class="marine op-70"> • {{ file.mimeType|upper }}</span>
            {% endif %}


        </div>

        <div class="file-title my-1">
            {{ file.title }} <i class="fas fa-{{icon}} {{state_class}} fa-xs"></i>
        </div>
        <div class="w-100">
            <span class="my-secondary marine">
                {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} • {{ file.views }} vue{% if file.views > 1 %}s{% endif %}
            </span>
            <span class="file-author float-right">
                {% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}
            </span>
        </div> #}
        
        <table class="table my-table no-border">
            <tr>
                <td class="w-25 py-0 pl-0 pr-3">
                    {% if (file.pictureFilename is defined) and file.pictureFilename is not null %}

                        <div class="sheet-picture" style="background-image: url({{ asset('files/pictures/' ~ file.pictureFilename) }});">
                            
                            <div class="author-picture my-box">
                                {% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}
                            </div>

                            {% if (file.publishedAt is not null) and (date(file.publishedAt) >= date('-4days', 'Europe/Paris')) %}

                                <div class="float-right badge-new text-center my-box">
                                    <i class="uil uil-fire"></i>
                                </div>

                            {% endif %}

                        </div>


                    {% else %}

                        <div class="sheet-picture" style="background-image: url({{ asset('files/pictures/' ~ file.subcategory.category.pole.pictureFilename) }});">

                            <div class="author-picture my-box">
                                {% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}
                            </div>

                            {% if (file.publishedAt is not null) and (date(file.publishedAt) >= date('-4days', 'Europe/Paris')) %}

                                <div class="float-right badge-new text-center my-box">
                                    <i class="uil uil-fire"></i>
                                </div>

                            {% endif %}
                        </div>

                    {% endif %}
                </td>
                <td class="w-75 align-top">
                    <div class="category-front">
                        <span class="badge pole"> {{ file.subcategory.category.pole|upper }}</span>
                    </div>
                    <a href="{{ path }}">
                        <div class="file-title pr-3">
                            {% if file.title|length > 60 %}
                                {{ file.title|slice(0, 60) }}...
                            {% else %}
                                {{ file.title }}
                            {% endif %}
                            {# <i class="fas fa-{{icon}}-circle {{state_class}} fa-xs"></i> #}
                        </div>
                    </a>
                    <div class="w-100">
                        <span class="my-secondary marine date">
                            {# {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} • {{ file.views }} vue{% if file.views > 1 %}s{% endif %} #}

                            {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}  • {{ file.views }} vue{% if file.views > 1 %}s{% endif %}
                            {# {{ file.organization }} #}
                                {# • {{ file.views }} vue{% if file.views > 1 %}s{% endif %} #}
                            {# {% if type == 'document' %}
                                <span class="mime ml-2">{{ file.mimeType|upper }}</span>
                            {% endif %} #}
                        </span>
                        {# <span class="file-author float-right">
                            {% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}
                        </span> #}
                    </div>
                </td>
            </tr>
        </table>  

    </div>
</div>


    {# <div class="card my-card file">
        <div class="card-body">   

            <table class="my-table">
                <tbody>
                    <tr>
                        <td class="w-20 file-icon">
                            <div class="my-circle">
                                <span class="icon">

                                    {{ icon|raw }}

                                </span>
                            </div>
                        </td>
                        <td class="w-60 text-left file-content">

                            <span class="file-title">{{ file.title }} {% include 'documentation/_file_icon.html.twig' with {'file': file} %}</span>
                            <div class="my-secondary file-organization">{{ file.organization }}</div>

                            <div class="w-20 my-secondary file-data mt-3">
                                {% if not file.front %}
                                    <i class="far fa-star mr-2"></i>
                                {% else %}
                                    <i class="fas fa-star mr-2"></i>
                                {% endif %}
                                {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} • {{ file.views }} vue{% if file.views > 1 %}s{% endif %}
                            
                            </div>
                        </td>
                        <td class="w-20 file-author">{% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div> #}
</a>