{# Définition des variables #}
{% set type = constant('TYPE', file) %}
{% set icon = constant('ICON', file) %}

{# Lien pour une fiche  #}
{% if type == 'sheet' %}
    {% set path = path('sheet_show', {'id': file.id,}) %}
{% endif %}

{# Lien pour un document ou une pièce jointe #}
{% if type == 'document' or type == 'attachment' %}
    {% set path = path('document_show', {'id': file.subCategory.category.slug, 'sub_slug': file.subCategory.slug, 'id': file.id }) %}
{% endif %}

{# Icône d'Etat #}
{% if type == 'document' and file.status == "TO_VALIDATE" %}

    {% set state = "En cours de validation" %}
    {% set icon = "pause" %}
    {% set state_class = "light" %}

{% elseif type == 'document' and file.status == "TO_CORRECT" %}

    {% set state = "À corriger" %}
    {% set icon = "exclamation" %}
    {% set state_class = "danger" %}

{% else %}

    {% if date(file.updatedAt) <= date('-6months', 'Europe/Paris') %}

        {% set state = "Obsolète" %}
        {% set icon = "times" %}
        {% set state_class = "danger" %}

    {% elseif date(file.updatedAt) < date('-5months', 'Europe/Paris') %}

        {% set state = "Bientôt obsolète" %}
        {% set icon = "minus" %}
        {% set state_class = "warning" %}

    {% else %}

        {% set state = "À jour" %}
        {% set icon = "check" %}
        {% set state_class = "success" %}

    {% endif %}

{% endif %}




<a href="{{ path }}">

<div class="card my-card px-4 file-card no-border my-box">
    <div class="card-body">

        <div class="file-organization">
            {{ file.organization }}

            {% if type == 'document' %}
                <span class="marine op-70"> • {{ file.mimeType|upper }}</span>
            {% endif %}


        </div>

        <div class="file-title my-1">
            {{ file.title }} <i class="fas fa-{{icon}}-circle {{state_class}} fa-xs"></i>
        </div>
        <div class="w-100">
            <span class="my-secondary marine">
                {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} • {{ file.views }} vue{% if file.views > 1 %}s{% endif %}
            </span>
            <span class="file-author float-right">
                {% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}
            </span>
        </div>

    </div>
</div>


    {# <div class="card my-card file">
        <div class="card-body">   

            <table class="my-table">
                <tbody>
                    <tr>
                        <td class="w-20 file-icon">
                            <div class="my-circle">
                                <span class="icon">

                                    {{ icon|raw }}

                                </span>
                            </div>
                        </td>
                        <td class="w-60 text-left file-content">

                            <span class="file-title">{{ file.title }} {% include 'documentation/_file_icon.html.twig' with {'file': file} %}</span>
                            <div class="my-secondary file-organization">{{ file.organization }}</div>

                            <div class="w-20 my-secondary file-data mt-3">
                                {% if not file.front %}
                                    <i class="far fa-star mr-2"></i>
                                {% else %}
                                    <i class="fas fa-star mr-2"></i>
                                {% endif %}
                                {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} • {{ file.views }} vue{% if file.views > 1 %}s{% endif %}
                            
                            </div>
                        </td>
                        <td class="w-20 file-author">{% include '_picture.html.twig' with {'user': file.author, 'class': 'small'} %}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div> #}
</a>