{# Si c'est un document (Document) #}
        {% if file.file is defined %}

            {% set document = true %}

            {% set chemin = "{{ vich_uploader_asset(file, 'genericFile')}}" %}
            {% set chemin_update = "" %}
            {% set chemin_delete = "" %}
            {% set fileType =  file.mimeType %}

        {# Si c'est une fiche (Sheet) #}
        {% else %}

            {% set document = false  %}

            {% set chemin = "{{ path('sheet_show', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': file.slug }) }}" %}
            {% set chemin_update = "{{ path('sheet_edit', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': file.slug }) }}" %}
            {% set chemin_delete = "{{ path('sheet_delete', {'slug': category.slug, 'sub_slug': subCategory.slug, 'sheet_slug': file.slug }) }}" %}
            {% set fileType = "sheet" %}

        {% endif %}

        
            <tr class="file-row">
                {# <td>{{ file.id }}</td> #}
                {# Initiales #}
                {% set firstName = file.author.firstName|split('') %}
                {% set lastName = file.author.lastName|split('') %}

                {% set initiales = firstName[0]|upper ~ lastName[0]|upper %}


                <tr>
                <td class="align-middle initiales">
                        {% include '_picture.html.twig' with {'user': file.author, 'class': 'medium'} %}
                </td>
                <td class="align-middle">
                
                    <a href=
                    {% if document %}
                        
                        {{ path('document_show', {'id': file.id }) }}

                    {% else %}
                        {{ path('sheet_show', {'id': file.id }) }}

                    {% endif %}
                    >
                        {{ file.title }}
                    </a><br>
                    {{ file.organization }}<br>
                    {# {% if subtitle == "organization" %}

                        {{ file.organization }}

                    {% else %} 

                        {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}

                    {% endif %}<br> #}
                    {# <span class="badge badge-pill badge-light">
                        {{ file.subcategory.category.pole }}
                    </span> #}
                    <div>
                    <span class="badge badge-light mt-2" style="color: #3a86ff; background-color: rgba(58, 134, 255, 0.15)">
                       <strong> • {{ file.subcategory.category }} </strong>
                    </span>
                    {# <span class="badge badge-pill badge-light">
                        {{ file.subcategory }}
                    </span> #}
                    <span class="ml-1 badge badge-light mt-2" style="color: #6777ef; background-color: rgba(103, 119, 239, 0.15);">
                        <strong> <i class="far fa-clock mr-1"></i> {{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }} </strong>
                    </span>
                    <span class="ml-1 badge badge-light mt-2">
                        <strong> <i class="far fa-eye mr-1"></i> {{ file.views }} </strong>
                    </span>

                        
                </td>
                
            </tr>