{# Définition des variables #}
{% set type = constant('TYPE', sheet) %}
{% set icon = constant('ICON', sheet) %}

{% if sheet.status == "DRAFT" %}

    {% set state = "Brouillon" %}
    {% set icon = "hourglass-half" %}
    {% set state_class = "marine" %}


{% elseif sheet.status == "TO_VALIDATE" %}

    {% set state = "En attente de validation" %}
    {% set icon = "pause-circle" %}
    {% set state_class = "marine" %}

{% elseif sheet.status == "TO_CORRECT" %}

    {% set state = "À corriger" %}
    {% set icon = "exclamation-circle" %}
    {% set state_class = "rouge" %}

{% else %}

    {% if date(sheet.updatedAt) <= date('-6months', 'Europe/Paris') %}

        {% set state = "Obsolète" %}
        {% set icon = "times-circle" %}
        {% set state_class = "rouge" %}

    {% elseif date(file.updatedAt) < date('-5months', 'Europe/Paris') %}

        {% set state = "Bientôt obsolète" %}
        {% set icon = "minus-circle" %}
        {% set state_class = "warning" %}

    {% else %}

        {% set state = "À jour" %}
        {% set icon = "check-circle" %}
        {% set state_class = "success" %}

    {% endif %}

{% endif %}


<div class="card my-card notification {{ state_class }} bg-{{state_class}}-transparent no-border my-4">
    <div class="card-body text-left">

        <table class="my-table notification w-100">
            <tbody>
                <tr>
                    <td class="file-icon-state">
                        <i class="fas fa-{{icon}} {{state_class}}"></i>
                    </td>
                    <td class="file-content text-left pl-1">
                        <div class="file-state">
                            {{ state }}
                        </div>
                        <div class="my-secondary small {{state_class}}">
                            {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
                            à {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
             
                        </div>

                        {% if sheet.status == "TO_CORRECT" %}
                            <div class="text danger comment">
                            <hr style="border-top: 1px solid var(--red-color); opacity: 0.2;">
                                {{ sheet.comment }}
                            </div>
                        {% endif %}
                    </td>
                </tr>

            </tbody>
        </table>


        {% if is_granted("ROLE_ADMIN") and sheet.status == "TO_VALIDATE" %}

            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}

                        {{ form_widget(form.comment) }}
                
                </div>        
            </div>

            <div class="row text-right">
                <div class="col-12 px-1">
                    <button type="submit" id="correction" class="btn btn-my-danger small px-3 mr-2">
                        {# <i class="uil uil-message danger"></i> #}
                        A corriger
                    </button>

                    {{ form_end(form) }}

                    <button id="validation" class="btn btn-my-primary small px-3 mr-3">
                    {# <i class="uil uil-check-circle white"></i>  #}
                    Valider</button>
                </div>
                {# <div class="col-6 px-1">

                </div> #}
            </div>

        {% endif %}

    </div>
</div>



{# A corriger #}
{# {% if sheet.status == "TO_CORRECT" %}
<div class="card my-card notification {% include 'documentation/_file_state_class.html.twig' with {'file': sheet} %} bg-rouge-transparent white no-border mt-4">
    <div class="card-body p-0">

        <table class="my-table notification w-100 rouge">
            <tbody>
                <tr>
                    <td class="file-icon-state black">
                        {% include 'documentation/_file_icon.html.twig' with {'file': sheet} %}
                    </td>
                    <td class="file-content text-left">
                        <div class="file-title">
                            {% include 'documentation/_file_state.html.twig' with {'file': sheet} %}
                        </div>
                        <div class="file-state">
                            {{ sheet.comment }}
                        </div>
                        <div class="notification-time mt-2">
                            {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
                            à {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                            
                                {% if app.user == sheet.author %}
                                    <span class="action float-right">
                                        <a href="{{ path('sheet_delete', {'id': sheet.id }) }}" class="btn btn-my-danger mr-2 float-right"> <i class="uil uil-times"></i> Supprimer</a>
                                        <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-my-danger mr-2 float-right"> <i class="uil uil-pen"></i> Modifier</a>
                                                                        
                                    
                                    </span>
                                {% endif %}
    

                        
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endif %}

{% if sheet.updatedAt < date('-6months', 'Europe/Paris') and sheet.status is null %}

<div class="card my-card notification {% include 'documentation/_file_state_class.html.twig' with {'file': sheet} %} bg-rouge-transparent white no-border mt-4">
    <div class="card-body p-0">

        <table class="my-table notification w-100 rouge">
            <tbody>
                <tr>
                    <td class="file-icon-state black">
                        {% include 'documentation/_file_icon.html.twig' with {'file': sheet} %}
                    </td>
                    <td class="file-content text-left">
                        <div class="file-title">
                            {% include 'documentation/_file_state.html.twig' with {'file': sheet} %}
                        </div>
                        
                            <div class="file-state">
                                {% if app.user == sheet.author %}
                                    Veuillez mettre la fiche à jour
                                {% else %}
                                    Fiche à mettre à jour par son auteur
                                {% endif %}
                            </div>
                        
                        <div class="notification-time mt-2">
                            {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
                            à {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                            
                                {% if app.user == sheet.author %}
                                    <span class="action float-right">
                                        <a href="{{ path('sheet_delete', {'id': sheet.id }) }}" class="btn btn-my-danger mr-2 float-right"> <i class="uil uil-times"></i> Supprimer</a>
                                        <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-my-danger mr-2 float-right"> <i class="uil uil-pen"></i> Modifier</a>
                                                                        
                                    
                                    </span>
                                {% endif %}
    

                        
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endif %}

{% if sheet.updatedAt > date('-6months', 'Europe/Paris') and sheet.updatedAt < date('-5months', 'Europe/Paris') and sheet.status is null %}

<div class="card my-card notification {% include 'documentation/_file_state_class.html.twig' with {'file': sheet} %} bg-orange-transparent white no-border mt-4">
    <div class="card-body p-0">

        <table class="my-table notification w-100 orange">
            <tbody>
                <tr>
                    <td class="file-icon-state black">
                        {% include 'documentation/_file_icon.html.twig' with {'file': sheet} %}
                    </td>
                    <td class="file-content text-left">
                        <div class="file-title">
                            {% include 'documentation/_file_state.html.twig' with {'file': sheet} %}
                        </div>
                            <div class="file-state">
                                {% if app.user == sheet.author %}
                                    Veuillez mettre la fiche à jour
                                {% else %}
                                    Fiche à mettre à jour par son auteur
                                {% endif %}
                            </div>
                        <div class="notification-time mt-2">
                            {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
                            à {{ sheet.updatedAt|localizeddate('none', 'none', 'fr', null, 'HH:mm') }}
                            
                                {% if app.user == sheet.author %}
                                    <span class="action float-right">
                                        <a href="{{ path('sheet_delete', {'id': sheet.id }) }}" class="btn btn-my-warning mr-2 float-right"> <i class="uil uil-times"></i> Supprimer</a>
                                        <a href="{{ path('sheet_edit', {'id': sheet.id }) }}" class="btn btn-my-warning mr-2 float-right"> <i class="uil uil-pen"></i> Mettre à jour</a>
                                                                        
                                    
                                    </span>
                                {% endif %}
    

                        
                        
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endif %}
 #}
