{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Résultats
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}

{% include 'partials/search.html.twig'  %}

    <div class="container">  

        <div class="row">
            <a href="{{ path('doc_index') }}" class="btn btn-primary">Retour</a>
        </div>
        <div class="row mt-3">

            
            <h1>Résultats de recherche pour "{{ query }}"</h1>

            <table class="table table-hover">
            <tbody>
            {% for file in files %}

            {# Si c'est un document (Document) #}
            {% if file.file is defined %}

                {% set document = true %}

                {% set chemin = "{{ vich_uploader_asset(file, 'genericFile')}}" %}
                {% set chemin_update = "{{ path('documet_edit', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'id': file.id }) }}" %}
                {% set chemin_delete = "{{ path('document_delete', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'id': file.id }) }}" %}
                {% set fileType =  file.mimeType %}

                {# autre type #}
                {% set fileIcon = '<i class="far fa-file fa-lg other"></i>'%}

                {# doc / docx / odt #}
                {% if (file.mimeType == 'application/msword' or file.mimeType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' or file.mimeType == 'application/vnd.oasis.opendocument.text' or file.mimeType == 'application/CDFV2') %}
                    {% set fileIcon = '<i class="far fa-file-word fa-lg word"></i>'%}
                {% endif %}

                {# jpg / jpeg / png #}
                {% if (file.mimeType == 'image/jpeg' or file.mimeType == 'image/png') %}
                    {% set fileIcon = '<i class="far fa-file-image fa-lg image"></i>'%}
                {% endif %}

                {# pdf #}
                {% if (file.mimeType == 'application/pdf') %}
                    {% set fileIcon = '<i class="far fa-file-pdf fa-lg pdf"></i>'%}
                {% endif %}

                {# powerpoint #}
                {% if (file.mimeType == 'application/vnd.ms-powerpoint' or file.mimeType == 'application/vnd.openxmlformats-officedocument.presentationml.presentation') %}
                    {% set fileIcon = '<i class="far fa-file-powerpoint fa-lg ppt"></i>'%}
                {% endif %}

                {# excel #}
                {% if (file.mimeType == 'application/vnd.ms-excel' or file.mimeType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') %}
                    {% set fileIcon = '<i class="far fa-file-excel fa-lg excel"></i>'%}
                {% endif %}


            {# Si c'est une fiche (Sheet) #}
            {% else %}

                {% set document = false  %}

                {% set chemin = "{{ path('sheet_show', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'sheet_slug': file.slug }) }}" %}
                {% set chemin_update = "{{ path('sheet_edit', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'sheet_slug': file.slug }) }}" %}
                {% set chemin_delete = "{{ path('sheet_delete', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'sheet_slug': file.slug }) }}" %}
                {% set fileType = "sheet" %}

                {% set fileIcon = '<i class="far fa-file-alt fa-lg sheet"></i>'%}

            {% endif %}

            {# {{ vich_uploader_asset(file, 'genericFile')}} #}

                <tr>
                    <td class="align-middle text-center">{{ fileIcon|raw }}</td>
                    <td class="align-middle">
                        <a href=
                        {% if document %}
                            
                            {{ path('document_show', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'id': file.id }) }}

                        {% else %}
                            {{ path('sheet_show', {'slug': file.subcategory.category.slug, 'sub_slug': file.subCategory.slug, 'sheet_slug': file.slug }) }}

                        {% endif %}

                        
                        
                        >
                            <strong>{{ file.title }}</strong>
                        </a><br>
                        <small>{{ file.organization }}</small>
                    </td>
                    <td class="align-middle text-center">

                        {% if date(file.updatedAt) <= date('-6months', 'Europe/Paris') %}

                            {% set state = "Obsotète" %}
                            {% set state_class = "danger" %}

                        {% elseif date(file.updatedAt) < date('-5months', 'Europe/Paris') %}

                            {% set state = "Bientôt obsolète" %}
                            {% set state_class = "warning" %}

                        {% else %}

                            {% set state = "A jour" %}
                            {% set state_class = "success" %}

                        {% endif %}

                        <span class="badge badge-pill badge-{{state_class}}">
                            {{ state }}
                        </span>
                    </td>
                    <td class="align-middle text-center">{{ file.updatedAt|localizeddate('none', 'none', 'fr', null, 'MMMM Y') }}</td>
                    <td class="align-middle text-center">

                        <div class="dropdown">
                            <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ chemin_update }}">Modifer</a>
                                <a class="dropdown-item" href="{{ chemin_delete }}">Supprimer</a>
                            </div>
                        </div>



                        
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

           
        </div>
        
    </div>

{% endblock %}