{% extends 'base.html.twig' %}

{% block title %}
    Documentation - Résultats
{% endblock %}


{% block header %}
    <h2>Voici mon header !</h2>
{% endblock %}

{% block body %}

<div class="container-fluid bg-white">
    <div class="container search-container mt-0">

        <div class="row">
            <div class="col-12">
                <p class="fil-ariane op-70 mb-0"><a class="black" href="{{ path('homepage') }}">Accueil</a><span class="black"></span> > Recherche</p>
                <form action="{{ path('search_index') }}" method="get" class="search-form">


                    <input id="search-bar" type="text" class="form-control no-focus" name="q" value="{% if query is defined %}{{ query }}{% endif %}" placeholder="Entrez un mot-clé ici">

                    {% set sort = app.request.query.get("sort") %}

                    <div class="mt-3">
                        <input type="submit" class="btn btn-my-primary float-right inline-block" value="Rechercher">
                        <div class="form-group inline-block float-right mr-4">
                            <select class="form-control" id="exampleFormControlSelect1" name="sort">
                                <option value="popular" {% if sort == "popular" or sort == "" %} selected="selected" {% endif %}>Les plus populaires</option>
                                <option value="recent" {% if sort == "recent" %} selected="selected" {% endif %}>Les plus récentes</option>
                                <option value="ancient" {% if sort == "ancient" %} selected="selected" {% endif %}>Les plus anciennes</option>
                            </select>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>

    
    </div>
</div>




{% if query %}

    <div class="container search-container pt-4">
        
        <div class="row">

            <div class="col-lg-3">
                <div class="search-sidebar small mt-1 mb-0">
                    {{ files|length + users|length + antennes|length }} résultat{% if (files|length + users|length + antennes|length) > 1 %}s{% endif %} pour "{{ query }}"
                </div>
            </div>

            <div class="col-lg-9">

            {% if files|length + users|length + antennes|length > 0 %}
                
                {# Users #}
                {% if users|length > 0 %}

                    <div class="mb-6">
                        <div class="my-title mb-1">Personnes</div>
                        
                            {% for user in users %}
                                <a class="select-user" href="{{ path('user_show', {'slug': user.slug })}}">
                                    {{ user.lastName }} {{ user.firstName }}
                                </a>
                            {% endfor %}


                    </div>

                {% endif %}

                {# Antennes #}
                {% if antennes|length > 0 %}
                    <div class="mb-6">
                        <div class="my-title mb-1">Antennes</div>

                        {# From users #}
                        {% set antenne_from_users = false %}
                        {% for user in users %}

                            {% if user.antenne not in antennes %}

                                {% include 'documentation/_search_antenne.html.twig' with {'antenne': user.antenne }  %}

                            {% endif %}

                            {% set antenne_from_users = true %}

                        {% endfor %}

                        {# From antennes name #}
                            {% for antenne in antennes %}

                                {% include 'documentation/_search_antenne.html.twig' with {'antenne': antenne }  %}
                                                    
                            {% endfor %}

                    </div>
                {% endif %}
                

                {# Documentation #}
                {% if files|length > 0 %}
                    <div class="mb-6">
                        <div class="my-title mb-3">Documentation</div>

                            {% for file in files %}
                                {% include 'documentation/_file.html.twig' with {'file': file }  %}
                            {% endfor %}

                    </div>
                {% endif %}

            {# No result #}
            {% else %}

                <p class="text mt-2">Aucun résultat trouvée pour "{{ query }}".</p>


            {% endif %}

            </div>
        </div>

    </div>

{% endif %}




</div>


      


{% endblock %}