{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ category.title }} - {{ subCategory.title }}
{% endblock %}


{% block body %}

{# Si c'est l'utilisateur a les droits #}
{% set admin = false %}

{% for author in subCategory.authors %}
    {% if author is same as(app.user) %}
        {% set admin = true %}
    {% endif %}
{% endfor %}

<div class="bg-marine my-padding">
    <div class="folder-header bg-white pb-4">
        <div class="container">
            <div class="row">
                <div class="col-2">

                    <a href="{{ path('doc_pole', {'id': category.pole.id }) }}" class="btn btn-my-secondary"><i class="uil uil-angle-left-b"></i> {{ category.pole }}</a>
                </div>
                <div class="col-8">
                    <p class="fil-ariane marine">
                        <span href="" class="my-badge mt-1 bg-{{ category.pole.labelColor }} white px-2 py-1">{{ category.pole |slice(0, 1) }}</span>
                        <a href="{{ path('doc_pole', { 'id': category.pole.id }) }}" class="marine"><span class="mx-1 doc-secondary">{{ category.pole }}</span></a>
                        <span class="">></span>
                        <span class="mx-1 doc-secondary">{{ category }}</span>
                    </p>
                    <div class="category-title marine">{{ subCategory.title }}</div>
                    <div class="mt-4">
                        {% for author in subCategory.authors %}

                            {# {% include '_picture.html.twig' with {'user': author, 'class': 'medium'} %} #}

                            <a href="{{ path('user_show', {'slug': author.slug })}}" data-toggle="user-tooltip" data-placement="bottom" data-type="info"
                        title="
                        <div class='p-3 text-left'>
                            <h5 class='mt-2 mb-0'>{{ author.fullName }}</h5>
                            <div class='violet'>
                                <strong>{{ author.poste }}</strong>
                            </div>
                            <div class='my-secondary mt-2 black'>
                                <i class='uil uil-envelope-alt mr-2'></i><a class='black' href='mailto:{{author.email}}'>{{ author.email }}</a>
                            </div>
                            {% if author.phoneNumber %}
                            <div class='my-secondary black mt-1'>
                                <i class='uil uil-phone-alt mr-2'></i>{{ author.phoneNumber }}
                            </div>
                            {% endif %}
                            
                            {% if author.directNumber %}
                            <div class='my-secondary black mt-1'>
                                <i class='uil uil-phone-alt mr-2'></i>{{ author.directNumber }}
                            </div>
                            {% endif %}
                            {% if author.proNumber %}
                            <div class='my-secondary black mt-1'>
                                <i class='uil uil-phone-alt mr-2'></i>{{ author.proNumber }} <span class='op-70'>(pro)</span>
                            </div>
                            {% endif %}
                        </div>">{% include '_picture.html.twig' with {'user': author, 'class': 'medium'} %}</a>

                        {% endfor %}
                    </div>
                </div>
                {# <div class="col-6">
                    <img src="/images/folder.svg" class="folder-illustration" alt="Image d'illustration de la sous-catégorie {{ subCategory }}">
                </div> #}
            </div>
        </div>
    </div>

    {# <img src="/images/curve_inverse.svg" class="folder-curve" alt=""> #}

    <div class="bg-marine pt-4">
        <div class="container files-container">

            <div class="row">

                <div class="col-12 ">
                    <div class="row">
                        <div class="col-8 offset-md-2">

                            {# <a class="btn btn-my-return" href="{{ path('doc_index') }}">
                                <i class="uil uil-arrow-left"></i> Retour à la Documentation
                            </a> #}

                            <ul class="nav nav-pill inline-block align-middle" id="pills-tab" role="tablist">
                                <li class="nav-item inline-block">
                                    <a class="my-pill active" id="pills-online-tab" data-toggle="pill" href="#pills-online" role="tab" aria-controls="pills-home" aria-selected="true"><span class="mr-2" >{{ filesOnline|length }}</span>En ligne</a>
                                </li>

                                {% if admin and filesWaiting|length > 0 %}
                                    <li class="nav-item inline-block">
                                        <a class="my-pill " id="pills-waiting-tab" data-toggle="pill" href="#pills-waiting" role="tab" aria-controls="pills-profile" aria-selected="false"><span class="ml-1" >{{ filesWaiting|length }}</span> En attente</a>
                                    </li>
                                {% endif %}

                            </ul>

                            <div class="dropdown float-right">
                                <button class="btn btn-my-secondary py-1 px-2 larger" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="uil uil-plus"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right my-dropdown " aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item pl-3" href="{{ path('sheet_create_sub', {'id': subCategory.id}) }}"><span class="rounded"><i class="far fa-file my-rounded"></i></span> Créer une fiche</a>
                                    {# <a class="dropdown-item pl-3" href="{{ path('document_create_sub', {'id': subCategory.id}) }}"><span class="rounded"><i class="fas fa-file-upload my-rounded"></i></span> Importer un document</a> #}
                                </div>
                            </div>
                            {# <a href="{{ path('document_create_sub', {'id': subCategory.id}) }}" class="btn btn-my-secondary float-right">Importer un document</a>
                            <a href="{{ path('sheet_create_sub', {'id': subCategory.id}) }}" class="btn btn-my-secondary float-right mr-3">Ajouter une fiche</a> #}

                        </div>
                    </div>

                    <div class="tab-content mt-4" id="pills-tabContent">

                        {# En ligne #}
                        <div class="tab-pane fade show active" id="pills-online" role="tabpanel" aria-labelledby="pills-online-tab">

                            {% if filesOnline|length > 0 %}

                                <div class="row">
                                {% for file in filesOnline %}
                                    
                                    <div class="col-8 offset-md-2 col-md-pull-2">
                                        {% include 'documentation/_file.html.twig' %}
                                    </div>

                                {% endfor %}
                                </div>

                            {% else %}

                                <div class="text text-center p-4" style="min-height: 700px;">Aucune fiche ou document en ligne dans ce dossier</div>

                            {% endif %}
                        
                        </div>

                        {% if admin %}
                            {# En attente #}
                            <div class="tab-pane fade" id="pills-waiting" role="tabpanel" aria-labelledby="pills-waiting-tab">
                                
                                
                                {% if filesWaiting|length > 0 %}
                                    
                                    <div class="row">
                                    {% for file in filesWaiting %}

                                        <div class="col-8 offset-md-2 col-md-pull-2">
                                            {% include 'documentation/_file.html.twig' %}
                                        </div>

                                    {% endfor %}
                                    </div>

                                {% else %}

                                    <div class="text text-center p-4" style="min-height: 700px;">Aucune fiche ou document en attente dans ce dossier</div>

                                {% endif %}                        
                            </div>
                        {% endif %}
                    </div>
            
                    
            
                </div>

                
            </div>
            
        </div>
    </div>
</div>
{% endblock %}