{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ category.title }} - {{ subCategory.title }}
{% endblock %}


{% block body %}

    <div class="jumbotron jumbotron-fluid list-jumbotron">
        <div class="container">
            <p class="fil-ariane">
                    <a class="btn btn-light btn-sm" href="{{ path('doc_index') }}">
                        Retour
                    </a>
                    <a class="btn btn-outline-primary btn-pill btn-sm  btn-category ml-2" style="color: #0067F4">
                        {{ category.title }}
                    </a>

                </p>
            <h1 class="display-4 mt-4">{{ subCategory.title }}</h1>
            <p class="lead">Responsable de la mise à jour : <a href="{{ path('user_show', {'slug': subCategory.author.slug }) }}">{{ subCategory.author.fullName }}</a></p>

            <div class="filters mb-2">

            {% if subCategory.author is same as(app.user) %}
            
                <a href="{{ path('sheet_create', {'slug': category.slug, 'sub_slug': subCategory.slug}) }}" class="btn btn-primary">
                    Ajouter une fiche
                               
                </a>
                <a href="{{ path('document_create', {'slug': category.slug, 'sub_slug': subCategory.slug}) }}" class= "btn btn-primary ml-3">
                    Ajouter un document            
                </a>
            {% endif %}

                {# <span class="float-right tri">Tri : 
                    <a href="#" class="btn btn-secondary btn-sm ml-3">
                        Alphabétique
                    </a>
                    <a href="#" class="btn btn-light btn-sm">
                        Par date            
                    </a>
                    <a href="#" class="btn btn-light btn-sm">
                        Par type            
                    </a>
                    <a href="#" class="btn btn-light btn-sm">
                        Par statut            
                    </a>
               </span> #}
            </div>

            
            
        </div>
    </div>

    <div class="background pt-2">
        <div class="container files-container">
            
        {% if files|length > 0 %}

            {% include 'documentation/_list.html.twig' %}

        {% else %}

            <div class="text text-center p-4" style="min-height: 700px;">Aucune fiche ou document dans ce dossier</div>

        {% endif %}
            
        </div>
    </div>

{% endblock %}