{% extends 'base.html.twig' %}

{% block title %}
    Documentation - {{ category.title }} - {{ subCategory.title }}
{% endblock %}


{% block body %}

    <div class="jumbotron jumbotron-fluid folder-jumbotron">
        <div class="container">

            <div class="row">

                <div class="col-8">
                    
                    <p class="fil-ariane">
                        <span href="" class="my-badge mt-4 pole {{ category.pole.labelColor }}"> • {{ category.pole }}</span>
                    </p>

                    <div class="category-title">{{ category.title }}</div>
                    <div class="category-subtitle">{{ subCategory.title }}

                    
                    
                    

                </div>           
                
                </div>
                <div class="col-4 text-right">

                    <img src="/images/folder.svg" class="folder-illustration" alt="Image d'illustration de la sous-catégorie {{ subCategory }}">
                
                </div>
            
            
            </div>
             
            
        </div>
    </div>

    <div class="background pt-2">
        <div class="container files-container">

            <div class="row">
                <div class="col-4">
                    <a class="btn btn-my-return" href="{{ path('doc_index') }}">
                        <i class="uil uil-arrow-left"></i> Retour à la documentation
                    </a>
                    
                    <div class="card my-card users">
                        <div class="card-body">
                            <div class="card-title">Responsable de la mise à jour</div>
                            <div>
                                {% include 'documentation/_user.html.twig' with {'user': subCategory.author} %}
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                        {# Si je suis l'administrateur de ce dossier #}
                        {% if subCategory.author is same as(app.user) %}
                            
                            <a href="{{ path('document_create', {'slug': category.slug, 'sub_slug': subCategory.slug}) }}" class= "btn btn-my-primary ml-3 float-right">
                                <i class="uil uil-plus"></i> Ajouter un document            
                            </a>
                            <a href="{{ path('sheet_create', {'slug': category.slug, 'sub_slug': subCategory.slug}) }}" class="btn btn-my-primary float-right">
                                <i class="uil uil-plus"></i> Ajouter une fiche
                                        
                            </a>
                        {% endif %}
                        </div>
                    </div> 
            
                    {% if files|length > 0 %}
                
                        {% for file in files %}

                            {% include 'documentation/_file.html.twig' %}

                        {% endfor %}

                    {% else %}

                        <div class="text text-center p-4" style="min-height: 700px;">Aucune fiche ou document dans ce dossier</div>

                    {% endif %}
            
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}