{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}

<div class="container">

    <div class="row account-header">

        <div class="col-12">
            <div class="card my-card no-border my-box pb-0 mt-0">

                {# Header #}
                <div class="w-100 header-profile-card my-box" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 70%), url({{ asset('images/account.jpg') }});">

                    <div class="row">
                        <div class="col-12 col-md-auto">
                            <div style="width: 180px;" class="text-center">

                                <div class="account-picture my-box">
                                    {% include '_picture.html.twig' with {'user': user, 'class': 'large'} %}
                                </div>

                            </div>
                        </div>
                        <div class="col-md account-title">

                                <div class="w-100 account-name">{{ user.fullName }}</div>
                                <div class="w-100 account-poste">

                                    {{ user.poste }} <span class="badge">{{ user.groupe }}</span>
                                    
                                    {% if is_granted('ROLE_ADMIN') %}
                                    
                                        <span class="badge">Administrateur</span>

                                    {% endif %}

                                </div>

                                {# <div class="account-antenne">
                                    <i class="fas fa-map-marker-alt mr-1"></i> {{ user.antenne }}
                                </div> #}

                                {# <div>
                                    {% if user.introduction %}
                                        <span class="introduction">{{ user.introduction }}</span>
                                    {% endif %}
                                </div> #}

                                <div class="stat-table">

                                    <table class="my-table no-border">
                                        <tr>
                                            <td class="text-center stat">{{ user.sheets|length + user.documents|length}} </td>
                                            <td class="text-center stat">{{ user.subCategories|length }}</td>
                                            
                                            {% if user.adminGroupes|length > 0 %}
                                                <td class="text-center stat">{{ user.adminGroupes|length }}</td>
                                            {% endif %}

                                        </tr>
                                        <tr>
                                            <td class="text-center pb-3 px-2 pt-0 op-70 txt">Fiches / Documents</td>
                                            <td class="text-center pb-3 px-3 pt-0 op-70 txt">Sous-catégories</td>
                                            {% if user.adminGroupes|length > 0 %}
                                            <td class="text-center pb-3 px-3 pt-0 op-70 txt">Dossiers suivis</td>
                                            {% endif %}
                                        </tr>

                                        
                                    </table>

                                </div>
                        
                        </div>
                    
                    </div>
                
                </div>
                
                <div class="account-nav px-4">
                    <hr class="mt-4 mb-0">
                    
                    {# <a href="" class="btn active no-br mt-1">Accueil</a>
                    <a href="" class="btn no-br mt-1">Groupe</a>
                    <a href="" class="btn no-br mt-1">Evenements</a> #}

                    <nav>
                        <div class="nav nav-tabs no-border" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active btn no-br mt-1" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Accueil</a>
                            <a class="nav-item nav-link btn no-br mt-1" id="nav-groupe-tab" data-toggle="tab" href="#nav-groupe" role="tab" aria-controls="nav-groupe" aria-selected="false">Groupe</a>
                            <a class="nav-item nav-link btn no-br mt-1" id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab" aria-controls="nav-event" aria-selected="false">Evenements</a>

                            {% if user.adminGroupes|length > 0 %}

                                <a class="nav-item nav-link btn no-br mt-1" id="nav-admin-tab" data-toggle="tab" href="#nav-admin" role="tab" aria-controls="nav-admin" aria-selected="false">Suivi de la documentation</a>

                            {% endif %}
                            
                            <span class="py-2 ml-auto">
                                <a href="{{ path('account_picture_edit', { 'id': user.id }) }}" class="btn btn-my-secondary float-right py-2 px-3 mt-0 no-border">Modifier mon profil</a>
                            </span>
                        
                        </div>
                    </nav>
                    

                    
                    
                
                </div>
                    
        
        
            </div>
        
        </div>

    </div>

    <div class="row">

        {# Sidebar #}
        <div class="col-12 col-md-auto mt-3">
            <div style="width: 350px;" class="account-sidebar">

                <div class="card my-card no-border my-box mt-2 infos-card">

                    <div class="card-body p-4">

                        <h5>A propos</h5>

                        <div class="mb-2">
                            <table class="my-table no-border">

                                {# Antenne #}
                                <tr>
                                    <td class="info-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </td>
                                    <td class="info-content">
                                        <span class="info">{{ user.antenne }}</span>
                                    </td>
                                </tr>

                                {# Phone Number #}
                                <tr>
                                    <td class="info-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </td>
                                    <td class="info-content">
                                       <span class="info">{{ user.phoneNumber }} </span> <span class="badge secondary p-1 ml-1 align-middle">{{ user.directNumber }}</span><br>
                                       {% if user.proNumber %} <span class="info">{{ user.proNumber }}</span> (pro)  {% endif %}
                                    </td>
                                </tr>
                                
                                {# Email #}
                                <tr>
                                    <td class="info-icon">
                                        <i class="fas fa-envelope"></i>
                                    </td>
                                    <td class="info-content">
                                       <span class="info"><a class="violet" href="mailto:{{user.email}}">{{ user.email }}</a></span>
                                    </td>
                                </tr>

                                {# Introduction #}
                                {% if user.introduction %}

                                    <tr>
                                        <td class="info-icon">
                                            <i class="fas fa-briefcase"></i>
                                        </td>
                                        <td class="info-content">
                                        <span class="info">{{ user.introduction }}</span>
                                        </td>
                                    </tr>

                                {% endif %}

                                {# SubCategories #}
                                <tr>
                                    <td class="info-icon">
                                        <i class="fas fa-folder-open"></i>
                                    </td>
                                    <td class="info-content">
                                        <span class="info">
                                            
                                            {% for sub in user.subCategories %}

                                                    <a href="{{ path('doc_show', { 'slug': sub.category.slug, 'sub_slug': sub.slug }) }}" class="black"><span class="violet">{{ sub }}</span></a>
                                                    {% if not loop.last %}
                                                    ,
                                                    {% endif %}


                                            {% endfor %}

                                            
                                        </span>
                                    </td>
                                </tr>

                                {# CreatedAt #}
                                <tr>
                                    <td class="info-icon">
                                        <i class="fas fa-clock"></i>
                                    </td>
                                    <td class="info-content">
                                       <span class="info">Membre depuis {{ user.createdAt|localizeddate('none', 'none', 'fr', null, 'MMMM Y')|capitalize }}</span>
                                    </td>
                                </tr>

                            </table>
                             
                        </div>

                    </div>      
                
                </div>


            </div>
        </div>


        {# Content #}
        <div class="col-12 col-md mt-4 account-content">

            <div class="tab-content" id="nav-tabContent">

                
                {# Home #}
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <div class="card my-card no-border my-box mt-0 mb-4">
                        <div class="card-body pb-2">
                            <h5>Documentation</h5>
                            <div class="row">
                                <div class="col-6 pr-2">
                                    <button data-toggle="modal" data-target="#subModalSheet" data-title="Nouvelle fiche" class="btn btn-my-secondary w-100">
                                    {# <i class="far fa-file mr-3 violet"></i> #}
                                    Créer une fiche
                                    </button>
                                </div>
                                <div class="col-6 pl-2">
                                    <button data-toggle="modal" data-target="#subModalDocument" data-title="Nouveau document" class="btn btn-my-secondary w-100">
                                    {# <i class="fas fa-file-upload mr-3 violet"></i> #}
                                    Importer un document
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {# A corriger #}
                    {% for file in filesToCorrect %}
                        {% include 'documentation/_file.html.twig' %}
                    {% endfor %}

                    {# En attente de validation #}
                    {% for file in filesToValidate %}
                        {% include 'documentation/_file.html.twig' %}
                    {% endfor %}
                    
                    {# Obsolète #}
                    {% for file in filesObsolete %}
                        {% include 'documentation/_file.html.twig' %}
                    {% endfor %}

                    {# Bientôt obsolète #}
                    {% for file in filesWellObsolete %}
                        {% include 'documentation/_file.html.twig' %}
                    {% endfor %}
                    
                    {# A jour #}
                    {% for file in filesUpToDate %}
                        {% include 'documentation/_file.html.twig' %}
                    {% endfor %}


                </div>

                {# Groupe #}
                <div class="tab-pane fade" id="nav-groupe" role="tabpanel" aria-labelledby="nav-groupe-tab">


                    
                    <div class="row">

                        <div class="col-12">

                                <div class="card my-card no-border mt-0 my-box">

                                    <div class="card-body">
                                        <h5 class="mb-0">Groupe</h5>
                                        <p class="text">{{ user.groupe }}</p>

                                            <div class="row px-3">

                                                {% for u in user.groupe.users %}

                                                    {% if u != user %}

                                                    <div class="col-6 px-1">
                                                        <div class="card my-card contact-user mt-0">
                                                            <table class="my-table no-border">
                                                                <tr>
                                                                    <td class="picture">
                                                                        {% include '_picture.html.twig' with {'user': u, 'class': 'medium'} %}
                                                                    </td>
                                                                    <td>
                                                                        <div class="main">{{ u }}</div>
                                                                        <div class="my-secondary">{{ u.poste }}</div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        
                                                        </div>
                                                    </div>

                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                    </div>
                                    
                                </div>

                        </div>
                        
                    </div>
                
                </div>

                {# Events #}
                <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">

                    <div class="row">

                        <div class="col-12">

                                <div class="card my-card no-border mt-0 my-box">

                                    <div class="card-body">
                                        <h5 class="">Evénements</h5>

                                        <p class="text my-4">
                                             En cours de développement.
                                           
                                        </p>
                                    </div>
                                    
                                </div>

                        </div>
                
                </div>
            </div>


        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="subModalSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header no-border pb-0">
        <h4 class="modal-title m-0" id="exampleModalLabel">Nouvelle fiche<span class="font-weight-light"> - Dans quelle sous-catégorie ?</span></h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      {# <p class="px-3 text">Si la sous-catégorie où vous voulez ajouter la fiche n'apparaît pas, contactez votre responsable.</p> #}
      {# <p class="px-3 op-70">Voici les sous-catégories où vous êtes autorisés à ajouter une nouvelle fiche</p> #}
      <div class="modal-body">

            {% for sub in app.user.subCategories %}

                    <div class="select-sub" data-href="{{ path('sheet_create_sub', {'id': sub.id}) }}">
                        {{ sub.category }} - {{ sub }}
                    </div>

            {% endfor %}


      </div>
      <div class="modal-footer no-border">
        
        <button type="button" class="btn rouge" data-dismiss="modal">Annuler</button>
        <a type="button" href="" class="btn btn-my-primary add disabled">C'est parti !</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="subModalDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header no-border pb-0">
        <h4 class="modal-title m-0" id="exampleModalLabel">Nouveau document<span class="font-weight-light"> - Dans quelle sous-catégorie ?</span></h4>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
      {# <p class="px-3 op-70">Voici les sous-catégories où vous êtes autorisés à ajouter une nouvelle fiche</p> #}
      <div class="modal-body">

            {% for sub in app.user.subCategories %}

                    <div class="select-sub" data-href="{{ path('document_create_sub', {'id': sub.id}) }}">
                        {{ sub.category }} - {{ sub }}
                    </div>

            {% endfor %}

      </div>
      <div class="modal-footer no-border">
        <button type="button" class="btn rouge" data-dismiss="modal">Annuler</button>
        <a type="button" href="" class="btn btn-my-primary add disabled">C'est parti !</a>
      </div>
    </div>
  </div>
</div>

    {# <div class="container">
        <div class="row mb-5">
            <div class="col-3 text-center">
                <div class="card profile-card documentation text-center py-3">
                    <div class="card-body">

                        {% include '_picture.html.twig' with {'user': user, 'class': 'large'} %}
                        
                        <div class="card-title mt-4 mb-2">{{ user.firstName }} {{ user.lastName|upper }} </div>
                        <div class="card-text">{{ user.poste.title }}</div>
                        <a href="{{ path('account_picture_edit') }}" class="btn btn-sm btn-outline-light">Modifier ma photo de profil</a>
                        <a href="{{ path('account_password') }}" class="btn btn-sm btn-outline-light mt-2">Modifier mon mot de passe</a>
                        
                    </div>
                </div>

            </div>

            {% if app.user == user %}

                {% set prefix = "Mes" %}

            {% else %}

                {% set prefix = "Ses" %}

            {% endif %}


            <div class="col-9">
                <div class="card">
                        <div class="card-body p-5">
                            <h4 class="">{{ prefix }} informations personnelles
            
                            </h4>
                            {% if user is same as(app.user) %}

                                

                                <span class="mt-3">
                                   
                                    
                                </span>
                                
                            {% endif %} 
                             <div class="row">
                                <div class="col">
                                    <div class="h6 mt-4 mb-0">Email</div>
                                    <div class="info"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                                    <div class="h6 mt-4 mb-0">Antenne</div>
                                    <div class="info">{{ user.antenne.title }}</div>
                                </div>
                                <div class="col">
                                    <div class="h6 mt-4 mb-0">Téléphone</div>
                                    <div class="info">{{ user.phoneNumber }}</div>
                                    <div class="h6 mt-4 mb-0">Groupe</div>
                                    <div class="info">{{ user.groupe.title }}</div>
                                
                                </div>
                            </div>

                            <hr class="mt-4">
                            <h4 class="mt-4">{{ prefix }} dossiers</h4>
                            
                            {% if user.subCategories | length > 0 %}
                                <div class="row p-2">
                                    {% for subCategory in user.subCategories %}

                                        <a href="{{ path('doc_show', {'slug': subCategory.category.slug, 'sub_slug': subCategory.slug }) }}" class="btn btn-sm btn-pill btn-outline-secondary m-1 profile">{{ subCategory.title|upper }}</a>


                                    {% endfor %}
                                
                                </div>
                            {% else %}

                                <div>Aucun dossier</div>

                            {% endif %}
                            <hr class="mt-4">
                            <h4 class="mt-4">{{ prefix }} événements</h4>
                            <div>Aucun événement</div>
                        </div>
                    </div>
                

            </div>
        </div>

    </div> #}

{% endblock %}
