{% extends 'base.html.twig' %}

{% block title %}
    Employés
{% endblock %}

{% block body %}

<div class="container my-container mt-2">
    <div class="row">

        <div class="col-12 col-md-auto profile-sidebar contact-sidebar pl-0">
            <div style="width: 420px;" class="sticky" id="annuaire-sidebar">

            <div class="col-12 px-0 mb-3">

                   <div class="row mb-2">
                        <div class="col-4 pr-1"><a href="{{ path('antennes_show') }}" class="btn btn-my-secondary small w-100 mr-1"> <i class="uil uil-map-marker"></i> <span class="d-none d-sm-inline"> Antennes</span></a></div>
                        <div class="col-4 px-1"><a href="{{ path('organizations_index') }}" class="btn btn-my-secondary small w-100 mr-1"> <i class="uil uil-building"></i><span class="d-none d-sm-inline"> Organismes</span></a></div>
                        <div class="col-4 pl-1 pr-3"><a href="{{ path('users_show') }}" class="btn btn-my-primary small w-100 mr-1"> <i class="uil uil-users-alt"></i><span class="d-none d-sm-inline"> Employés</span></a></div>
                    </div>
            
            </div>
            
            

            <div class="card my-card no-border mt-0 my-box">

            <div class="col-12 pr-2">
                <input type="text" id="myInput" class="form-control mb-2 mt-3" placeholder="Recherche dans la liste">
            </div>
            
            
            {% set prev_letter = "" %}

            {% for user in users %}

                {% set cur_letter = user.lastName|upper|slice(0, 1) %}


                {% if prev_letter != cur_letter %}

                    <div class="ml-4 my-2 letter">
                        {{ cur_letter }}
                    </div>
                    

                {% endif %}
                    
                <div class="col-12 pr-2">
                    <div class="card my-card contact-card filter-card no-border no-br mt-0 mb-1 p-3" data-id="{{ user.id }}" data-name="{{ user.fullName|lower }}">

                        <table class="my-table no-border w-100">
                            <tr>
                                <td class="pr-3">

                                   {% include '_picture.html.twig' with {'user': user, 'class': 'medium'} %}

                                </td>
                                <td class="w-50">
                                    <div class="contact-title m-0">{{ user.lastName }} {{ user.firstName }}</div>
                                    <div class="contact-secondary">
                                        
                                       {{ user.phoneNumber }}
                                       <span class="badge small secondary">{{ user.directNumber }}</span> 
                                        
                                    </div>
                                    <div class="contact-secondary">
                                        
                                        
                                        
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ path('user_show', {'slug': user.slug })}}" class="btn btn-my-secondary small float-right">Profil</a>
                                </td>
                                {# <td class="w-50p contact-secondary pl-4">
                                    <i class="uil uil-user"></i>
                                    <span class="">{{ antenne.users|length }}</span>
                                    
                                    
                                </td> #}
                            </tr>
                        </table>

                    </div>
                </div>

                {% set prev_letter = cur_letter %}

            {% endfor %}

            </div>



            </div>
        </div>
        <div class="col-12 col-md bg-purple-transparent home-content pl-4">

            <div class="row sticky">

                    <div class="col-md-12 pl-0">

                            <div class="card my-card no-border contact-infos no-select no-br mt-0">
                                <div class="card-body">
                                    <p class="text">Sélectionnez un contact pour afficher ses informations</p>
                                </div>
                            </div>

                            {% for user in users %}
                            

                                <div class="card my-card no-border contact-infos contact my-box no-br mt-0 p-4 d-none" data-contact="{{ user.id }}">
                                    {# <div class="contact-map" id="map_{{ antenne.id }}"></div> #}
                                    <div class="card-body">
                                        <a href="{{ path('user_show', {'slug': user.slug })}}" class="btn btn-my-secondary float-right"><i class="fas fa-eye mr-2"></i>Voir profil</a>
                                        {% include '_picture.html.twig' with {'user': user, 'class': 'large'} %}
                                        
                                        <div class="contact-title mt-3">
                                            {{ user }} 
                                        </div>
                                        <div class="my-secondary">{{ user.poste }}</div>
                                        <hr>
                                        
                                            <div class="contact-info copy mt-2">
                                                <i class="uil uil-map-marker"></i>       

                                                    {{ user.antenne }}

                                            </div>
                                        

                                        
                                            <div class="contact-info copy">
                                                <i class="uil uil-phone"></i>
                                                
                                                {% if user.phoneNumber %}

                                                    <span class="target-copy">{{ user.phoneNumber }}</span>
                                                    <i class="far fa-copy copy float-right"></i>

                                                {% else %}

                                                    -

                                                {% endif %}

                                            </div>

                                             {% if user.directNumber %}
                                                <div class="contact-info copy">
                                                    <i class="uil uil-phone"></i>

                                                    <span class="target-copy">{{ user.directNumber }}</span>
                                                    <i class="far fa-copy copy float-right"></i>

                                                </div>
                                            {% endif %}
                                            
                                            {% if user.proNumber %}
                                                <div class="contact-info copy">
                                                    <i class="uil uil-phone"></i>

                                                    <span class="target-copy">{{ user.proNumber }}</span>
                                                    <i class="far fa-copy copy float-right"></i>

                                                </div>
                                            {% endif %}
                                            
                                        

                                        
                                            <div class="contact-info">
                                                <i class="uil uil-envelope-alt"></i>
                                                <a href="mailto:{{user.email}}" class="op-70">{{ user.email }}</a>
                                            </div>
                                        

                                        
                                            
                                        
                                        

                                    </div>
                                </div>
                            {% endfor %}
                        
                    </div>
                       

                    </div>
                
            </div>

        </div>
    </div>

</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}
    Documentation - Tableau de bord
{% endblock %}


{% block body %}


    
    {% include 'account/_dashboard_sidebar.html.twig' %}

    <div class="my-content">

        <div class="main-content">    
            <div class="my-h1">Organismes et interlocuteurs <a href="{{ path('organization_create') }}" class="btn btn-my-primary ml-3"><i class="uil uil-plus"></i> Créer un organisme</a></div>

            <table class="table my-table admin">
                <thead>
                    <tr>
                        <th></th>
                        <th>Organisme <span class="number"><span>{{ organizations|length }}</span></span></th>
                        <th class="text-center">Interlocuteurs</th>
                    </tr>
                </thead>
                <tbody>
                {% set prev_letter = "" %}

                    {% for organization in organizations %}

                        {% set cur_letter = organization.name|upper|slice(0, 1) %}
                        
                        <tr class="organization my-hover" data-organization="{{ organization.id }}">
                            <td class="letter bleu">

                            {% if prev_letter != cur_letter %}

                                {{ cur_letter }}

                            {% endif %}
                            </td>
                            
                            <td>
                            <span class="mr-1">{% include '_organization_logo.html.twig' with {'organization': organization, 'class': 'small'} %}</span>
                            <span class="main">{{ organization }}</span></td>
                            <td class="text-center"><i class="uil uil-user"></i> <span class="main">{{ organization.interlocutors|length }}</span></td>
                        </tr>

                        {% set prev_letter = cur_letter %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="details">

        {% for organization in organizations %}
            <div data-organization="{{ organization.id }}" class="organization d-none">

                <div class="title mb-4">Détails de l'organisme</div>
                <div class="mb-2">
                    {% include '_organization_logo.html.twig' with {'organization': organization, 'class': 'large'} %}
                </div>
                {% if organization.sheets|length == 0 and organization.documents|length == 0 %}
                    <a href="{{ path('organization_delete', {'id': organization.id }) }}" class="my-secondary float-right"> <i class="uil uil-times"></i></a>
                {% endif %}
                    <a href="{{ path('organization_edit', {'id': organization.id }) }}" class="my-secondary float-right"> <i class="uil uil-pen"></i></a>
                <div class="my-secondary main">{{ organization }}</div>
                <div class="my-secondary px-1">{{ organization.fullAddress }}</div>
                <div class="contact mt-2">
                    <div class="my-secondary px-1"><i class="fas fa-sm mr-2 fa-phone-alt"></i>{% if organization.phoneNumber %} {{ organization.phoneNumber }} {% else %} Non renseigné  {% endif %}</div>
                    <div class="my-secondary px-1"><i class="fas fa-sm mr-2 fa-envelope"></i> {% if organization.email %} {{ organization.email }} {% else %} Non renseigné  {% endif %}</div>
                    <div class="my-secondary px-1"><i class="fas fa-sm mr-2 fa-link"></i>{% if organization.website %} <a href="{{ organization.website }}" target="_blank">Voir le site</a> {% else %} Non renseigné  {% endif %}</div>
                </div>

                

                {% if organization.interlocutors|length > 0 %}

                    <div class="title ml-1 my-4">Interlocuteurs</div>

                    {% for interlocutor in organization.interlocutors %}
                        <div class="transparent">
                            <a href="{{ path('interlocutor_delete', {'id': interlocutor.id }) }}" class="my-secondary float-right"> <i class="uil uil-times"></i></a>
                            <a href="{{ path('interlocutor_edit', {'id': interlocutor.id }) }}" class="my-secondary float-right"> <i class="uil uil-pen"></i></a>
                            {% include 'documentation/_user_function.html.twig' with {'user': interlocutor} %}
                        </div>
                        <div class="contact ml-3">
                            <div class="my-secondary"><i class="fas fa-sm mr-2 fa-phone-alt"></i> {{ interlocutor.phoneNumber }}</div>
                            <div class="my-secondary"><i class="fas fa-sm mr-2 fa-envelope"></i> {{ interlocutor.email }}</div>
                        </div>
                        <hr class="my-4">
                    {% endfor %}

                    <a href="{{ path('interlocutor_create', {'id': organization.id }) }}" class="btn btn-my-dark mt-2"><i class="uil uil-plus"></i> Ajouter un interlocuteur</a>

                {% else %}

                    <div class="my-secondary my-4"><i>Aucun interlocuteur</i></div>

                    <a href="{{ path('interlocutor_create', {'id': organization.id }) }}" class="btn btn-my-dark mt-2"><i class="uil uil-plus"></i> Ajouter un interlocuteur</a>

                {% endif %}

            </div>

        {% endfor %}
        </div>
        
    
    </div>


{% endblock %} #}

{% block javascripts %}
<script>

/* Quand l'organisme change, on change également les interlocuteurs */
$( "tr.organization" ).click(function() {
    
    var organization_id = $(this).data('organization');

    //alert(organization_id);

    $("div.organization").addClass("d-none");
    $("div.organization[data-organization='"+ organization_id +"'").removeClass("d-none");


    
});

/* Quand le contact change, on change également les interlocuteurs */
    $( "div.contact-card" ).click(function() {
        
        var contact_id = $(this).data('id');

        //alert(organization_id);

        $("div.no-select").addClass("d-none");
        $("div.contact").addClass("d-none");

        $(".contact-title").removeClass('active');
        $(this).find(".contact-title").addClass('active');

        $("div.contact[data-contact='"+ contact_id +"'").removeClass("d-none");


        // Gestion de la Map
        $(".contact-card").removeClass('active');
        $(this).addClass('active');


        
    });

</script>

<script>

    $(document).ready(function(){

        $("#myInput").on("keyup", function() {

            var value = $(this).val().toLowerCase();

            if(value){

                $('.letter').hide();

            }else{

                $('.letter').show();
            }

            $(".filter-card").filter(function() {

                $(this).toggle($(this).data('name').indexOf(value) > -1)

            });
        });


        $(".contact-info.copy").on("click", function() {

            var $temp = $("<input>");

            $("body").append($temp);
            $temp.val($(this).find(".target-copy").text()).select();
            document.execCommand("copy");

            $temp.remove();

            $(this).find("i.copy").replaceWith("<span class='float-right pr-4 mt-1'>Copié !</span>");

        });



    });

</script>

{% endblock %}